{%- if settings.social_instagram_link != blank -%}
    <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'instagram'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.instagram' | t -}}</span>
      </span>
{%- endif -%}
{%- if settings.social_linkedin_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'linkedin'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.linkedin' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_facebook_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'facebook'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.facebook' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_youtube_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'youtube'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.youtube' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_twitter_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'twitter'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.twitter' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_snapchat_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'snapchat'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.snapchat' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_pinterest_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'pinterest'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.pinterest' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_tiktok_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'tiktok'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.tiktok' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_tumblr_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'tumblr'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.tumblr' | t -}}</span>
  </span>
{%- endif -%}
{%- if settings.social_vimeo_link != blank -%}
  <span class="main-article_social-icon">
      {%- liquid
        unless social_icons_enable == false
          render 'icons-data', width: 17, height: 17, use_icon: true, icon_reference: 'vimeo'
        endunless
      -%}
      <span class="{% unless social_icons_enable == false %}visually-hidden{% endunless %}">{{- 'socials.vimeo' | t -}}</span>
  </span>
{%- endif -%}
