{%- comment -%}
  renders footer email form
  usage
    {%- render 'footer-email-form', prefix_class: section_prefix_class, form_id: id -%}
{%- endcomment -%}
{%- liquid
  capture form_class
    echo 'footer-form' | append: ' ' | append: prefix_class | append: '--footer-form'
  endcapture
-%}
{% form 'customer', id: form_id, class: form_class %}
  <input type="hidden" name="contact[tags]" value="footer">
  <div class="footer-form_form-group">
    <div class="footer-form_group-wrap">
      <input
        id="{{ section.id }}FooterForm-input"
        class="input--large"
        type="email"
        name="contact[email]"
        value="{{- form.email -}}"
        aria-required="true"
        onkeydown="validation()"
        autocapitalize="off"
        autocomplete="email"
        title="{{- 'newsletter.label' | t -}}"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="FooterFormError-{{- section.id -}}"
        {% elsif form.posted_successfully? %}
          aria-describedby="FooterFormSuccess-{{- section.id -}}"
        {% endif %}
        placeholder="{{- 'footer.placeholder' | t -}}"
        required
      >
      <label class="visually-hidden" for="{{ section.id }}FooterForm-input">
        {{- 'footer.heading' | t -}}
      </label>
    </div>
  </div>
  <div class="footer-form_results-wrap results-wrap_message">
    {%- if form.errors -%}
      <div class="footer-form_errors-wrap">
        <div id="FooterFormError-{{- section.id -}}" class="{{ section_prefix_class }}_error-wrapper" role="status">
          <i class="{{ section_prefix_class }}_error-icn">
            {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
          </i>
          <span class="visually-hidden">
            {{- 'newsletter.error_text' | t -}}
          </span>
          {{- form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email -}}
        </div>
      </div>
    {%- endif -%}
  </div>
  <button type="submit" class="footer-form_btn button btn-icn-ixi">
    <span class="btn-icn-ixi_wrapper">
      {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'right-arrow' -%} 
      <span class="visually-hidden">{{- 'newsletter.btn_label' | t -}}</span>
    </span>
  </button>
  <div class="footer-form_results-wrap results-wrap_message">
    {%- if form.posted_successfully? -%}
      <div class="footer-form_success-wrap">
        <div id="FooterFormSuccess-{{- section.id -}}" class="success-message mty" role="alert" tabindex="-1" autofocus>
          <i class="success-message_icn">
            {%- render 'icons-data', width: 54, height: 54, use_icon: true, icon_reference: 'smile' -%}
          </i>
          <p>{{- 'newsletter.success_text' | t -}}</p>
        </div>
      </div>
    {%- endif -%}
  </div>
{% endform %}