{%- comment -%}
  renders mega menu banner on main navigation dropdown item
  usage
    {%- render 'mega-menu-banner', block: block, link: link, link_title: link_title, index: forloop.index, dropdown_link_title: dropdown_link_title, link_handle: link_handle -%}
{%- endcomment -%}
<li class="main-navigation_item mega-menu mega-menu-banner" {{ block.shopify_attributes }}>
  <strong id="{{- link_handle -}}-{{- index -}}-mega-banner-heading-1st-level" class="visually-hidden">{{- dropdown_link_title -}}</strong>
  <dropdown-component data-level="1" {% if section.settings.enable_dropdown_hover %}data-on-hover="true"{% endif %}>
    <button
      type="button"
      class="dropdown-component_opener {% if section.settings.enable_dropdown_hover %}--hover-opener{% endif %} main-navigation_link main-navigation_link--opener"
      aria-expanded="false"
      aria-controls="{{- link_handle -}}-{{- index -}}-mega-banner-1st-level"
      aria-describedby="{{- link_handle -}}-{{- index -}}-mega-banner-heading-1st-level"
    >
      <span class="dropdown--close dropdown-component_opener-icn dropdown-component_opener--icn-close">
        {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'chevron-down', section_id: section_id -%}
      </span>
      <span class="main-navigation_link-title">{{- link_title -}}</span>
      <span class="dropdown--open dropdown-component_opener-icn dropdown-component_opener--icn-open">
        {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'chevron-down', section_id: section_id -%}
      </span>
    </button>
      <div class="dropdown-component_wrapper main-navigation_dropdown-wrapper main-navigation_dropdown-wrapper--level1 main-navigation_dropdown--inner-wrapper mega-banner" id="{{- link_handle -}}-{{- index -}}-mega-banner-1st-level">
        <div class="dropdown-internal-wrapper">
          <strong class="h6 modal-component_heading mty {{ drawer_label_fw }}">
            {{- link_title -}}
          </strong>
          <ul class="list-unstyled main-navigation_dropdown-list main-navigation_dropdown-list--simple">
            {%- for childlink in link.links -%}
              {%- liquid
                assign child_link_title = childlink.title | escape
                assign child_link_handle = childlink.title | handle | escape
                assign check_handle = childlink.url | split: '/' | last
              -%}
              {%- if childlink.links == blank -%}
                <li class="main-navigation_dropdown-item">
                  <a class="main-navigation_dropdown-link main-navigation_dropdown-link--level1 {% if childlink.current %}main-navigation_link--active{% endif %}" href="{{- childlink.url -}}" {% if childlink.current %}aria-current="{{- 'page.current_label' | t -}}"{% endif %}>
                    <span class="main-navigation_child-link">
                      {{- child_link_title -}}
                    </span>
                    {%- render 'dropdown-collection-images', handle: check_handle -%}
                    {%- render 'dropdown-product-images', handle: check_handle -%}
                  </a>
                </li>
                {%- else -%}
                  <li class="main-navigation_dropdown-item --has-dropdown">
                    <strong id="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-heading-2nd-level" class="visually-hidden">
                      {{- child_link_title -}}
                    </strong>
                    <dropdown-component data-level="2">
                      <div class="main-navigation_dropdown-link--level1 main-navigation_dropdown-link main-navigation_dropdown-link--opener">
                        <a class="main-navigation_link-title main-navigation_link-title-transition" href="{{- childlink.url -}}">
                          {{- child_link_title -}}
                        </a>
                        <button
                          type="button"
                          class="dropdown-component_opener main-navigation_dropdown-link main-navigation_dropdown-link--opener"
                          aria-expanded="false"
                          aria-controls="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-2nd-level"
                          aria-describedby="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-heading-2nd-level"
                        >
                          <span class="visually-hidden">
                            {{- child_link_title -}}
                          </span>
                          <i class="dropdown-component_opener-icn dropdown-component_opener--icn-open">
                            {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'plus', section_id: section_id -%}
                          </i>
                          <i class="dropdown-component_opener-icn dropdown-component_opener--icn-close">
                            {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'minus', section_id: section_id -%}
                          </i>
                        </button>
                      </div>
                      <div class="dropdown-component_wrapper main-navigation_dropdown-wrapper main-navigation_dropdown-wrapper--level2 main-navigation_dropdown--inner-wrapper" id="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-2nd-level">
                        <div class="dropdown-internal-wrapper">
                          <ul class="list-unstyled main-navigation_dropdown-list main-navigation_dropdown-list--inner">
                            {%- for grandchildlink in childlink.links -%}
                              {%- liquid
                                assign grandchild_link_title = grandchildlink.title | escape
                                assign grandcheck_handle = grandchildlink.url | split: '/' | last
                              -%}
                              <li class="main-navigation_dropdown-item">
                                <a class="main-navigation_dropdown-link main-navigation_dropdown-link--level2 {% if grandchildlink.current %}main-navigation_link--active{% endif %}" href="{{- grandchildlink.url -}}" {% if grandchildlink.current %}aria-current="{{- 'page.current_label' | t -}}"{% endif %}>
                                  <span class="main-navigation_child-link">
                                    {{- grandchild_link_title -}}
                                  </span>
                                  {%- render 'dropdown-collection-images', handle: grandcheck_handle -%}
                                  {%- render 'dropdown-product-images', handle: grandcheck_handle -%}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </dropdown-component>
                  </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
        <div class="mega-banner_wrapper hover-list_outlet">
          <ul class="list-unstyled mega-banner-list">
            {%- case block.settings.submenu_view -%}
              {%- when 'collections' -%}
                {%- if block.settings.mega_collection != blank -%}
                  {%- for collection in block.settings.mega_collection -%}
                    <li class="mega-banner-list_item hover-list_item">
                      <a class="hover-list_link --v-align-top --text-decoration-none" {% if collection.title != blank %}href="{{- collection.url -}}"{% else %}aria-disabled="true"{% endif %}>
                        <span class="hover-list_over-image --media-size-landscape" style="--media-ratio: 2.4;">
                          {%- if collection.featured_image != blank -%}
                            {{- collection.featured_image | image_url: width: 492 | image_tag: alt: collection.title, class: 'object-fit object-fit--absolute', loading: loading_attr, widths: '415, 700', sizes: '(max-width: 767px) 50vw, 100vw' -}}
                          {%- else -%}
                            {%- render 'placeholder-svgs', type: 'collection', index: forloop.index, class: 'object-fit object-fit--absolute' -%}
                          {%- endif -%}
                      </span>
                        {% if collection.title != blank %}
                          <span class="banner-list_item--link text-size--medium --fw-medium">
                            {{- collection.title -}}
                          </span>
                        {% else %}
                          <span class="banner-list_item--link text-size--medium --fw-medium">
                            {{ 'collection.title' | t }}
                          </span>
                        {% endif %}
                      </a>
                    </li>
                  {%- endfor -%}
                {%- else -%}
                  {%- for i in (1..4) -%}
                    <li class="mega-banner-list_item hover-list_item">
                      <a class="hover-list_link --v-align-top --text-decoration-none" aria-disabled="true">
                        <span class="hover-list_over-image --media-size-landscape" style="--media-ratio: 2.4;">
                          {%- render 'placeholder-svgs', type: 'collection', index: forloop.index, class: 'object-fit object-fit--absolute' -%}
                        </span>
                        <span class="banner-list_item--link text-size--medium --fw-medium">
                          {{- 'collection.title' | t -}}
                        </span>
                      </a>
                    </li>
                  {%- endfor -%}
                {%- endif -%}
              {%- when 'products' -%}
                {%- if block.settings.mega_products != blank -%}
                  {%- for product in block.settings.mega_products -%}
                    <li class="mega-banner-list_item hover-list_item">
                      <a class="hover-list_link --v-align-top --text-decoration-none" {% if product.title != blank %}href="{{- product.url -}}"{% else %}aria-disabled="true"{% endif %}>
                        <span class="hover-list_over-image --media-size-landscape" style="--media-ratio: 2.4;">
                          {%- if product.featured_image != blank -%}
                            {{- product.featured_image | image_url: width: 492 | image_tag: alt: product.title, class: 'object-fit object-fit--absolute', loading: loading_attr, widths: '415, 700', sizes: '(max-width: 767px) 50vw, 100vw' -}}
                          {%- else -%}
                            {%- render 'placeholder-svgs', type: 'collection', index: forloop.index, class: 'object-fit object-fit--absolute' -%}
                          {%- endif -%}
                        </span>
                        <span class="banner-list_item--link text-size--medium --fw-medium">
                          {{- product.title -}}
                        </span>
                      </a>
                    </li>
                  {%- endfor -%}
                {%- else -%}
                  {%- for i in (1..4) -%}
                    <li class="mega-banner-list_item hover-list_item">
                      <a class="hover-list_link --v-align-top --text-decoration-none" aria-disabled="true">
                        <span class="hover-list_over-image --media-size-landscape" style="--media-ratio: 2.4;">
                          {%- render 'placeholder-svgs', type: 'collection', index: forloop.index, class: 'object-fit object-fit--absolute' -%}
                        </span>
                        <span class="banner-list_item--link text-size--medium --fw-medium">
                          {{- 'product.title' | t -}}
                        </span>
                      </a>
                    </li>
                  {%- endfor -%}
                {%- endif -%}
            {%- endcase -%}
          </ul>
        </div>
      </div>
  </dropdown-component>
</li>