{%- comment -%}
  renders mega menu banner on main navigation dropdown item
  usage
    {%- render 'menu-dropdown', link: link, link_title: link_title, index: forloop.index -%}
{%- endcomment -%}
<li class="main-navigation_item --main-menu --has-dropdown {% if other_prefix != blank %}{{ other_prefix }}{% endif %}">
  <strong id="{{- link_handle -}}-{{- index -}}-{{ section_id }}-heading-1st-level" class="visually-hidden">
    {{- link_title -}}
  </strong>
  <dropdown-component data-level="1" {% if section.settings.enable_dropdown_hover %}data-on-hover="true"{% endif %}>
    <button
      type="button"
      class="dropdown-component_opener {% if section.settings.enable_dropdown_hover %}--hover-opener{% endif %} main-navigation_link main-navigation_link--opener"
      aria-expanded="false"
      aria-controls="{{- link_handle -}}-{{- index -}}-{{ section_id }}-1st-level"
      aria-describedby="{{- link_handle -}}-{{- index -}}-{{ section_id }}-heading-1st-level"
    >
      <span class="dropdown--close dropdown-component_opener-icn dropdown-component_opener--icn-close">
        {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'chevron-down', section_id: section_id -%}
      </span>
      <span class="main-navigation_link-title">
        {{- link_title -}}
      </span>
      <span class="dropdown--open dropdown-component_opener-icn dropdown-component_opener--icn-open">
        {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'chevron-down', section_id: section_id -%}
      </span>
    </button>
    <div class="dropdown-component_wrapper main-navigation_dropdown-wrapper main-navigation_dropdown-wrapper--level1 main-navigation_dropdown--inner-wrapper" id="{{- link_handle -}}-{{- index -}}-{{ section_id }}-1st-level">
      <div class="dropdown-internal-wrapper">
        <strong class="h6 modal-component_heading mty {{ drawer_label_fw }}">
          {{- link_title -}}
        </strong>
        <ul class="list-unstyled main-navigation_dropdown-list main-navigation_dropdown-list--simple">
          {%- for childlink in link.links -%}
            {%- liquid
              assign child_link_title = childlink.title | escape
              assign child_link_handle = childlink.title | handle | escape
              assign check_handle = childlink.url | split: '/' | last
            -%}
            {%- if childlink.links == blank -%}
              <li class="main-navigation_dropdown-item">
                <a class="main-navigation_dropdown-link main-navigation_dropdown-link--level1 {% if childlink.current %}main-navigation_link--active{% endif %}" href="{{- childlink.url -}}" {% if childlink.current %}aria-current="{{- 'page.current_label' | t -}}"{% endif %}>
                  <span class="main-navigation_child-link">
                    {{- child_link_title -}}
                  </span>
                  {%- render 'dropdown-collection-images', handle: check_handle -%}
                  {%- render 'dropdown-product-images', handle: check_handle -%}
                </a>
              </li>
              {%- else -%}
                <li class="main-navigation_dropdown-item --has-dropdown">
                  <strong id="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-heading-2nd-level" class="visually-hidden">
                    {{- child_link_title -}}
                  </strong>
                  <dropdown-component data-level="2">
                    <div class="main-navigation_dropdown-link--level1 main-navigation_dropdown-link main-navigation_dropdown-link--opener">
                      <a class="main-navigation_link-title main-navigation_link-title-transition" href="{{- childlink.url -}}">
                        {{- child_link_title -}}
                      </a>
                      <button
                        type="button"
                        class="dropdown-component_opener main-navigation_dropdown-link main-navigation_dropdown-link--opener"
                        aria-expanded="false"
                        aria-controls="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-2nd-level"
                        aria-describedby="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-heading-2nd-level"
                      >
                        <span class="visually-hidden">
                          {{- child_link_title -}}
                        </span>
                        <i class="dropdown-component_opener-icn dropdown-component_opener--icn-open">
                          {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'plus', section_id: section_id -%}
                        </i>
                        <i class="dropdown-component_opener-icn dropdown-component_opener--icn-close">
                          {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'minus', section_id: section_id -%}
                        </i>
                      </button>
                    </div>
                    <div class="dropdown-component_wrapper main-navigation_dropdown-wrapper main-navigation_dropdown-wrapper--level2 main-navigation_dropdown--inner-wrapper" id="{{- child_link_handle -}}-{{- forloop.index -}}-{{ section_id }}-2nd-level">
                      <div class="dropdown-internal-wrapper">
                        <ul class="list-unstyled main-navigation_dropdown-list main-navigation_dropdown-list--inner">
                          {%- for grandchildlink in childlink.links -%}
                            {%- liquid
                              assign grandchild_link_title = grandchildlink.title | escape
                              assign grandcheck_handle = grandchildlink.url | split: '/' | last
                            -%}
                            <li class="main-navigation_dropdown-item">
                              <a class="main-navigation_dropdown-link main-navigation_dropdown-link--level2 {% if grandchildlink.current %}main-navigation_link--active{% endif %}" href="{{- grandchildlink.url -}}" {% if grandchildlink.current %}aria-current="{{- 'page.current_label' | t -}}"{% endif %}>
                                <span class="main-navigation_child-link">
                                  {{- grandchild_link_title -}}
                                </span>
                                {%- render 'dropdown-collection-images', handle: grandcheck_handle -%}
                                {%- render 'dropdown-product-images', handle: grandcheck_handle -%}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>
                  </dropdown-component>
                </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </dropdown-component>
</li>