{%- comment -%}
  renders pagination on grid structures
  usage
    {%- render 'paginaton', prefix_class: 'section_prefix_class' -%}
{%- endcomment -%}

{%- if paginate.parts.size > 0 -%}
  <div
    class="pagination-wrapper {{ prefix_class }}_pagination-wrapper {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
    data-margin="0px 0px -5px 0px"
    data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
    data-options='{"duration":1000,"delay":0,"easing":"ease","fill":"both","iterations":1}'
  >
    <nav class="pagination" role="navigation" aria-label="{{- 'pagination.label' | t -}}">
      <ul class="pagination_list list-unstyled --justify-center">
        {%- if paginate.previous -%}
          <li class="pagination_item">
            <a
              href="{{ paginate.previous.url }}{{ anchor }}"
              class="pagination_link pagination_link--prev"
              aria-label="{{- 'pagination.previous' | t -}}"
            >
              {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'left-pg', section_id: section_id -%}
              <span class="pagination_back-pg">{{ 'pagination.back' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- for part in paginate.parts -%}
          <li class="pagination_item">
            {%- if part.is_link -%}
              <a
                href="{{ part.url }}{{ anchor }}"
                class="pagination_link"
                aria-label="{{- 'pagination.page' | t: number: part.title }}"
              >
                {{- part.title -}}
              </a>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <a
                  aria-disabled="true"
                  class="pagination_link pagination_link--active"
                  aria-current="page"
                  aria-label="{{- 'pagination.page' | t: number: part.title }}"
                >
                  {{- part.title -}}
                </a>
              {%- else -%}
                <span class="pagination__item pagination_link">{{ part.title }}</span>
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endfor -%}
        {%- if paginate.next -%}
          <li class="pagination_item">
            <a
              href="{{ paginate.next.url }}{{ anchor }}"
              class="pagination_link pagination_link--next"
              aria-label="{{- 'pagination.next' | t -}}"
            >
              <span class="pagination_next-pg">{{ 'pagination.next_pg' | t }}</span>
              {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'right-pg', section_id: section_id -%}
            </a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}