{%- comment -%}
  renders product gallery with thumbnails on product templates
  usage
    {%- render 'product-gallery-thumbnails', product: product, show_navigation: section.settings.section_show_navigation, variant_media_attr: media_slider_attr, media_size: section.settings.product_media_size, fetchpriority: true -%}
{%- endcomment -%}
{%- liquid
  capture loading_attr
    unless fetchpriority
      if section.index > 1
        echo 'lazy'
        else
          echo 'eager'
      endif
      else
        echo 'lazy'
    endunless
  endcapture

  assign featured_media = product.selected_or_first_available_variant.featured_media
-%}
  <splide-slider
    data-slider-type="sync"
    class="product-common_vertical-slider {% unless product.media.size > 1 %}--no-space{% endunless %}"
    {{ variant_media_attr }}
  >
    <div
      id="gallery-zoom-in-{{- section.id -}}{{- product.id -}}"
      class="splide main-thumb-slider product-common_slider"
      data-splide='{
        "type": "slide",
        "drag": false,
        "live": true,
        "autoplay": {{ autoplay}},
        "rewind": true,
        "perMove": 1,
        "perPage": 1,
        "arrows": false,
        "pagination": false
      }'
    >
      <div class="splide__track">
        <div class="splide__list">
          {%- if featured_media != null -%}
            {%- liquid
              capture media_ratio
                if media_size == 'adapt'
                  echo featured_media.preview_image.aspect_ratio | default: '1'
                  else 
                    echo '1'
                endif
              endcapture
            -%}
            {%- capture zoom_image_attributes -%}
              {%- render 'product-zoom-largest-attributes', media: featured_media -%}
            {%- endcapture -%}
            <div class="splide__slide" data-media-id="{{- featured_media.id -}}">
              <a
                class="product-common_image product-common_image--slider --media-zoom-in --media-size-{{ media_size }}"
                style="--media-ratio: {{ media_ratio }};"
                {{ zoom_image_attributes }}
              >
                <img
                  srcset="{%- if featured_media.preview_image.width >= 152 -%}{{ featured_media.preview_image | image_url: width: 152 }} 152w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 190 -%}{{ featured_media.preview_image | image_url: width: 190 }} 190w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 222 -%}{{ featured_media.preview_image | image_url: width: 222 }} 222w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 316 -%}{{ featured_media.preview_image | image_url: width: 316 }} 316w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 464 -%}{{ featured_media.preview_image | image_url: width: 464 }} 464w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 512 -%}{{ featured_media.preview_image | image_url: width: 512 }} 512w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 607 -%}{{ featured_media.preview_image | image_url: width: 607 }} 607w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 640 -%}{{ featured_media.preview_image | image_url: width: 640 }} 640w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 789 -%}{{ featured_media.preview_image | image_url: width: 789 }} 789w,{%- endif -%}
                          {{ featured_media.preview_image | image_url }} {{ featured_media.preview_image.width }}w"
                  sizes="(max-width: 414px) calc(100vw - 98px), (max-width: 991px) calc(100vw - 128px), (max-width: 1259px) calc((100vw * 60 / 100) - 15px), calc((var(--cp-width-px) * 60 / 100) - 15px)"
                  src="{{- featured_media.preview_image | image_url: width: 152 -}}"
                  alt="{{- product.title | escape -}}"
                  loading="eager"
                  width="152"
                  height="{{- 152 | divided_by: featured_media.preview_image.aspect_ratio | round -}}"
                  class="object-fit object-fit--absolute"
                >
              </a>
            </div>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- if media.id != featured_media.id -%}
              {%- liquid
                capture media_ratio
                  if media_size == 'adapt'
                    echo media.preview_image.aspect_ratio | default: '1'
                    else 
                      echo '1'
                  endif
                endcapture
              -%}
              {%- if media.media_type == 'model' -%}
                <div class="splide__slide">
                  <div
                    class="product-common_image product-common_image--slider product-common_image--model --media-size-{{ media_size }}"
                    style="--media-ratio: {{ media_ratio }};"
                  >
                    <product-model class="deferred-media" data-media-id="{{ media.id }}">
                      <button data-id="Deferred-Poster-Modal-{{ media.id }}-{{ section.id }}" class="deferred-media__poster" type="button">
                        <img
                          srcset="{%- if media.preview_image.width >= 152 -%}{{ media.preview_image | image_url: width: 152 }} 152w,{%- endif -%}
                                  {%- if media.preview_image.width >= 190 -%}{{ media.preview_image | image_url: width: 190 }} 190w,{%- endif -%}
                                  {%- if media.preview_image.width >= 222 -%}{{ media.preview_image | image_url: width: 222 }} 222w,{%- endif -%}
                                  {%- if media.preview_image.width >= 316 -%}{{ media.preview_image | image_url: width: 316 }} 316w,{%- endif -%}
                                  {%- if media.preview_image.width >= 464 -%}{{ media.preview_image | image_url: width: 464 }} 464w,{%- endif -%}
                                  {%- if media.preview_image.width >= 512 -%}{{ media.preview_image | image_url: width: 512 }} 512w,{%- endif -%}
                                  {%- if media.preview_image.width >= 607 -%}{{ media.preview_image | image_url: width: 607 }} 607w,{%- endif -%}
                                  {%- if media.preview_image.width >= 640 -%}{{ media.preview_image | image_url: width: 640 }} 640w,{%- endif -%}
                                  {%- if media.preview_image.width >= 789 -%}{{ media.preview_image | image_url: width: 789 }} 789w,{%- endif -%}
                                  {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
                          sizes="(max-width: 414px) calc(100vw - 98px), (max-width: 991px) calc(100vw - 128px), (max-width: 1259px) calc((100vw * 60 / 100) - 15px), calc((var(--cp-width-px) * 60 / 100) - 15px)"
                          src="{{- media.preview_image | image_url: width: 152 -}}"
                          alt="{{- product.title | escape -}}"
                          loading="lazy"
                          width="152"
                          height="{{- 152 | divided_by: media.preview_image.aspect_ratio | round -}}"
                          class="object-fit object-fit--absolute"
                        >
                        <span class="deferred-media__poster-icn --v-align-middle --justify-center">
                          {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: '3d' -%}
                        </span>
                        <span class="visually-hidden">
                          {{- 'product.model_toggler_label' | t: product: product.title, index: index -}}
                        </span>
                      </button>
                      <template>
                        {{- media | media_tag: image_size: "2048x", toggleable: true -}}
                      </template>
                    </product-model>
                    <button
                      class="button --v-align-middle --justify-center button--primary product__xr-button"
                      type="button"
                      aria-label="{{- 'product.xr_button_label' | t -}}"
                      data-shopify-xr
                      data-shopify-model3d-id="{{- media.id -}}"
                      data-shopify-title="{{- product.title | escape -}}"
                      data-shopify-xr-hidden
                    >
                      {%- liquid
                        render 'icons-data', width: 16, height: 16, use_icon: true, icon_reference: '3d'
                        echo 'product.xr_button' | t
                      -%}
                    </button>
                  </div>
                </div>
                {%- elsif media.media_type == 'external_video' or media.media_type == 'video' -%}
                  <div class="splide__slide">
                    <div
                      class="product-common_image product-common_image--slider product-common_image--video --media-size-{{ media_size }}"
                      style="--media-ratio: {{ media_ratio }};"
                    >
                      <deferred-media class="deferred-media product-common_deferred-media">
                        <button data-id="Deferred-Poster-Modal-{{ media.id }}-{{ section.id }}" class="deferred-media__poster product-common_poster" type="button">
                          <img
                            srcset="{%- if media.preview_image.width >= 152 -%}{{ media.preview_image | image_url: width: 152 }} 152w,{%- endif -%}
                                    {%- if media.preview_image.width >= 190 -%}{{ media.preview_image | image_url: width: 190 }} 190w,{%- endif -%}
                                    {%- if media.preview_image.width >= 222 -%}{{ media.preview_image | image_url: width: 222 }} 222w,{%- endif -%}
                                    {%- if media.preview_image.width >= 316 -%}{{ media.preview_image | image_url: width: 316 }} 316w,{%- endif -%}
                                    {%- if media.preview_image.width >= 464 -%}{{ media.preview_image | image_url: width: 464 }} 464w,{%- endif -%}
                                    {%- if media.preview_image.width >= 512 -%}{{ media.preview_image | image_url: width: 512 }} 512w,{%- endif -%}
                                    {%- if media.preview_image.width >= 607 -%}{{ media.preview_image | image_url: width: 607 }} 607w,{%- endif -%}
                                    {%- if media.preview_image.width >= 640 -%}{{ media.preview_image | image_url: width: 640 }} 640w,{%- endif -%}
                                    {%- if media.preview_image.width >= 789 -%}{{ media.preview_image | image_url: width: 789 }} 789w,{%- endif -%}
                                    {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
                            sizes="(max-width: 414px) calc(100vw - 98px), (max-width: 991px) calc(100vw - 128px), (max-width: 1259px) calc((100vw * 60 / 100) - 15px), calc((var(--cp-width-px) * 60 / 100) - 15px)"
                            src="{{- media.preview_image | image_url: width: 152 -}}"
                            alt="{{- product.title | escape -}}"
                            loading="lazy"
                            width="152"
                            height="{{- 152 | divided_by: media.preview_image.aspect_ratio | round -}}"
                            class="object-fit object-fit--absolute"
                          >
                          <span class="deferred-media__poster-icn --v-align-middle --justify-center product-common_poster-icn">
                            {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'play' -%}
                          </span>
                          <span class="visually-hidden">
                            {{- 'product.video_toggler_label' | t: product: product.title, index: index -}}
                          </span>
                        </button>
                        <template>
                          {%- case media.media_type -%}
                            {%- when 'external_video' -%}
                              {%- assign video_class = 'js-' | append: media.host -%}
                              {%- if media.host == 'youtube' -%}
                                {{- media | external_video_url: autoplay: false, loop: false, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" -}}
                              {%- else -%}
                                {{- media | external_video_url: autoplay: false, loop: false | external_video_tag: class: video_class, loading: "lazy" -}}
                              {%- endif -%}
                            {%- when 'video' -%}
                              {{- media | media_tag: image_size: "2048x", autoplay: true, loop: false, controls: true, preload: "none" -}}
                          {%- endcase -%}
                        </template>
                      </deferred-media>
                    </div>
                  </div>
                {%- else -%}
                  <div class="splide__slide" data-media-id="{{- media.id -}}">
                    {%- capture zoom_image_attributes -%}
                      {%- render 'product-zoom-largest-attributes', media: media -%}
                    {%- endcapture -%}
                    <a
                      class="product-common_image product-common_image--slider --media-zoom-in --media-size-{{ media_size }}"
                      style="--media-ratio: {{ media_ratio }};"
                      {{ zoom_image_attributes }}
                    >
                      <img
                        srcset="{%- if media.preview_image.width >= 152 -%}{{ media.preview_image | image_url: width: 152 }} 152w,{%- endif -%}
                                {%- if media.preview_image.width >= 190 -%}{{ media.preview_image | image_url: width: 190 }} 190w,{%- endif -%}
                                {%- if media.preview_image.width >= 222 -%}{{ media.preview_image | image_url: width: 222 }} 222w,{%- endif -%}
                                {%- if media.preview_image.width >= 316 -%}{{ media.preview_image | image_url: width: 316 }} 316w,{%- endif -%}
                                {%- if media.preview_image.width >= 464 -%}{{ media.preview_image | image_url: width: 464 }} 464w,{%- endif -%}
                                {%- if media.preview_image.width >= 512 -%}{{ media.preview_image | image_url: width: 512 }} 512w,{%- endif -%}
                                {%- if media.preview_image.width >= 607 -%}{{ media.preview_image | image_url: width: 607 }} 607w,{%- endif -%}
                                {%- if media.preview_image.width >= 640 -%}{{ media.preview_image | image_url: width: 640 }} 640w,{%- endif -%}
                                {%- if media.preview_image.width >= 789 -%}{{ media.preview_image | image_url: width: 789 }} 789w,{%- endif -%}
                                {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
                        sizes="(max-width: 414px) calc(100vw - 98px), (max-width: 991px) calc(100vw - 128px), (max-width: 1259px) calc((100vw * 60 / 100) - 15px), calc((var(--cp-width-px) * 60 / 100) - 15px)"
                        src="{{- media.preview_image | image_url: width: 152 -}}"
                        alt="{{- product.title | escape -}}"
                        loading="lazy"
                        width="152"
                        height="{{- 152 | divided_by: media.preview_image.aspect_ratio | round -}}"
                        class="object-fit object-fit--absolute"
                      >
                    </a>
                  </div>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
    <div
      class="splide product-common_slider-switcher switcher-thumb-slider {% unless product.media.size > 1 %}visually-hidden{% endunless %}"
      data-splide='{
        "type": "slide",
        "live": true,
        "drag": true,
        "autoplay": {{ autoplay }},
        "arrows": {{ show_navigation }},
        "rewind": true,
        "perMove": 1,
        "perPage": 1,
        "pagination": false,
        "isNavigation": true,
        "direction": "ttb",
        "heightRatio": "0.1",
        "gap": "5px"
      }'
    >
      <div class="splide__track">
        <div class="splide__list">
          {%- if featured_media != null -%}
            <div class="splide__slide">
              <div class="product-common_image product-common_image--switcher product-common_switcher-image">
                <img
                  srcset="{%- if featured_media.preview_image.width >= 56 -%}{{ featured_media.preview_image | image_url: width: 56 }} 56w,{%- endif -%}
                          {%- if featured_media.preview_image.width >= 76 -%}{{ featured_media.preview_image | image_url: width: 76 }} 76w{%- endif -%}"
                  sizes="(max-width: 575px) 56px, 76px"
                  src="{{- featured_media.preview_image | image_url: width: 56 -}}"
                  alt="{{- product.title | escape -}}"
                  loading="lazy"
                  width="56"
                  height="{{- 56 | divided_by: featured_media.preview_image.aspect_ratio | round -}}"
                  class="object-fit object-fit--absolute"
                >
              </div>
            </div>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- if media.id != featured_media.id -%}
              {%- if media.media_type == 'model' -%}
                <div class="splide__slide">
                  <div class="product-common_image product-common_image--switcher product-common_switcher-model">
                    <img
                      srcset="{%- if media.preview_image.width >= 56 -%}{{ media.preview_image | image_url: width: 56 }} 56w,{%- endif -%}
                              {%- if media.preview_image.width >= 76 -%}{{ media.preview_image | image_url: width: 76 }} 76w{%- endif -%}"
                      sizes="(max-width: 575px) 56px, 76px"
                      src="{{- media.preview_image | image_url: width: 56 -}}"
                      alt="{{- product.title | escape -}}"
                      loading="lazy"
                      width="56"
                      height="{{- 56 | divided_by: media.preview_image.aspect_ratio | round -}}"
                      class="object-fit object-fit--absolute"
                    >
                    <i class="product-common_image-icn --v-align-middle --justify-center product-common_image-icn--model">
                      {%- render 'icons-data', width: 16, height: 16, use_icon: true, icon_reference: '3d' -%}
                    </i>
                  </div>
                </div>
                {%- elsif media.media_type == 'external_video' or media.media_type == 'video' -%}
                  <div class="splide__slide">
                    <div class="product-common_image product-common_image--switcher product-common_switcher-video">
                      <img
                        srcset="{%- if media.preview_image.width >= 56 -%}{{ media.preview_image | image_url: width: 56 }} 56w,{%- endif -%}
                                {%- if media.preview_image.width >= 76 -%}{{ media.preview_image | image_url: width: 76 }} 76w{%- endif -%}"
                        sizes="(max-width: 575px) 56px, 76px"
                        src="{{- media.preview_image | image_url: width: 56 -}}"
                        alt="{{- product.title | escape -}}"
                        loading="lazy"
                        width="56"
                        height="{{- 56 | divided_by: media.preview_image.aspect_ratio | round -}}"
                        class="object-fit object-fit--absolute"
                      >
                      <i class="product-common_image-icn --v-align-middle --justify-center product-common_image-icn--model">
                        {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'play' -%}
                      </i>
                    </div>
                  </div>
                {%- else -%}
                  <div class="splide__slide">
                    <div class="product-common_image product-common_image--switcher product-common_switcher-image">
                      <img
                        srcset="{%- if media.preview_image.width >= 56 -%}{{ media.preview_image | image_url: width: 56 }} 56w,{%- endif -%}
                                {%- if media.preview_image.width >= 76 -%}{{ media.preview_image | image_url: width: 76 }} 76w{%- endif -%}"
                        sizes="(max-width: 575px) 56px, 76px"
                        src="{{- media.preview_image | image_url: width: 56 -}}"
                        alt="{{- product.title | escape -}}"
                        loading="lazy"
                        width="56"
                        height="{{- 56 | divided_by: media.preview_image.aspect_ratio | round -}}"
                        class="object-fit object-fit--absolute"
                      >
                    </div>
                  </div>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      {%- if show_navigation -%}
        <div class="splide__arrows --justify-center {% unless product.media.size > 1 %}visually-hidden{% endunless %}">
          <button class="splide__arrow splide__arrow--prev button button--primary button--icn">
            <span class="visually-hidden">{{- 'accessibility.slider.previous' | t -}}</span>
            {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'left-arrow' -%}
          </button>
          <button class="splide__arrow splide__arrow--next button button--primary button--icn">
            <span class="visually-hidden">{{- 'accessibility.slider.next' | t -}}</span>
            {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'right-arrow' -%}
          </button>
        </div>
      {%- endif -%}
    </div>
  </splide-slider>