{%- comment -%}
  renders product reel card on section templates
  usage
    {%- render 'product-reel-card', product: block.settings.product, block: block, index: forloop.index -%}
{%- endcomment -%}
{%- liquid
  assign poster = block.settings.cover_image | default: product.featured_media
  if poster == blank
    assign poster = block.settings.upload_video.preview_image
  endif

  capture video_id
    echo block.settings.upload_video.id
  endcapture

  capture product_clean_url
    if product.url contains '?'
      assign parts = product.url | split: '?'
      echo parts[0]
      else
        echo product.url
    endif
  endcapture

  capture product_title
    if product.title != blank
      echo product.title
      else
        echo 'product.title' | t
    endif
  endcapture
-%}
<div
  class="product-reel-card {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
  data-threshold="0.5"
  data-frames='[{"opacity":"0","transform":"translateX(10px)"},{"opacity":"1","transform":"translateX(0px)"}]'
  data-options='{"duration":1000,"easing":"ease","delay":{{ index | times: 100 }},"fill":"both","iterations":1}'
>
  <div class="product-reel-card_image {{ card_media_height }}">
    {%- unless video_id == blank -%}
      <deferred-media class="deferred-media auto-video-card_media" data-media-id="{{ section.id }}-{{ index }}-{{ video_id }}" data-on-hover="true">
        <button data-id="Deferred-Poster-Modal-{{ section.id }}-{{ index }}-{{ video_id }}" class="deferred-media__poster" type="button" tabindex="0">
          {%- if poster != blank -%}
            {%- liquid
              capture image_alt
                if poster.alt != blank
                  echo poster.alt
                  else
                    echo button_text | escape
                endif
              endcapture

              assign image_height = 286 | divided_by: poster.aspect_ratio | round
            -%}
            {{- poster | image_url: width: width_attr | image_tag:
              width: 286,
              height: image_height,
              class: 'object-fit object-fit--absolute',
              loading: loading_attr,
              widths: widths_attr,
              sizes: sizes_attr,
              alt: image_alt
            -}}
            {%- else -%}
              {%- render 'placeholder-svgs', type: 'hero', index: 1, class: 'object-fit object-fit--absolute' -%}
          {%- endif -%}
          <span class="visually-hidden">{{- product_title -}}</span>
        </button>
        <template>
          {%- if block.settings.upload_video != blank -%}
            {{- block.settings.upload_video | video_tag: image_size: width_attr, autoplay: true, preload: false, loop: true, controls: false, muted: true, class: 'object-fit object-fit--absolute' -}}
          {%- endif -%}
        </template>
      </deferred-media>
      {%- else -%}
        <div class="deferred-media auto-video-card_media" data-media-id="{{ section.id }}-{{ index }}-{{ video_id }}" data-on-hover="true">
          <span data-id="Deferred-Poster-Modal-{{ section.id }}-{{ index }}-{{ video_id }}" class="deferred-media__poster">
            {%- if poster != blank -%}
              {%- liquid
                capture image_alt
                  if poster.alt != blank
                    echo poster.alt
                    else
                      echo button_text | escape
                  endif
                endcapture
  
                assign image_height = 286 | divided_by: poster.aspect_ratio | round
              -%}
              {{- poster | image_url: width: width_attr | image_tag:
                width: 286,
                height: image_height,
                class: 'object-fit object-fit--absolute',
                loading: loading_attr,
                widths: widths_attr,
                sizes: sizes_attr,
                alt: image_alt
              -}}
              {%- else -%}
                {%- render 'placeholder-svgs', type: 'hero', index: 1, class: 'object-fit object-fit--absolute' -%}
            {%- endif -%}
            <span class="visually-hidden">{{- product_title -}}</span>
          </span>
        </div>
    {%- endunless -%}
  </div>
  <a {% if product.title != blank %}href="{{- product_clean_url -}}"{% else %}aria-disabled="true"{% endif %} class="product-reel-card_icn">
    {%- liquid
      render 'icons-data', width: 18, height: 18, use_icon: true, icon_reference: 'cart', section_id: section.id
    -%}
    <span class="visually-hidden">
      {{- product.title -}}
    </span>
  </a>
</div>
