{%- comment -%}
  renders variants checkbox option on product templates
  usage
    {%- render 'product-variant-options-swatches', option: option, product_form_id: id, product: product -%}
{%- endcomment -%}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign available_arr = product.variants
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'
-%}
{%- for value in option.values -%}
  {%- liquid
    assign variant_image_url = ''
    for check in available_arr
      if check.option1 == value or check.option2 == value or check.option3 == value
        unless check.featured_media == blank
          assign variant_image_url = check.featured_media.preview_image | image_url: width: 50
        endunless
        break
      endif
    endfor
    
    unless settings.variant_swatches == 'none'
      if settings.variant_swatches == 'swatches'
        assign swatch_value = null
        if value.swatch.image
          assign image_url = value.swatch.image | image_url: width: 50
          assign swatch_value = 'url(' | append: image_url | append: ')'
          assign swatch_focal_point = value.swatch.image.presentation.focal_point
          if swatch_value == blank
            assign custom_values_string = settings.variant_swatches_values
            assign custom_values = custom_values_string | split: '||'
            for custom_value in custom_values
              assign value_data = custom_value | remove: '{' | remove: '}' | split: ','
              assign value_text = value_data[0]
              assign background_color = value_data[1]
              if value_text == value
                assign swatch_value = background_color | file_url | prepend: 'url(' | append: ')'
                break
              endif
            endfor
          endif
          elsif value.swatch.color
            assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
          else
            if swatch_value == blank
              assign custom_values_string = settings.variant_swatches_values
              assign custom_values = custom_values_string | split: '||'
              for custom_value in custom_values
                assign value_data = custom_value | remove: '{' | remove: '}' | split: ','
                assign value_text = value_data[0]
                assign background_color = value_data[1]
                if value_text == value
                  if background_color contains 'png' or background_color contains 'PNG'
                    assign swatch_value = background_color | file_url | prepend: 'url(' | append: ')'
                    else
                      assign swatch_value = background_color
                  endif
                  break
                endif
              endfor
            endif
        endif
        else
          assign swatch_value = null
          assign custom_values_string = settings.variant_swatches_values
          assign custom_values = custom_values_string | split: '||'
          for custom_value in custom_values
            assign value_data = custom_value | remove: '{' | remove: '}' | split: ','
            assign value_text = value_data[0]
            assign background_color = value_data[1]
            if value_text == value
              assign swatch_value = background_color
              break
            endif
          endfor
          if swatch_value == blank
            assign swatch_value = value | downcase | replace: ' ', ''
          endif
      endif
    endunless

    assign option_disabled = true
    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor

    if settings.variant_swatches == 'images'
      unless variant_image_url == blank
        assign swatch_value = variant_image_url | prepend: 'url(' | append: ')'
        else
          assign swatch_value = null
          assign custom_values_string = settings.variant_swatches_values
          assign custom_values = custom_values_string | split: '||'
          for custom_value in custom_values
            assign value_data = custom_value | remove: '{' | remove: '}' | split: ','
            assign value_text = value_data[0]
            assign background_color = value_data[1]
            if value_text == value
              assign swatch_value = background_color | file_url | prepend: 'url(' | append: ')'
              break
            endif
          endfor
      endunless
    endif
  -%}
  {%- unless swatch_value == blank -%}
    <div class="product-variant-option-swatch">
      <input
        type="radio"
        id="{{ section.id }}-{{ product.id }}-{{ product_form_id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ section.id }}-{{ product.id }}-{{ product_form_id }}-{{ option.name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        title="{{ value | escape }}"
        {% if check_selected %}
          {% if selected_variant == value %}
            checked
          {% endif %}
          {% else %}
            {% if option.selected_value == value %}
              checked
            {% endif %}
        {% endif %}
        {% if option_disabled %}
          class="disabled form-control--resest" 
          {% else %}
            class="form-control--resest"
        {% endif %}
      >
      <label
        class="product-variant-option-swatch_label --word-break"
        for="{{ section.id }}-{{ product.id }}-{{ product_form_id }}-{{ option.position }}-{{ forloop.index0 }}"
        style="background: {{ swatch_value }}; {% if swatch_focal_point %}background-position: {{ swatch_focal_point }};{% endif %} background-size: cover;"
      >
        <span class="visually-hidden">
          {{- value -}}
        </span>
        <span class="{% if option_disabled %}visually-hidden{% else %}hidden{% endif %}" data-variant-status-text="">
          {{- 'product.sold_or_unavailable' | t -}}
        </span>
      </label>
    </div>
    {%- else -%}
      <div class="product-variant-option-label">
        <input
          type="radio"
          id="{{ section.id }}-{{ product.id }}-{{ product_form_id }}-{{ option.position }}-{{ forloop.index0 }}"
          name="{{ section.id }}-{{ product.id }}-{{ product_form_id }}-{{ option.name }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          title="{{ value | escape }}"
          {% if option.selected_value == value %}
            checked
          {% endif %}
          {% if option_disabled %}
            class="disabled form-control--resest" 
            {% else %}
              class="form-control--resest"
          {% endif %}
        >
        <label
          class="product-variant-option-label_text --word-break"
          for="{{ section.id }}-{{ product.id }}-{{ product_form_id }}-{{ option.position }}-{{ forloop.index0 }}"
        >
          {{- value -}}
          <span class="{% if option_disabled %}visually-hidden{% else %}hidden{% endif %}" data-variant-status-text="">
            {{- 'product.sold_or_unavailable' | t -}}
          </span>
        </label>
      </div>
    {%- endunless -%}
  {%- endfor -%}