{%- liquid
  assign section_prefix_class = 'promotion-products'

  capture modal_heading
    echo 'promotion_products_popup.heading' | t
  endcapture

  capture image_alt
    if section.settings.banner_image.alt != blank
      echo section.settings.banner_image.alt
      else
        echo 'promotion_products_popup.heading' | t
    endif
  endcapture

  capture content_alignment
    case section.settings.content_alignment
      when 'top'
        echo 'promotion-content-top'
      when 'middle'
        echo 'promotion-content-middle'
      when 'bottom'
        echo 'promotion-content-bottom'
    endcase
  endcapture

  assign widths_attr = '170, 254, 381, 517'
  assign sizes_attr = '(max-width: 412px) 170px, (max-width: 991px) 254px, 381px, 517px'
-%}
<modal-component-popup
  data-modal="modal-promotion-products"
  data-storage="true"
  data-storage-key="promotion_products"
  data-storage-value="true"
  data-hide-outside="false"
  data-trigger="delay"
  data-delay="200"
>
  <div
    class="modal modal-component modal-component--promotion-products modal-component--{{ section.settings.promotion_products_position }} scheme--{{ section.settings.promotion_products_color_scheme }}"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modal-promotion-products-heading"
    aria-describedby="modal-promotion-products"
    tabindex="-1"
  >
    <div class="modal-component_spacer">
      <div class="modal-component_wrapper" id="modal-promotion-products">
        <div class="modal-component_body">
          <div class="modal-component_content">
            <div class="promotion-products --align-{{ section.settings.promotion_products_text_alignment }}">
              <modal-component-toggler
                data-storage="true"
                data-storage-key="promotion_products"
                data-storage-value="true"
              >
                <button
                  type="button"
                  data-expanded="true"
                  data-toggle-attribute="false"
                  data-modal-ref="modal-promotion-products"
                  class="modal-component_btn-close button button--icn">
                  <span class="button_icn-wrapper">
                    {%- render 'icons-data'
                      , width: 14
                      , height: 14
                      , use_icon: true
                      , icon_reference: 'cross' -%}
                    <span class="visually-hidden">{{- 'accessibility.close' | t -}}</span>
                  </span>
                </button>
              </modal-component-toggler>
              <strong id="modal-promotion-products-heading" class="visually-hidden">
                {{- modal_heading -}}
              </strong>
            </div>
            <div class="promotion-products_banner">
              <div class="promotion-products_banner_image scheme--{{ section.settings.banner_color_scheme }}">
                {%- if section.settings.banner_image != blank -%}
                  {{- section.settings.banner_image | image_url: width: 381 | image_tag:
                    alt: image_alt,
                    width: 381,
                    height: section.settings.banner_image.height,
                    widths: widths_attr,
                    sizes: sizes_attr,
                    class: 'object-fit object-fit--absolute'
                  -}}
                  {%- else -%}
                    {%- render 'placeholder-svgs', type: 'hero', index: 2, class: 'object-fit object-fit--absolute' -%}
                {%- endif -%}
                {%- if section.settings.heading != blank or section.settings.promotion_products_caption != blank or section.settings.promotion_products_code != blank -%}
                  <div class="promotion-products_overlay-content --align-{{ section.settings.promotion_products_text_alignment }} {{ content_alignment }}">
                    {%- if section.settings.heading != blank -%}
                      <h2 class="promotion-products_heading {{ section.settings.heading_size }} {{ section.settings.heading_weight }} --word-break mty">
                        {{- section.settings.heading -}}
                      </h2>
                    {%- endif -%}
                    {%- if section.settings.promotion_products_caption != blank or section.settings.promotion_products_code != blank -%}
                      <div class="promotion-products_two-texts">
                        {%- if section.settings.promotion_products_caption != blank -%}
                          <div class="promotion-products_caption text-size--large --fw-semi-bold --word-break mty">
                            {{- section.settings.promotion_products_caption -}}
                          </div>
                        {%- endif -%}
                        {%- if section.settings.promotion_products_code != blank -%}
                          <div class="promotion-products_code --fw-normal --word-break mty">
                            {{- section.settings.promotion_products_code -}}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
            <div class="promotion-products_card">
              <div class="promotion-products_card-label">
                {%- if section.settings.product_card_heading != blank -%}
                  <h3 class="promotion-products_card-heading {{ section.settings.product_card_heading_size }} {{ section.settings.product_card_heading_weight }} --word-break mty">
                    {{- section.settings.product_card_heading -}}
                  </h3>
                {%- endif -%}
              </div>
              <div class="promotion-products_card-products">
                {%- if section.settings.promotion_products != blank -%}
                  {%- for product in section.settings.promotion_products -%}
                    {%- render 'promotion-products-card', product: product, index: forloop.index -%}
                  {%- endfor -%}
                {%- else -%}
                  {%- for product in (1..3) -%}
                    {%- render 'promotion-products-card-placeholder', product: product, index: forloop.index -%}
                  {%- endfor -%}
                {%- endif -%}
              </div>
            </div>
            <a href="{{- routes.root_url -}}" class="visually-hidden">home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</modal-component-popup>