{%- comment -%}
  renders product review row widget on product templates
  usage
    {%- render 'review-row', block: block, index: forloop.index -%}
{%- endcomment -%}
{%- assign block_scheme_class = block.settings.block_color_scheme | prepend: 'scheme scheme--' -%}
<blockquote class="review_quote {{ block_scheme_class }} --align-center">
  {%- if block.settings.block_description != blank -%}
    <q class="review_quote-text --word-break {{ block.settings.block_description_size }} {{ block.settings.block_description_weight }} mty">
      {{- block.settings.block_description -}}
    </q>
  {%- endif -%}
  <div class="review_quote-cite-wrap --v-align-middle">
    {%- unless block.settings.rating == 'none' -%}
      {%- assign rate_limit = block.settings.block_rating | times: 1 -%}
      <ul class="list-unstyled rating-list" aria-label="{{- 'product.rating_label' | t: count: 5 -}}">
        {%- for rate in (1..rate_limit) -%}
          <li class="rating-list_item">
            {%- render 'icons-data', width: 15, height: 13, use_icon: true, icon_reference: 'star-filled', section_id: section_id -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endunless -%}
    {%- if block.settings.heading != blank -%}
      <cite class="review_quote-cite --word-break {{ block.settings.block_heading_weight }} {{ block.settings.block_heading_size }}">
        {{- block.settings.heading -}}
      </cite>
    {%- endif -%}
  </div>
</blockquote>