{%- liquid
  assign section_prefix_class = 'collapsible-with-media'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture cols_order_class
    if section.settings.section_image_order == 'row_reverse'
      echo '--row-reverse'
    endif
  endcapture

  capture section_container_layout
    case section.settings.section_container_layout
      when 'page-width'
        echo 'container'
      when 'contained-content'
        echo 'contained-container'
      when 'container-fluid'
        echo 'container-fluid'
    endcase
  endcapture

  capture section_corner_radius
    case section.settings.section_corner_radius
      when 'top_corners_radius'
        echo 'top_corners_radius'
      when 'bottom_corners_radius'
        echo 'bottom_corners_radius'
      when 'both_corners_radius'
        echo 'both_corners_radius'
      when 'no_corners_radius'
        echo 'no_corner_radius'
    endcase
  endcapture

  capture image_alt
    if section.settings.image != blank
      if section.settings.image.alt != blank
        echo section.settings.image.alt
      else
        echo section.settings.section_heading | escape
      endif
    endif
  endcapture

  capture loading_attr
    if section.index == 1
      echo 'eager'
    else
      echo 'lazy'
    endif
  endcapture

  assign widths_attr = '284, 363, 376, 474, 711'
  assign sizes_attr = '(max-width: 412px) 376px, (max-width: 767px) calc(100vw - 30px), (max-width: 991px) calc((var(--cp-width-px) * 50 / 100) - 70px), calc((var(--cp-width-px) * 40 / 100) - 70px)'
-%}
{%- style -%}
  .collapsible-with-media_col-description .collapsible-accordion .open-close_opener {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 17px 16px 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-family: Syne, sans-serif;
  }

  .collapsible-with-media .collapsible-accordion {
    border-top: 1px solid var(--section-border-color);
  }

  .collapsible-accordion .open-close_opener-icn {
    line-height: 0;
  }

  .collapsible-accordion .open-close_opener--icn-open svg,
  .collapsible-accordion .open-close_opener--icn-close svg {
    padding: 7px;
  }

  .recipient-form > input[type='checkbox']:not(:checked, :disabled) ~ .recipient-fields,
  .--hide-subtotal .quantity-input_subtotal-wrap {
    display: none;
  }

  .open-close .open-close_opener--icn-open {
    transform: rotate(0deg);
    transition: transform 300ms ease;
  }

  .open-close[open] .open-close_opener--icn-open {
    transform: rotate(180deg);
    transition: transform 300ms ease;
  }

  .collapsible-accordion_row--collapsible_row {
    border-bottom: 1px solid var(--section-border-color);
  }

  .collapsible-with-media {
    --q-align-value: var(--mobile-q-align);
    overflow: visible;
  }

  .collapsible-with-media_image-wrap,
  .collapsible-with-media_col-image {
    width: 100%;
  }

  .collapsible-with-media_image-wrap {
    position: sticky;
    top: var(--page-header-height, 0);
    width: 100%;
    border-radius: var(--section-radius);
    overflow: hidden;
  }

  .collapsible-with-media_image-wrap img{
    width: 100%;
    border-radius: inherit;
  }

  .collapsible-with-media_image-wrap svg {
    width: 100%;
    border-radius: inherit;
  }

  .collapsible-with-media .splide__slide {
    --focus-outline-offset: 1px;
  }

  .collapsible-with-media .splide-controls {
    --ixi-text-color: var(--section-secondary-text-color);
    --ixi-bg-color: var(--section-secondary-bg);
    --ixi-bdr-clr: var(--section-secondary-border-color);
    --ixi-bdr-hover-clr: var(--section-secondary-border-color);
    --ixi-text-hover-color: var(--section-secondary-bg);
    --ixi-bg-hover-color: var(--section-secondary-text-color);
    margin-top: 10px;
    gap: 10px;
  }

  .collapsible-with-media_col-image {
    flex-shrink: 0;
    border-radius: var(--section-radius);
  }

  .collapsible-with-media_col-image,
  .collapsible-with-media .heading-head {
    margin-bottom: 25px;
  }

  .collapsible-with-media_col-description {
    flex-grow: 1;
  }

  .collapsible-with-media_heading {
    --mt-bottom: 24px;
    --mt-top: 8px;
  }

  .collapsible-with-media .--row-reverse {
    flex-direction: row-reverse;
  }

  .collapsible-with-media_caption {
    display: block;
  }

  .collapsible-with-media_collapsible-heading {
    margin-bottom: 12px;
  }

  .collapsible-with-media_col-description .open-close_slide-wrapper {
    letter-spacing: 0.09px;
    padding-right: 90px;
    padding-bottom: 18px;
  }

  .collapsible-with-media_wrapper.internal--spacing {
    padding: 15px;
  }

  @media (min-width: 768px) {
    .collapsible-with-media_image-wrap img {
      width: 100%;
      height: 480px;
    }

    .collapsible-with-media_image-wrap svg {
      width: 100%;
      height: 480px;
    }

    .collapsible-with-media {
      --q-align-value: var(--desktop-q-align);
    }

    .collapsible-with-media_wrapper {
      display: flex;
      gap: 41px;
      flex-direction: row;
    }

    .collapsible-with-media_col-image {
      width: 50%;
      margin-bottom: 0;
    }

    .collapsible-with-media_wrapper.internal--spacing {
      padding: 30px;
    }
  }

  @media (min-width: 992px) {
    .collapsible-with-media .splide-controls {
      min-height: 1px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.3s ease, visibility 0.3s ease;
      opacity: 0;
    }

    .collapsible-with-media_col-image:hover .splide-controls {
      opacity: 1;
    }
  }

  @media (min-width: 1260px) {
    .collapsible-with-media_col-image {
      width: 34%;
      margin-bottom: 0;
    }
  }
{%- endstyle -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icn-play-{{ section.id }}">
    <path d="M21.6724 12.2493C22.339 12.6342 22.339 13.5965 21.6724 13.9814L1.64487 25.5442C0.978207 25.9291 0.144873 25.448 0.144873 24.6782L0.144874 1.55245C0.144874 0.782653 0.978208 0.301528 1.64487 0.686429L21.6724 12.2493Z" fill="currentColor"/>
  </symbol>
</svg>
<div
  class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} --q-align  {% if section_container_layout == 'container-fluid' or section_container_layout == 'contained-container' %}{{ section_scheme_class }} {{ section_corner_radius }}{% endif %}"
  style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --mobile-q-align: {{ section.settings.section_mobile_text_alignment }}; --desktop-q-align: {{ section.settings.section_text_alignment }};"
>
  <div class="{{- section_container_layout -}}">
    <div class="{{ section_prefix_class }}_wrapper {% if section_container_layout == 'container' %}{{ section_scheme_class }} {{ section_corner_radius }} internal--spacing{% endif %} {{ cols_order_class }}">
      <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_col-image">
        <div
          class="{{ section_prefix_class }}_image-wrap {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
          data-margin="0px 0px -20px 0px"
          data-frames='[{"opacity":"0","transform":"translateX(-15px)"},{"opacity":"1","transform":"translateX(0px)"}]'
          data-options='{"duration":1000,"easing":"ease","delay":0,"fill":"both","iterations":1}'
        >
          {%- if section.settings.image != blank -%}
            {%- assign image_height = 460 | divided_by: section.settings.image.aspect_ratio | round -%}
            {{-
              section.settings.image
              | image_url: width: 460
              | image_tag:
                class: 'object-fit',
                loading: loading_attr,
                width: 460,
                height: image_height,
                widths: widths_attr,
                sizes: sizes_attr,
                alt: image_alt
            -}}
          {%- else -%}
            {{- 'hero-apparel-1' | placeholder_svg_tag: 'object-fit' -}}
          {%- endif -%}
        </div>
      </div>
      <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_col-description">
        {%- if section.settings.section_heading != blank or section.settings.section_caption != blank or section.settings.section_description != blank -%}
          <header
            class="heading-head inner-container --q-align {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
            data-margin="0px 0px -20px 0px"
            data-frames='[{"opacity":"0","transform":"translateX(15px)"},{"opacity":"1","transform":"translateX(0px)"}]'
            data-options='{"duration":1000,"easing":"ease","delay":0,"fill":"both","iterations":1}'
          >
            {%- if section.settings.section_caption != blank -%}
              <strong class="{{ section_prefix_class }}_caption --word-break {{ section.settings.section_caption_weight }} {{ section.settings.section_caption_size }} mty">
                {{- section.settings.section_caption -}}
              </strong>
            {%- endif -%}
            {%- if section.settings.section_heading != blank -%}
              <h2 class="{{ section_prefix_class }}_heading {{ section.settings.section_heading_size }} {{ section.settings.section_heading_weight }} --h-anchor-none mty">
                {{- section.settings.section_heading -}}
              </h2>
            {%- endif -%}
            {%- if section.settings.section_description != blank -%}
              <div class="{{ section_prefix_class }}_description --word-break {{ section.settings.section_description_weight }} {{ section.settings.section_description_size }} mty">
                {{- section.settings.section_description -}}
              </div>
            {%- endif -%}
          </header>
        {%- endif -%}
        <div class="{{ section_prefix_class }}_rows-wrap --align-left">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'collapse_row' -%}
                {%- liquid
                  capture opener_label
                    if block.settings.heading != blank
                      echo block.settings.heading
                    else
                      echo 'accordion.opener_label' | t: index: forloop.index
                    endif
                  endcapture
                -%}
                <details
                  class="open-close collapsible-accordion --accordion-view {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
                  data-margin="0px 0px -20px 0px"
                  data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
                  data-options='{"duration":1000,"easing":"ease","delay":{{ forloop.index | times: 100 | minus: 100 }},"fill":"both","iterations":1}'
                  {% if block.settings.open_by_default %}
                    open
                  {% endif %}
                  {{ block.shopify_attributes }}
                >
                  <summary
                    class="open-close_opener mty h6 {{ section.settings.collapsible_heading_weight }}"
                    aria-controls="sect-{{ section.id }}-{{ block.id }}"
                    id="{{ section.id }}-{{ block.id }}-accordion"
                  >
                    {{- opener_label -}}
                    <i class="open-close_opener-icn open-close_opener--icn-open">
                      {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'chevron-down' -%}
                    </i>
                  </summary>
                  <div
                    role="region"
                    id="sect-{{ section.id }}-{{ block.id }}"
                    class="open-close_slide"
                    aria-labelledby="{{ section.id }}-{{ block.id }}-accordion"
                  >
                    <div class="open-close_slide-wrapper text-size--large {{ section.settings.collapsible_description_weight }} --word-break">
                      {{- block.settings.description -}}
                    </div>
                  </div>
                </details>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collapsible_with_media.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.head.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:image.label",
      "info": "t:sections.collapsible_with_media.blocks.image.settings.info"
    },
    {
      "type": "text",
      "id": "section_caption",
      "label": "t:caption.label",
      "default": "Caption"
    },
    {
      "type": "select",
      "id": "section_caption_size",
      "label": "t:sizes.caption.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "section_caption_weight",
      "label": "t:weight.caption.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-medium"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:heading.label",
      "default": "Collapsible with media"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-extra-bold"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "t:description_text.label",
      "default": "<p>Click to explore more details with visuals</p>"
    },
    {
      "type": "select",
      "id": "section_description_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--large"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible_with_media.settings.collapse_row.content"
    },
    {
      "type": "select",
      "id": "collapsible_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "select",
      "id": "collapsible_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-light"
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "select",
      "id": "section_image_order",
      "label": "t:media.options.positions.label",
      "options": [
        {
          "value": "row",
          "label": "t:media.options.positions.options.first.label"
        },
        {
          "value": "row_reverse",
          "label": "t:media.options.positions.options.second.label"
        }
      ],
      "default": "row"
    },
    {
      "type": "select",
      "id": "section_container_layout",
      "label": "t:settings_schema.container_layout.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:settings_schema.container_layout.settings.container.label"
        },
        {
          "value": "contained-content",
          "label": "t:settings_schema.container_layout.settings.contained_content.label"
        },
        {
          "value": "container-fluid",
          "label": "t:settings_schema.container_layout.settings.container_fluid.label"
        }
      ],
      "default": "contained-content"
    },
    {
      "type": "select",
      "id": "section_corner_radius",
      "label": "t:round_crnr.label",
      "options": [
        {
          "value": "no_corners_radius",
          "label": "t:round_crnr.options.opt_1.label"
        },
        {
          "value": "top_corners_radius",
          "label": "t:round_crnr.options.opt_2.label"
        },
        {
          "value": "bottom_corners_radius",
          "label": "t:round_crnr.options.opt_3.label"
        },
        {
          "value": "both_corners_radius",
          "label": "t:round_crnr.options.opt_4.label"
        }
      ],
      "default": "both_corners_radius"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.content.desktop.label",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 46,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "t:collapsible_row.name",
      "type": "collapse_row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:heading.label",
          "default": "Collapsible row"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:description_text.label",
          "default": "<p>Collapsible content</p>"
        },
        {
          "type": "checkbox",
          "id": "open_by_default",
          "default": false,
          "label": "t:collapsible_row.default_open.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible_with_media.name",
      "blocks": [
        {
          "type": "collapse_row",
          "settings": {}
        },
        {
          "type": "collapse_row",
          "settings": {
            "open_by_default": true
          }
        },
        {
          "type": "collapse_row",
          "settings": {}
        },
        {
          "type": "collapse_row",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
