{%- liquid
  assign section_prefix_class = 'collection_list'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture max_header_size
    echo settings.page_width | times: section.settings.max_header_size | divided_by: 100
  endcapture

  capture loading_attr
    unless section.index != 1
      echo 'eager'
    else
      echo 'lazy'
    endunless
  endcapture

  capture section_container_layout
    case section.settings.section_container_layout
      when 'page-width'
        echo 'container'
      when 'contained-content'
        echo 'contained-container'
      when 'container-fluid'
        echo 'container-fluid'
    endcase
  endcapture

  capture section_corner_radius
    case section.settings.section_corner_radius
      when 'top_corners_radius'
        echo 'top_corners_radius'
      when 'bottom_corners_radius'
        echo 'bottom_corners_radius'
      when 'both_corners_radius'
        echo 'both_corners_radius'
      when 'no_corners_radius'
        echo 'no_corner_radius'
    endcase
  endcapture

  assign image_sizes = '(max-width: 767px) calc((100vw / 2) - 43px), (max-width: 991px) calc(((100vw / 2) / 2) - 36px), (max-width: 1259px) calc(((100vw / 2) / 2) - 55px), calc(((var(--cp-width-px) / 2) / 2) - 55px)'
-%}
{%- style -%}
  .collection_list{
    --q-align-value: var(--mobile-q-align);
    --desktop-columns-count: 1;
  }

  .collection-card_bar,
  .collection_list .hover-list_over-image img{
    opacity: 0;
  }

  .collection-card:hover .collection-card_bar,
  .collection-card:focus-visible .collection-card_bar,
  .collection_list .hover-collection-card:hover .hover-list_over-image img,
  .collection_list .hover-collection-card:focus-visible .hover-list_over-image img{
    opacity: 1;
  }

  .collection-card:focus-visible{
    padding: 2px;
  }

  .collection_list .heading-head{
    margin-bottom: 24px;
  }

  .collection_list_grid{
    --cp-spacer-left: 6px;
    --cp-spacer-right: 6px;
  }

  .collection_list .internal--spacing .heading-head,
  .internal--spacing .collection_list_grid,
  .internal--spacing .collection_list_slider {
    padding: 0 15px;
  }

  .collection_list_footer,
  .collection_list .hover-list_over-image,
  .collection_list .hover-collection-card:hover .collection-card_animation-bar,
  .collection_list .hover-collection-card:focus-visible .collection-card_animation-bar{
    width: 100%;
  }

  .collection_list_footer{
    margin-top: 24px;
    text-align: center;
  }

  .collection_list_footer-btn{
    --button-font-family: var(--font-headings-family);
  }

  .collection-card,
  .collection_list .hover-collection-card,
  .collection_list .hover-collection-card .collection-card_image{
    position: relative;
  }

  .collection-card_image{
    border-radius: var(--section-radius);
  }

  .collection-card_image svg,
  .collection-card_image img{
    border-radius: inherit;
  }

  .collection-card_heading{
    margin-top: 10px;
  }

  .collection-card_products-counts{
    margin-top: 4px;
  }

  .collection-tags-list,
  .collection_list .hover-list_over-image,
  .collection-card_bar{
    position: absolute;
  }

  .collection-tags-list{
    top: 12px;
    left: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .collection-card_bar,
  .collection-tags-list_text{
    border-radius: var(--section-radius);
  }

  .collection-tags-list_text{
    padding: 4px 9px;
    color: var(--tag-fg);
    background-color: var(--tag-bg);
  }

  .hover-collection-card{
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .hover-collection-card .collection-card_image,
  .collection-card_bar {
    overflow: hidden;
  }

  .collection_list .hover-list_over-image,
  .collection-card_animation-bar{
    height: 100%;
  }

  .collection_list .hover-list_over-image{
    top: 0;
    left: 0;
    z-index: 1;
  }

  .collection_list .hover-list_over-image img{
    transition: opacity 0.7s linear;
  }

  .collection-card_bar {
    bottom: 11px;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 4px;
    background: var(--section-background-color);
  }

  .collection-card_animation-bar,
  .hover-collection-card,
  .collection-tags-list_text{
    display: block;
  }

  .collection-card_animation-bar{
    width: 0;
    background: var(--section-foreground-color);
  }

  .hover-collection-card:hover .collection-card_animation-bar,
  .hover-collection-card:focus-visible .collection-card_animation-bar{
    transition: width 4s linear;
  }

  .hover-collection-card:hover .hover-list_over-image img,
  .hover-collection-card:focus-visible .hover-list_over-image img{
    transition-delay: 3s;
  }

  .hover-collection-card:hover .hover-list_over-image img:nth-child(2),
  .hover-collection-card:focus-visible .hover-list_over-image img:nth-child(2){
    transition-delay: 0s;
  }

  .hover-collection-card:hover .hover-list_over-image img:nth-child(3),
  .hover-collection-card:focus-visible .hover-list_over-image img:nth-child(3){
    transition-delay: 1s;
  }

  .hover-collection-card:hover .hover-list_over-image img:nth-child(4),
  .hover-collection-card:focus-visible .hover-list_over-image img:nth-child(4){
    transition-delay: 2s;
  }

  .collection_list .internal--spacing .splide__arrows{
    right: 30px;
  }

  @media (min-width: 768px) {
    .collection_list{
      --desktop-columns-count: 3;
      --q-align-value: var(--desktop-q-align);
    }

    .collection_list .internal--spacing .heading-head,
    .internal--spacing .collection_list_grid,
    .internal--spacing .collection_list_slider {
      padding: 0 30px;
    }
  }

  @media(min-width: 992px){
    .collection_list{
      --desktop-columns-count: 4;
    }
  }

  @media(min-width: 1200px){
    .collection_list{
      --desktop-columns-count: var(--columns-count);
    }

    .collection_list .--header-padding{
      padding-right: 20%;
    }

    .collection_list .splide__arrows{
      top: -42px;
      width: 18%;
      margin-top: 0;
      position: absolute;
      right: 0;
      justify-content: end;
      gap: 11px;
    }

    .--slider-padding-top{
      margin-top: 10px;
    }
  }

  {%- assign query = '414px' -%}
  @media (min-width: {{ query }}) and (max-width: 767px){
    #{{ section.id }}{
      --desktop-columns-count: {{ section.settings.number_of_columns_on_mobile }};
    }
  }
{%- endstyle -%}
<div
  class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {% if section_container_layout == 'container-fluid' or section_container_layout == 'contained-container' %}{{ section_scheme_class }} {{ section_corner_radius }}{% endif %}"
  id="{{- section.id -}}"
  style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --mobile-q-align: {{ section.settings.section_mobile_text_alignment }}; --desktop-q-align: {{ section.settings.section_text_alignment }}; --mobile-columns-count: {{ section.settings.number_of_columns_on_mobile }}; --columns-count: {{ section.settings.number_of_columns_on_desktop }};"
>
  <div class="{{ section_container_layout }}">
    <div class="{{ section_prefix_class }}_wrapper {% if section_container_layout == 'container' %}{{ section_scheme_class }} {{ section_corner_radius }} internal--spacing{% endif %} {% if section.settings.view_type == 'slideshow' %}{% unless section.settings.section_heading != blank or section.settings.section_caption  != blank or section.settings.section_description != blank %}{% if section.settings.show_pagination %}--slider-padding-top{% endif %}{% endunless %}{% endif %}">
      {%- if section.settings.section_heading != blank
        or section.settings.section_caption != blank
        or section.settings.section_description != blank
      -%}
        <header class="heading-head inner-container --word-break --q-align {% if section.settings.view_type == 'slideshow' %}{% if section.settings.show_pagination %}--header-padding{% endif %}{% endif %}" style="--max-content: {{ max_header_size }}px;">
          {%- if section.settings.section_caption != blank -%}
            <div
              class="{{ section_prefix_class }}_caption h --word-break {{ section.settings.section_caption_size }} {{ section.settings.section_caption_weight }} mty {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
              data-margin="0px 0px -20px 0px"
              data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
              data-options='{"duration":1000,"easing":"ease","delay":0,"fill":"both","iterations":1}'
            >
              {{- section.settings.section_caption -}}
            </div>
          {%- endif -%}
          {%- if section.settings.section_heading != blank -%}
            <h2
              class="{{ section_prefix_class }}_heading --h-anchor-none {{ section.settings.section_heading_size }} {{ section.settings.section_heading_weight }} mty {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
              data-margin="0px 0px -20px 0px"
              data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
              data-options='{"duration":1000,"easing":"ease","delay":150,"fill":"both","iterations":1}'
            >
              {{- section.settings.section_heading -}}
            </h2>
          {%- endif -%}
          {%- if section.settings.section_description != blank -%}
            <div
              class="{{ section_prefix_class }}_description --h-anchor-none {{ section.settings.description_text_size }} {{ section.settings.section_description_weight }} mty {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
              data-margin="0px 0px -20px 0px"
              data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
              data-options='{"duration":1000,"easing":"ease","delay":250,"fill":"both","iterations":1}'
            >
              {{- section.settings.section_description -}}
            </div>
          {%- endif -%}
        </header>
      {%- endif -%}
      {%- case section.settings.view_type -%}
        {%- when 'slideshow' -%}
          <splide-slider
            class="{{ section_prefix_class }}_slider"
            data-slider-type="default"
            {% if request.design_mode %}
              data-go-to="true"
            {% endif %}
          >
            <div
              class="splide {{ section_prefix_class }}_slider {% if section.settings.auto_play %}--animation-enable{% endif %}"
              data-splide='
                {
                  "type": "slide",
                  "drag": true,
                  "autoplay": {{- section.settings.auto_play -}},
                  "rewind": true,
                  "gap": "12px",
                  "perPage": 1,
                  "arrows": false,
                  "pagination": {{- section.settings.show_pagination -}},
                  "interval": {{- section.settings.change_slides_every | times: 1000 -}},
                  "mediaQuery": "min",
                  "breakpoints": {
                    "414": {
                      "perPage": {{ section.settings.number_of_columns_on_mobile }}
                    },
                    "768": {
                      "perPage": 3
                    },
                    "992": {
                      "perPage": 4
                    },
                    "1200": {
                      "perPage": {{ section.settings.number_of_columns_on_desktop }}
                    }
                  }
                }
              '
            >
              <div class="splide__track">
                <div
                  class="splide__list splide-slider--h-scroll"
                  style="--init-divider: {{ section.settings.number_of_columns_on_desktop }}; --init-mob-divider: {{ section.settings.number_of_columns_on_mobile }};"
                >
                  {%- for block in section.blocks -%}
                    {%- liquid
                      capture loading_attr
                        unless section.index != 1
                          unless forloop.index != 1
                            echo 'eager'
                          else
                            echo 'lazy'
                          endunless
                        else
                          echo 'lazy'
                        endunless
                      endcapture

                      assign custom_tags_string = block.settings.collection_custom_badges
                      assign custom_tags = custom_tags_string | split: '||'
                    -%}
                    <div class="splide__slide" {{ block.shopify_attributes }}>
                      {%- render 'collection-card',
                        card: block.settings.collection,
                        prefix_class: section_prefix_class,
                        heading_size: section.settings.card_heading_size,
                        heading_weight: section.settings.card_heading_weight,
                        caption_weight: section.settings.card_caption_weight,
                        media_size: section.settings.card_media_size,
                        show_title: section.settings.show_title,
                        show_counts: section.settings.show_counts,
                        index: forloop.index,
                        custom_image: block.settings.custom_image,
                        content_position: section.settings.card_content_position,
                        heading_tag: 'h2',
                        loading_attr: loading_attr,
                        size_attr: image_sizes,
                        width_attr: '560',
                        widths: '150, 200, 336, 367, 500, 560',
                        custom_tags: custom_tags,
                        show_tags: section.settings.show_tags,
                        show_animation_bar: section.settings.show_animation_bar,
                        show_animation_on_hover: section.settings.show_animation_on_hover,
                        section_id: section.id,
                        columns_division: section.settings.number_of_columns_on_desktop
                      -%}
                    </div>
                  {%- endfor -%}
                </div>
              </div>
              {%- if section.settings.show_pagination -%}
                <div
                  class="splide-controls splide__arrows --justify-center"
                  {% if section.settings.auto_play
                    and section.blocks.size > section.settings.number_of_columns_on_desktop
                  %}
                    style="--spin-duration: {{- section.settings.change_slides_every | times: 1000 -}}ms"
                  {% endif %}
                >
                  <ul
                    class="splide__pagination"
                    role="tablist"
                    aria-label="{{- 'accessibility.slider.pagination_label' | t -}}"
                  ></ul>
                </div>
              {%- endif -%}
            </div>
          </splide-slider>
        {%- when 'grid' -%}
          <div class="grid {{ section_prefix_class }}_grid">
            {%- for block in section.blocks -%}
              {%- liquid
                capture loading_attr
                  unless section.index != 1
                    unless forloop.index != 1
                      echo 'eager'
                    else
                      echo 'lazy'
                    endunless
                  else
                    echo 'lazy'
                  endunless
                endcapture

                assign custom_tags_string = block.settings.collection_custom_badges
                assign custom_tags = custom_tags_string | split: '||'
              -%}
              <div class="grid_col" {{ block.shopify_attributes }}>
                {%- render 'collection-card',
                  card: block.settings.collection,
                  prefix_class: section_prefix_class,
                  heading_size: section.settings.card_heading_size,
                  heading_weight: section.settings.card_heading_weight,
                  caption_weight: section.settings.card_caption_weight,
                  media_size: section.settings.card_media_size,
                  show_title: section.settings.show_title,
                  show_counts: section.settings.show_counts,
                  index: forloop.index,
                  custom_image: block.settings.custom_image,
                  content_position: section.settings.card_content_position,
                  heading_tag: 'h2',
                  loading_attr: loading_attr,
                  size_attr: image_sizes,
                  width_attr: '560',
                  widths: '150, 200, 336, 367, 500, 560',
                  custom_tags: custom_tags,
                  show_tags: section.settings.show_tags,
                  show_animation_bar: section.settings.show_animation_bar,
                  show_animation_on_hover: section.settings.show_animation_on_hover,
                  section_id: section.id,
                  columns_division: section.settings.number_of_columns_on_desktop
                -%}
              </div>
            {%- endfor -%}
          </div>
      {%- endcase -%}
      {%- if section.settings.view_more_label != blank -%}
        <footer class="{{ section_prefix_class }}_footer">
          <a
            {% if section.settings.view_more_link != blank -%}
              href="{{ section.settings.view_more_link }}"
              {% if section.settings.open_new_window %}target="_blank"{% endif -%}
            {% else %}
              aria-disabled="true"
            {% endif %}
            class="{{ section_prefix_class }}_footer-btn button button--secondary --fw-semi-bold button--animate"
          >
            {{- section.settings.view_more_label -}}
          </a>
        </footer>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collection_list.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "view_type",
      "label": "t:sections.collection_list.settings.view_type.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.collection_list.settings.view_type.options.grid.label"
        },
        {
          "value": "slideshow",
          "label": "t:sections.collection_list.settings.view_type.options.slideshow.label"
        }
      ],
      "default": "slideshow"
    },
    {
      "type": "text",
      "id": "section_caption",
      "label": "t:caption.label"
    },
    {
      "type": "select",
      "id": "section_caption_size",
      "label": "t:sizes.caption.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "section_caption_weight",
      "label": "t:weight.caption.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-medium"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:heading.label"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-extra-bold"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "t:description_text.label"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-normal"
    },
    {
      "type": "range",
      "id": "max_header_size",
      "label": "t:sections.head.size.label",
      "min": 50,
      "max": 100,
      "step": 5,
      "default": 60,
      "unit": "%"
    },
    {
      "type": "text",
      "id": "view_more_label",
      "label": "t:settings_schema.buttons.settings.button.label"
    },
    {
      "type": "url",
      "id": "view_more_link",
      "label": "t:settings_schema.buttons.settings.button.link.label"
    },
    {
      "type": "checkbox",
      "id": "open_new_window",
      "label": "t:target_blank.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:main_collections.settings.card.content"
    },
    {
      "type": "select",
      "id": "card_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        },
        {
          "value": "h5",
          "label": "t:sizes.heading.options.opt_5.label"
        },
        {
          "value": "h6",
          "label": "t:sizes.heading.options.opt_6.label"
        }
      ],
      "default": "h6"
    },
    {
      "type": "select",
      "id": "card_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "select",
      "id": "card_media_size",
      "label": "t:media.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:media.options.opt_1.label"
        },
        {
          "value": "square",
          "label": "t:media.options.opt_2.label"
        },
        {
          "value": "portrait",
          "label": "t:media.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:media.options.opt_4.label"
        }
      ],
      "default": "square"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.collection_list.settings.tag.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "t:sections.collection_list.settings.show_title.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_counts",
      "label": "t:sections.collection_list.settings.show_product_counts.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_animation_on_hover",
      "label": "t:sections.collection_list.settings.show_animation_on_hover.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_animation_bar",
      "label": "t:sections.collection_list.settings.show_animation_bar.label",
      "info": "t:sections.collection_list.settings.show_animation_bar.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "select",
      "id": "section_container_layout",
      "label": "t:settings_schema.container_layout.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:settings_schema.container_layout.settings.container.label"
        },
        {
          "value": "contained-content",
          "label": "t:settings_schema.container_layout.settings.contained_content.label"
        },
        {
          "value": "container-fluid",
          "label": "t:settings_schema.container_layout.settings.container_fluid.label"
        }
      ],
      "default": "contained-content"
    },
    {
      "type": "select",
      "id": "section_corner_radius",
      "label": "t:round_crnr.label",
      "options": [
        {
          "value": "no_corners_radius",
          "label": "t:round_crnr.options.opt_1.label"
        },
        {
          "value": "top_corners_radius",
          "label": "t:round_crnr.options.opt_2.label"
        },
        {
          "value": "bottom_corners_radius",
          "label": "t:round_crnr.options.opt_3.label"
        },
        {
          "value": "both_corners_radius",
          "label": "t:round_crnr.options.opt_4.label"
        }
      ],
      "default": "no_corners_radius"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.desktop.label",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "left"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:grid.content"
    },
    {
      "type": "range",
      "id": "number_of_columns_on_desktop",
      "label": "t:grid.desktop.columns.label",
      "min": 2,
      "max": 7,
      "step": 1,
      "default": 7
    },
    {
      "type": "select",
      "id": "number_of_columns_on_mobile",
      "label": "t:grid.mobile.columns.label",
      "info": "t:grid.mobile.info_small",
      "options": [
        {
          "value": "1",
          "label": "t:grid.mobile.columns.options.opt_1.label"
        },
        {
          "value": "2",
          "label": "t:grid.mobile.columns.options.opt_2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:slideshow.content"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:slideshow.auto_play.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:slideshow.show_nav.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_every",
      "label": "t:slideshow.interval.label",
      "min": 2,
      "max": 9,
      "step": 1,
      "default": 9,
      "unit": "s",
      "info": "t:slideshow.interval.info"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "t:sections.collection_list.blocks.collection_block.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection_list.blocks.collection_block.name",
          "info": "t:sections.collection_list.blocks.collection_block.settings.collection.info"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "t:sections.collection_list.blocks.collection_block.settings.custom_image.label",
          "info": "t:sections.collection_list.blocks.collection_block.settings.custom_image.info"
        },
        {
          "type": "text",
          "id": "collection_custom_badges",
          "label": "t:sections.collection_list.settings.tag.name",
          "default": "{Tag,#000000,#FFFFFF}",
          "info": "t:sections.collection_list.blocks.collection_block.settings.custom_badges.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list.name",
      "blocks": [
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        },
        {
          "type": "collection_block",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
