{%- liquid
  assign section_prefix_class = 'activate-account'
  assign section_scheme_class = settings.activate_acc_color_scheme | prepend: 'scheme scheme--'
-%}
{%- style -%}
  .activate-account_form-group + .activate-account_form-group{
    margin-top: 27px;
  }

  .activate-account .align-holder--mcenter .align-holder_wrapper{
    width: 100%;
  }

  .activate-account_form-align{
    padding-top: 44px;
    padding-bottom: 44px;
    max-width: 640px;
    position: relative;
  }

  .activate-account_foot-wrapper{
    --mt-top: 47px;
  }  

  .activate-account_foot-wrapper-btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .activate-account_foot-wrapper-btns .button{
    min-width: calc(50% - 5px);
    flex-grow: 1;
    flex-basis: 0;
  }

  .activate-account .errors-list {
    padding-left: 37px;
    margin-bottom: 30px;
  }

  .activate-account_heading-head{
    margin-bottom: 35px;
  }

  .form__message, 
  .error-email {
    display: flex;
  }

  .form-group{
    position: relative;
  }

  .form__message,
  .error-email {
    align-items: center;
    gap: 10px;
  }

  .form__message {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .newsletter-form_results-wrap,
  .form__message svg,
  .errors-list_link {
    color: var(--section-error-color);
  }

  .success-message .image,
  .errors-list {
    margin-bottom: 10px;
  }

  .errors-list_link {
    text-decoration: none;
  }

  .error-email {
    position: absolute;
    right: 0;
  }

  .error-email,
  .contact__field-error {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .success-message {
    text-align: center;
    margin-top: 39px;
    font-size: 2rem;
    line-height: 3.3rem;
    color: var(--section-success-color);
  }

  .success-message p {
    margin: 0;
  }

  .success-message_icn {
    display: block;
    margin-bottom: 14px;
  }

  .form-group textarea,
  .error-email{
    margin-top: 10px;
  }

  .form-wrapper_btn-wrap{
    margin-top: 19px;
  }

  .form-wrapper_button {
    width: 100%;
    --button-padding-y: 1.1rem;
    --button-padding-x: 1.6rem;
    --button-font-size: 1.4rem;
    --button-line-height: 2rem;
    --button-font-family: var(--body-font-family);
  }

  .activate-account_form-input-lable{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  @media(min-width: 768px){
    .activate-account_form-align {
      padding-left: 40px;
      padding-right: 40px;
    }

    .activate-account_foot-wrapper-btns{
      flex-direction: row;
    }
  }
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}">
  <div class="container-fluid">
    <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--form align-holder align-holder--mcenter">
      <div class="{{ section_prefix_class }}_form-align align-holder_wrapper">
        <header class="{{ section_prefix_class }}_heading-head --align-center">
          <h1 class= "activate-account_heading {{ settings.activate_acc_heading_size }} {{ settings.activate_acc_heading_weight }} mty">
            {{- 'activate_account.title' | t -}}
          </h1>
          <div class= "activate-account_description text-size--medium mty">
            <p>
              {{- 'activate_account.subtext' | t -}}
            </p>
          </div>
        </header>
        <div class="{{ section_prefix_class }}_wrapper">
          {%- form 'activate_customer_password' -%}
            {%- if form.errors -%}
              <strong class="form__message mty" role="alert" tabindex="-1" autofocus>
                {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                {{- 'erorr.common_heading' | t -}}
              </strong>
              <ul class="list-unstyled errors-list">
                {%- for field in form.errors -%}
                  <li>
                    {%- if field == 'form' -%}
                      *{{- form.errors.messages[field] -}}
                    {%- else -%}
                      <a href="#{{ field }}" class="errors-list_link">
                        *{{- form.errors.translated_fields[field] | capitalize }}
                        {{ form.errors.messages[field] -}}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
            <div class="{{ section_prefix_class }}_form-group">
              <div class="{{ section_prefix_class }}_form-group">
                <label for="password" class="{{ section_prefix_class }}_form-input-lable visually-hidden">
                  {{ 'account.pass_label' | t }}
                </label>
                <input
                  type="password"
                  name="customer[password]"
                  id="password"
                  autocomplete="new-password"
                  placeholder="{{ 'account.pass_label' | t }}"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="password-error"
                  {% endif %}
                >
              </div>
              {%- if form.errors contains 'password' -%}
                <small id="password-error" class="form__message error-email">
                  {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                  {{- form.errors.translated_fields.password | capitalize }}
                  {{ form.errors.messages.password -}}
                </small>
              {%- endif -%}
            </div>
            <div class="{{ section_prefix_class }}_form-group" id="password_confirmation-error">
              <label for="password_confirmation" class="{{ section_prefix_class }}_form-input-lable visually-hidden">
                {{- 'account.password_confirm' | t -}}
              </label>
              <input
                type="password"
                name="customer[password_confirmation]"
                id="password_confirmation"
                autocomplete="new-password"
                placeholder="{{ 'account.password_confirm' | t }}"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="password_confirmation-error"
                {% endif %}
              >
              {%- if form.errors contains 'password_confirmation' -%}
                <small id="password_confirmation-error" class="form__message error-email">
                  {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                  {{- form.errors.translated_fields.password_confirmation | capitalize }}
                  {{ form.errors.messages.password_confirmation -}}
                </small>
              {%- endif -%}
            </div>
            <div class="{{ section_prefix_class }}_foot-wrapper {{ section_prefix_class }}_foot-wrapper-btns text-size--large mty --align-center --justify-self">
              <button class="button button--primary button--animate">
                {{- 'activate_account.submit' | t -}}
              </button>
              <button name="decline" class="button button--secondary button--animate">
                {{- 'activate_account.cancel' | t -}}
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main_activate_account.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
  ]
}
{% endschema %}