{%- liquid
  assign section_prefix_class = 'main-password'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
  assign form_id = 'main-password-' | append: section.id

  capture main_heading
    if section.settings.heading != blank
      echo section.settings.heading
      else
        echo 'password.main.main_heading' | t
    endif
  endcapture

  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture
-%}
{%- style -%}
  .main-password{
    --section-padding-top: 0;
    --section-padding-bottom: 0;
    position: relative;
  }

  .main-password_wrapper{
    display: flex;
    justify-content: center;
  }

  .main-password_column{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 50%;
  }

  .main-password_column--image{
    display: none;
  }

  .main-password_logo-heading,
  .main-password_img,
  .main-password_logo-image img,
  .main-password_form-btn{
    width: 100%;
  }

  .main-password_img{
    position: relative;
    height: 100%;
  }

  .main-password_logo-image img{
    padding: 2px;
    
  }

  .main-password_column--form{
    min-height: calc(100vh - 71px);
  }

  .main-password_btn-wrapper{
    --mt-top: 32px;
  }

  .main-password_heading-head{
    margin-bottom: 48px;
  }

  .main-password_form-align{
    padding-top: 44px;
    padding-bottom: 44px;
    max-width: 595px;
    width: 100%;
    position: relative;
  }

  .main-password_form-btn,
  .main-password_logo-image{
    display: block;
  }

  .main-password_error-icn,
  .main-password_role-icn{
    line-height: 0;
  }

  .main-password_form-btn.button--link,
  .main-password_pass-btn.button--link{
    --button-padding-x: 0;
  }

  .main-password_pass-btn .button_icn,
  .main-password_form-btn .button_icn{
    margin-right: 8px;
  }

  .main-password_pass-btn .button_icn,
  .main-password_form-btn .button_icn,
  .main-password_role-icn{
    vertical-align: -0.4em;
  }

  .main-password_form-btn .button_icn,
  .main-password_pass-btn--back .button_icn,
  .main-password_btn--back .button_icn{
    vertical-align: -0.15em;
  }

  .transit{
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    opacity: 0;
    max-height: 0;
    display: none;
  }

  .transit--in{
    opacity: 1;
    max-height: 9999px;
    animation-name: opac-in;
    display: block;
    opacity: 1;
  }

  .transit--in:focus{
    outline: 2px solid currentColor !important;
  }

  .transit--out{
    opacity: 0;
    max-height: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
  }

  .main-password_error-wrapper,
  .main-password_success-wrapper,
  .main-password_results-wrap{
    color: var(--section-error-color);
    font-size: 14px;
    margin-top: 10px;
    outline: none;
  }

  .main-password_error-wrapper{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 6px;
  }

  .main-password_success-wrapper{
    color: var(--section-success-color);
  }

  .main-password_results-wrap:empty{
    display: none;
  }

  .main-password_logo-heading{
    --mt-bottom: 24px;
    --logo-width: var(--logo-mobile-width);
    max-width: var(--logo-width);
    display: inline-block;
    vertical-align: top;
  }

  .main-password_shop-msg{
    margin-top: 24px;
  }

  .main-password_pass-icn{
    color: var(--section-success-color);
    display: block;
    margin-top: 40px;
    margin-bottom: 23px;
    line-height: 1;
  }

  @media(min-width: 768px){
    .main-password_column--image{
      display: block;
    }

    .main-password .container-fluid{
      --cp-spacer-left: 0;
      --cp-spacer-right: 0;
    }

    .main-password_form-align{
      padding-left: 40px;
      padding-right: 40px;
    }

    .main-password_logo-heading{
      --logo-width: var(--logo-desktop-width);
    }
  }
  .{{ section_prefix_class }}-{{ section.id }} .main-password_form-align{
    width: 100%;
  }
{%- endstyle -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icn-lock-{{ section.id }}">
    <path
      d="M4 14V16C4 18 4 22 10 22H14C20 22 20 18 20 16L20 14C20 12 20 8 14 8H10C4 8 4 12 4 14Z"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round" />
    <path
      d="M7 8V6.49999C7 4 8.5 2 12 2C15.5 2 17 4 17 6.49999V8"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round" />
    <path
      d="M12 16V18M12 16C10.8954 16 10 15.1046 10 14C10 12.8954 10.8954 12 12 12C13.1046 12 14 12.8954 14 14C14 15.1046 13.1046 16 12 16Z"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round" />
  </symbol>
</svg>
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}" style="--logo-desktop-width: {{ section.settings.logo_desktop_width }}px; --logo-mobile-width: {{ section.settings.logo_mobile_width }}px;">
  <div class="container-fluid">
    <div class="{{ section_prefix_class }}_wrapper">
      {%- if section.settings.image != blank -%}
        <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--image">
          <div class="{{ section_prefix_class }}_img">
            {%- liquid
              capture image_alt
                if section.settings.image.alt != blank
                  echo section.settings.image.alt
                  else
                    echo main_heading | escape
                endif
              endcapture
            -%}
            {{- section.settings.image | image_url: width: 1944 | image_tag: class: 'object-fit object-fit--absolute', loading: loading_attr, alt: image_alt, widths: '972, 1944', sizes: '(max-width: 767px) 972vw, 1944vw' -}}
          </div>
        </div>
      {%- endif -%}
      <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--form align-holder align-holder--mcenter">
        <div class="{{ section_prefix_class }}_form-align align-holder_wrapper">
          <h1 class="{{ section_prefix_class }}_logo-heading h6 mty">
            <a href="{{- routes.root_url -}}" class="{{ section_prefix_class }}_logo-image">
              {%- liquid
                assign logo_alt = section.settings.logo.alt | default: shop.name | escape
                assign logo_height = 610 | divided_by: section.settings.logo.aspect_ratio
                assign logo_height = logo_height | round
              -%}
              {%- if section.settings.logo != blank -%}
                {%- capture sizes -%}
                  (max-width: {{ 610 | times: 2 }}px) 50vw, {{ 610 }}px
                {%- endcapture -%}
                {%- capture widths -%}
                  {{ 610 }}, {{ 610 | times: 1.5 | round }}, {{ 610 | times: 2 }}
                {%- endcapture -%}
                {{- section.settings.logo | image_url: width: 610 | image_tag: class: '', widths: widths, height: logo_height, alt: logo_alt, sizes: sizes, preload: true -}}
                {%- else -%}
                  {{- shop.name -}}
              {%- endif -%}
            </a>
          </h1>
          <password-component>
            <div id="access-email" class="transit transit--in">
              {%- if section.settings.heading != blank -%}
                <header class="{{ section_prefix_class }}_heading-head">
                  <h2 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section.settings.section_heading_weight }} {{ section.settings.section_heading_size }} mty">
                    {{- main_heading -}}
                  </h2>
                </header>
                {%- else -%}
                  <header class="visually-hidden">
                    <h2>
                      {{- main_heading -}}
                    </h2>
                  </header>
              {%- endif -%}
              {%- form 'customer', id: form_id, class: 'isolate' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="{{ section_prefix_class }}_form-group">
                  <label for="emailaddress" class="{{ section_prefix_class }}_form-input-lable text-size--medium visually-hidden">
                    {{- 'account.email_label' | t -}}
                  </label>
                  <input
                    id="emailaddress"
                    type="email"
                    placeholder="{{- 'account.email_label' | t -}}"
                    name="contact[email]"
                    autocapitalize="off"
                    autocomplete="email"
                    value="{{ form.email }}"
                    aria-required="true"
                    onkeydown="validation()"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-email-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="PasswordLoginForm-email-success"
                    {% endif %}
                    required
                  >
                  <div class="{{ section_prefix_class }}_results-wrap results-wrap_message"></div>
                  {%- if form.errors -%}
                    <div id="PasswordLoginForm-email-error" class="{{ section_prefix_class }}_error-wrapper" role="status">
                      <i class="{{ section_prefix_class }}_error-icn">
                        {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                      </i>
                      <span class="visually-hidden">
                        {{- 'erorr.error_text' | t -}}
                      </span>
                      {{- 'erorr.mail_form_error' | t -}}
                    </div>
                  {%- endif -%}
                </div>
                <div class="{{ section_prefix_class }}_btn-wrapper mty">
                  <button type="submit" class="button button--secondary {{ section_prefix_class }}_form-btn button--animate">
                    {{- 'password.main.notify_btn_label' | t -}}
                  </button>
                </div>
                {%- if form.posted_successfully? -%}
                  <div id="PasswordLoginForm-email-success" class="{{ section_prefix_class }}_success-wrapper --align-center text-size--large" role="status" tabindex="-1" autofocus>
                    <span class="visually-hidden">
                      {{- 'success.success_text' | t -}}
                    </span>
                    <i class="{{ section_prefix_class }}_pass-icn">
                      {%- render 'icons-data', width: 54, height: 54, use_icon: true, icon_reference: 'smile' -%}
                    </i>
                    {{- 'success.thanks_message' | t -}}
                    <br>
                    {{- 'success.get_back_message' | t -}}
                  </div>
                {%- endif -%}
              {%- endform -%}
              <div class="{{ section_prefix_class }}_btn-wrapper mty">
                <button class="button button--link {{ section_prefix_class }}_pass-btn" data-target-id="access-password">
                  <i class="button_icn">
                    {%- render 'icons-data', width: 24, height: 24, use_icon: true, icon_reference: 'lock', section_id: section.id -%}
                  </i>
                  {{- 'password.main.enter_btn_label' | t -}}
                </button>
              </div>
            </div>
            <div id="access-password" class="transit transit--out">
              <header class="{{ section_prefix_class }}_heading-head">
                <h2 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section.settings.section_heading_size }} mty">
                  {{- 'password.main.pass_heading' | t -}}
                </h2>
                <div class="{{ section_prefix_class }}_description text-size--medium mty">
                  <p>{{- 'password.main.pass_para' | t -}}</p>
                </div>
              </header>
              {%- form 'storefront_password', class: 'password-form' -%}
                <div class="{{ section_prefix_class }}_form {{ section_prefix_class }}_form-wrapper">
                  <div class="{{ section_prefix_class }}_form-group">
                    <label for="password" class="{{ section_prefix_class }}_form-input-lable text-size--medium visually-hidden">
                      {{- 'account.pass_label' | t -}}
                    </label>
                    <input
                      id="password"
                      type="password"
                      name="password"
                      placeholder="{{- 'account.pass_label' | t -}}"
                      autocomplete="current-password"
                      {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                      {% endif %}
                    >
                    {%- if form.errors -%}
                      <div id="PasswordLoginForm-password-error" class="{{ section_prefix_class }}_error-wrapper" role="status">
                        <i class="{{ section_prefix_class }}_role-icn">
                          {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                        </i>
                        <span class="visually-hidden">
                          {{- 'erorr.error_text' | t -}}
                        </span>
                        {{- 'password.main.pass_form_error' | t -}}
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="{{ section_prefix_class }}_btn-wrapper mty">
                    <button type="submit" class="button button--secondary {{ section_prefix_class }}_form-btn button--animate">
                      {{- 'password.main.pass_btn_label' | t -}}
                    </button>
                  </div>
                </div>
              {%- endform -%}
              <div class="{{ section_prefix_class }}_btn-wrapper mty">
                <button class="button button--link {{ section_prefix_class }}_pass-btn {{ section_prefix_class }}_btn--back" data-target-id="access-email">
                  <i class="button_icn">
                    {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'left-arrow' -%}
                  </i>
                  {{- 'password.main.back_btn_label' | t -}}
                </button>
              </div>
            </div>
          </password-component>
          {%- if shop.password_message != blank -%}
            <div class="{{ section_prefix_class }}_shop-msg">
              {{- shop.password_message -}}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.password.main.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:heading.label",
      "default": "Opening Soon"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-extra-bold"
    },
    {
      "type": "header",
      "content": "t:site_logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:image.label",
      "info": "t:site_logo.info"
    },
    {
      "type": "range",
      "id": "logo_desktop_width",
      "label": "t:image.width.desktop.label",
      "min": 100,
      "max": 200,
      "step": 1,
      "default": 170,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_mobile_width",
      "label": "t:image.width.mobile.label",
      "min": 90,
      "max": 150,
      "step": 1,
      "default": 133,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.name"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:banner_image.label",
      "info": "t:sections.before_login.settings.banner.info"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:settings_schema.color_schemes.name"
    }
  ]
}
{% endschema %}