{%- liquid
  assign section_prefix_class = 'main-search'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
  assign banner_color_scheme = section.settings.banner_color_scheme | prepend: 'scheme scheme--'
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign base_url = request.path
  
  if search.url
    assign results_url = search.url
    else
      assign terms = search.terms | escape
      assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  if section.settings.enable_sort
    capture sort_value
      for option in search.sort_options
        if option.value == sort_by
          echo option.value
        endif
      endfor
    endcapture
    assign base_url = base_url | append: results_url
  endif

  capture max_products_to_show
    assign columns_count = section.settings.number_of_columns_on_desktop | times: 1
    echo columns_count | times: section.settings.number_of_rows_on_desktop
  endcapture

  capture enable_description
    unless search.description == blank
      if section.settings.show_description
        echo 'true'
      endif
    endunless
  endcapture

  capture results_text
    if search.performed
      echo 'search.results_with_count_and_term' | t: count: search.results_count, terms: search.terms
      else
        echo 'search.s_for' | t
    endif
  endcapture

  capture section_container_layout
    case section.settings.section_container_layout
      when 'page-width'
        echo 'container'
      when 'contained-content'
        echo 'contained-container'
      when 'container-fluid'
        echo 'container-fluid'
    endcase
  endcapture

  capture section_corner_radius
    case section.settings.section_corner_radius
      when 'top_corners_radius'
        echo 'top_corners_radius'
      when 'bottom_corners_radius'
        echo 'bottom_corners_radius'
      when 'both_corners_radius'
        echo 'both_corners_radius'
      when 'no_corners_radius'
        echo 'no_corner_radius'
    endcase
  endcapture

  capture main_page_max_content_size
    echo settings.page_width | times: section.settings.max_content_size | divided_by: 100
  endcapture

  capture main_page_section_parallax_class
    if section.settings.parallax_effect
      echo '--parallax-effect'
    endif
  endcapture

  capture main_page_section_container_layout
    case section.settings.main_page_section_container_layout
      when 'page-width'
        echo 'container'
      when 'contained-content'
        echo 'contained-container'
      when 'container-fluid'
        echo 'container-fluid'
    endcase
  endcapture

  capture main_page_section_corner_radius
    case section.settings.main_page_section_corner_radius
      when 'top_corners_radius'
        echo 'top_corners_radius'
      when 'bottom_corners_radius'
        echo 'bottom_corners_radius'
      when 'both_corners_radius'
        echo 'both_corners_radius'
      when 'no_corners_radius'
        echo 'no_corner_radius'
    endcase
  endcapture

  capture main_page_section_height_class
    case section.settings.section_height
      when 'small'
        echo '--small-height'
      when 'medium'
        echo '--medium-height'
      when 'window_height'
        echo '--vh-height'
    endcase
  endcapture

  capture main_page_content_alignment
    case section.settings.content_alignment
      when 'top'
        echo 'main-page_tcenter'
      when 'middle'
        echo 'main-page_mcenter'
      when 'bottom'
        echo 'main-page_bcenter'
    endcase
  endcapture
-%}
{%- style -%}
  .main-page_bg-wrapper,
  .main-page.--parallax-effect .main-page_image,
  .main-page_bg-wrapper::before,
  .blog-card_stats-wrap--float,
  .main-search_search-wrap .button--icn.search-bar_label,
  .page-card .search-page_tag{
    position: absolute;
  }

  .breadcrumb-nav,
  .breadcrumb-list,
  .blog-card_stats-wrap--float{
    background: var(--section-background-color);
  }

  .breadcrumb-nav,
  .breadcrumb-list,
  .breadcrumb-list_item + .breadcrumb-list_item::before,
  .blog-card_read-more{
    color: var(--section-heading-color);
  }

  .breadcrumb-nav {
    --bdbottom-width: 1px;
    --bdbottom-clr: var(--section-border-color);
  }

  .breadcrumb_wrapper,
  .main-page_bg-wrapper,
  .main-page_image,
  .main-page_wrapper,
  .main-page_bg-wrapper::before,
  .pagination-wrapper,
  .pagination,
  .pagination_list,
  .modal-component--facets-drawer .modal-component_wrapper,
  .blog-card,
  .blog-card_subtitle--comments-count,
  .page-card,
  .main-search_search-wrap{
    width: 100%;
  }

  .breadcrumb-nav,
  .main-page{
    padding-top: 0;
    padding-bottom: 0;
  }

  .breadcrumb-list,
  .breadcrumb-list_link,
  .page-card .search-page_tag{
    font-size: 1.2rem;
  }

  .breadcrumb-list,
  .blog-card_subtitle,
  .blog-card_tag-link,
  .blog-card_read-more{
    font-family: var(--font-headings-family);
  }

  .blog-card_subtitle + .blog-card_subtitle::before{
    content: "-";
    background: var(--section-foreground-color);
    pointer-events: none;
    margin-right: 3px;
  }

  .blog-card_subtitle + .blog-card_subtitle::before,
  .blog-card_read-more{
    margin-left: 3px;
  }

  .blog-card_read-more{
    padding: 3px;
  }

  .blog-card_stats-wrap--float{
    bottom: 0;
    right: 0;
    margin: 17px 13px;
    padding: 7px 11px;
    border-radius: calc(var(--section-radius) * 99);
  }

  .blog-card_subtitle {
    text-transform: uppercase;
  }

  .breadcrumb-list{
    line-height: 2rem;
    padding: 12px 0;
  }

  .internal--spacing.breadcrumb-list,
  .main-page_content .heading-head{
    padding: 12px 22px;
  }

  .breadcrumb-list_item + .breadcrumb-list_item::before {
    content: '>';
    display: inline-block;
    margin-left: 11px;
    margin-right: 11px;
  }

  .breadcrumb-list [aria-current="page"],
  .breadcrumb-list_link,
  .blog-card_subtitle,
  .blog-card_tag-link,
  .page-card .search-page_tag{
    font-weight: 600;
  }


  .breadcrumb-list [aria-current="page"]{
    color: var(--heading-color);
  }

  .blog-card_heading a,
  .breadcrumb-list_link,
  .pagination_link,
  .page-card{
    text-decoration: none;
  }

  .breadcrumb-list_link{
    --link-color: 
    color-mix(in srgb, var(--section-heading-color) 80%, var(--section-links-color) 20%);
  }

  .main-page_wrapper,
  .main-page_content,
  .main-page,
  .main-page_bg-wrapper::before,
  .grid-common_facets-bar{
    z-index: 1;
  }

  .main-page_wrapper{
    margin: auto;
    min-height: inherit;
  }

  .main-page_wrapper.--padding{
    --section-padding-top: 0;
    --section-padding-bottom: 0;
  }

  .main-page_tcenter,
  .main-page_mcenter{
    margin-bottom: auto;
  }

  .main-page_bcenter,
  .main-page_mcenter{
    margin-top: auto;
  }

  .main-page{
    --height-factor: 0.817;
    text-align: var(--mobile-text-alignment);
  }

  .blog-card_image,
  .main-page,
  .page-card,
  .main-page_image{
    overflow: hidden;
  }

  .main-page_bg-wrapper,
  .main-page_image,
  .main-page_wrapper,
  .main-page_bg-wrapper::before,
  .page-card{
    height: 100%;
  }

  .main-page_bg-wrapper,
  .main-page.--parallax-effect .main-page_image,
  .main-page_bg-wrapper::before{
    top: 0;
    left: 0;
  }

  .main-page_bg-wrapper,
  .main-page.--parallax-effect .main-page_image{
    z-index: -1;
  }

  .main-page_bg-wrapper svg,
  .main-page_bg-wrapper img,
  .main-page_bg-wrapper,
  .main-page_bg-wrapper::before,
  .main-page_image,
  .blog-card_image svg,
  .blog-card_image img {
    border-radius: inherit;
  }

  .blog-card_image{
    border-radius: var(--section-radius);
    margin-bottom: 19px;
  }

  .main-page.--parallax-effect .main-page_image{
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
  }

  .main-page_wrapper{
    --sec-pt-top: calc(var(--section-padding-top) * 0.45);
    --sec-pt-bottom: calc(var(--section-padding-bottom) * 0.45);
    padding-top: var(--sec-pt-top, 35px);
    padding-bottom: var(--sec-pt-bottom, 35px);
  }

  .main-page_bg-wrapper::before{
    content: "";
    background: var(--overlay-bg);
  }

  .main-page_description {
    --mt-top: 17px;
    color: color-mix(in srgb, var(--section-heading-color) 80%, var(--section-foreground-color) 20%);
  }

  .main-page_content .inner-container{
    max-width: var(--max-content);
  }

  .pagination-wrapper{
    padding-left: var(--cp-spacer-left, 15px);
    padding-right: var(--cp-spacer-right, 15px);
  }

  .pagination_list {
    gap: 6px;
  }

  .pagination_next-pg{
    margin-right: 9;
  }

  .pagination_back-pg{
    margin-left: 9;
  }

  .pagination_item{
    border: 1px solid var(--section-border-color);
    border-radius: var(--section-radius);
  }

  .pagination_link {
    font-weight: 400;
    line-height: 2rem;
    transition: all 0.35s ease;
    padding: 0.5rem 1rem;
    border-radius: var(--section-radius);
  }

  a.pagination_link--active,
  .pagination_link:hover{
    background-color: var(--section-active-hover-color);
    color: var(--section-background-color);
  }

  .pagination-wrapper{
    margin-top: 47px;
  }

  .pagination-wrapper,
  .pagination,
  .pagination_list{
    justify-content: center;
  }

  .load-more_button,
  .blog-card_tags-list{
    gap: 8px;
  }

  .load-more_loader{
    line-height: 1rem;
  }

  .modal-component--quick-view .deferred-media__poster-icn{
    width: 40px;
    height: 40px;
    top: 2px;
    left: auto;
    right: 2px;
    transform: unset;
    line-height: 0;
    border-radius: 0;
    background-color: var(--section-background-color, #fff);
    color: var(--section-heading-color, #fff);
    z-index: 1;
    opacity: 100%;
  }

  .modal-component--quick-view .deferred-media__poster-icn::before{
    content: "";
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 1px solid var(--section-border-color);
    opacity: 0.5;
  }

  .modal-component--quick-view .deferred-media__poster-icn svg{
    opacity: 100%;
  }

  .modal-component--quick-view .deferred-media__poster:hover .deferred-media__poster-icn svg{
    opacity: 55%;
    transition: all 0.3s ease;
  }

  .grid-common_text{
    --mt-top: 20px;
  }

  .dropdown-sort_table,
  .dropdown-sort_wrap,
  .main-page_wrapper-container,
  .main-page_content,
  .blog-card_image,
  .blog-card_image-date,
  .blog-card_image,
  .main-search_form,
  .page-card,
  .grid-common_facets-bar,
  .form_search-wrapper{
    position: relative;
  }

  .grid-common_empty-icn,
  .pagination_link,
  .blog-card_excerpt,
  .blog-card_image,
  .blog-card_tag-link{
    display: block;
  }

  a.blog-card_image:focus-visible{
    --focus-outline-offset: 1px;
  }

  .blog-card_heading {
    --headings-font-weight: 500;
  }

  .blog-card_heading a,
  .breadcrumb-list_link{
    transition: color 0.3s ease;
  }

  .grid-common_opener,
  .grid-common_facets-bar,
  .grid-common_facet-opener,
  .facet-remove-btn,
  .grid-common_active-facets,
  .grid-common_facets-bar_col--sort,
  .modal-component--facets-drawer .modal-component_heading,
  .grid-common_sort-count,
  .load-more_button,
  .pagination-wrapper,
  .pagination,
  .pagination_list,
  .breadcrumb-list,
  .breadcrumb-list_item,
  .breadcrumb-nav,
  .main-page_wrapper,
  .main-page_content,
  .blog-card_tags-list,
  .blog-card_stats-wrap,
  .blog-card_subtitle,
  .blog-card,
  .page-card,
  .product-column_error,
  .modal-component--quick-view .deferred-media__poster-icn,
  .product-column_tag-wrap,
  .product-column,
  .product-column_btn-wrap,
  .product-column_btn,
  .product-column_tag-in,
  .product-column_top-wrap{
    display: flex;
  }

  .blog-card_excerpt,
  .--comments{
    margin-top: 14px;
  }

  .facet-remove-btn,
  .modal-component--facets-drawer .modal-component_heading{
    gap: 9px;
  }

  .grid-common_facet-opener,
  .grid-common_facets-bar{
    gap: 5px;
  }

  .grid-common_opener{
    height: 4.2rem;
    min-width: 160px;
  }

  .grid-common_sort-wrap,
  .dropdown-sort_table,
  .dropdown-sort_wrap,
  .grid-common_text-count,
  .grid-common_facets-sort {
    margin-left: auto;
  }

  .facet-sort_btn-submit,
  .grid-common_opener{
    line-height: 2.1rem;
    padding: 1.2rem;
  }

  .pagination_link,
  .facet-sort_btn-submit,
  .grid-common_opener,
  .blog-card_stats-wrap,
  .blog-card_tag-link,
  .blog-card_read-more{
    font-size: 1.4rem;
  }

  .facet-sort_btn-submit{
    background-color: transparent;
  }

  .facet-sort_btn-submit:hover, 
  .facet-sort_btn-submit.active {
    color: var(--section-input-background-color);
    background-color: var(--section-input-text-color);
  }

  .grid-common_opener,
  .dropdown-sort_wrapper{
    background-color: var(--section-input-background-color);
    color: var(--section-input-text-color);
    border: var(--input-border-width) solid var(--section-secondary-border-color);
    border-radius: var(--input-corner-radius);
  }

  .dropdown-sort_wrapper{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0 var(--input-border-width) var(--input-border-width);
    transform: none;
    border-bottom-left-radius: var(--section-radius);
    border-bottom-right-radius: var(--section-radius);
    left: 0;
    max-height: calc(40vh - 15px);
    overflow-y: auto;
  }

  .breadcrumb-list_item + .breadcrumb-list_item::before,
  .blog-card_subtitle + .blog-card_subtitle::before{
    flex-shrink: 0;
  }

  .grid-common_facets-bar_col--sort,
  .dropdown-sort_title,
  .blog-card_top-wrap{
    flex-grow: 1;
  }

  .grid-common_facet-opener.button.button--link,
  .facet-remove-btn{
    --button-font-family: var(--font-headings-family);
  }

  .facet-remove-btn{
    --button-font-weight: 500;
  }

  .grid-common_facet-opener.button.button--link{
    --button-text: color-mix(in srgb, var(--section-heading-color) 80%, var(--section-links-color) 20%);
    --button-font-weight: 700;
    --button-padding-x: 0.5rem;
  }

  .grid-common_facet-opener .button_icn-wrapper,
  .modal-component--facets-drawer .modal-component_heading-icn,
  .blog-card_subtitle + .blog-card_subtitle::before{
    line-height: 0;
  }

  .grid-common_facet-opener{
    --button-font-size: 1.6rem;
    --button-line-height: 2.3rem;
    justify-content: flex-start;
    text-transform: uppercase;
  }

  .facet-remove-btn,
  .facets-remove-all.button--link{
    --button-padding-y: 0.4rem;
    --button-padding-x: 1rem;
  }

  .grid-common_facets-bar{
    margin-bottom: 22px;
  }

  .grid-common_active-facets{
    gap: 7px;
  }

  .breadcrumb-list,
  .grid-common_active-facets,
  .pagination_list,
  .blog-card_subtitle,
  .blog-card_stats-wrap,
  .blog-card_tags-list{
    flex-wrap: wrap;
  }

  .grid-common_sort-count,
  .modal-component--facets-drawer .modal-component_heading,
  .load-more_button,
  .blog-card_subtitle{
    align-items: center;
  }

  .modal-component--facets-drawer .modal-component_heading {
    --mt-bottom: 16px;
    text-transform: uppercase;
  }

  .modal-component--facets-drawer .modal-component_wrapper{
    max-width: calc(var(--cp-width, 1200) * 1px);
    height: 276px;
    box-shadow: 0 20px 20px #00000026;
    margin-right: auto;
    padding: 20px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--section-radius);
    border-top-right-radius: var(--section-radius);
  }

  .modal-component--facets-drawer .modal-component_content{
    border-top: 1px solid var(--section-border-color);
  }

  .modal-component--facets-drawer.--drawer{
    bottom: 0;
  }

  .modal-component--facets-drawer .modal-component_btn-close{
    top: 24px;
    right: 33px;
  }

  .main-search{
    --desktop-columns-count: 1;
  }

  .active-facets--desktop,
  .blog-card_subtitle:last-child:not(:nth-child(2))::before{
    display: none;
  }

  .active-facets--mobile{
    margin: 16px 0;
  }

  .grid-common_sort-count,
  .blog-card_subtitle,
  .page-card{
    gap: 10px;
  }

  .blog-card_stats-wrap{
    column-gap: 10px;
  }

  .blog-card_tag-link{
    padding: 7px 13px;
    border-radius: calc(var(--section-radius) * 99);
    background-color: var(--section-widget-background-color);
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  }

  .modal-component--facets-drawer .modal-component_heading,
  .blog-card_tag-link{
    color: var(--section-widget-foreground-color);
  }

  .blog-card_stats-wrap,
  .blog-card_tag-link,
  .blog-card_read-more{
    line-height: 1.8rem;
  }

  .blog-card,
  .grid-common_sort-count,
  .page-card,
  .main-page_content{
    flex-direction: column;
  }

  .modal-component--facets-drawer{
    padding: 0 22px;
  }

  .main-search_cols-wrap{
    --cp-spacer-left: 12px;
    --cp-spacer-right: 12px;
  }

  .main-search_search-wrap{
    max-width: 1137px;
    margin: 51px auto;
    margin-top: 0;
    padding: 0 15px;
  }

  .main-search_search-wrap .button--icn.search-bar_label{
    top: 48%;
    left: -6px;
    transform: translateY(-50%);
    --button-padding-y: 0.5rem;
    --button-padding-x: 0.5rem;
    --button-background: transparent;
    --button-hover-background: transparent;
    --button-text: var(--section-active-hover-color);
    --button-hover-text: var(--section-links-color);
    --button-border-color: transparent;
    --button-hover-border-color: transparent;
  }

  .main-search_search-wrap input{
    --input-padding-x: 5.2rem;
    --input-height: 7.6rem;
    --input-background: transparent;
    padding-left: 3.8rem;
  }

  .main-search_input-head{
    margin-bottom: -3px;
  }

  .page-card{
    padding: 40px;
    text-align: center;
    transition: box-shadow .3s ease;
    border-radius: var(--section-radius);
  }

  .page-card .search-page_tag{
    left: 20px;
    bottom: 20px;
    border-radius: var(--input-corner-radius);
    background-color: var(--section-background-color);
    line-height: 1;
    padding: 4px 10px;
  }

  .page-card .search-page_tag,
  .modal-component--facets-drawer .modal-component_wrapper{
    color: var(--section-foreground-color);
  }

  .page-card_heading,
  .facet-sort_btn-submit{
    color: inherit;
  }

  .product-column_image,
  .product-column_tag,
  .product-column .tags-list_tag,
  .product-column .product-tag_dot,
  .product-column_vendor{
    display: block;
  }

  .product-column_image:focus-visible{
    --focus-outline-offset: 0;
  }

  .dropdown-sort_opener{
    --focus-outline-offset: 1px;
  }

  .product-column_image:focus-visible > img,
  .product-column_image:focus-visible > svg{
    padding: 4px;
  }

  .product-column,
  .product-column_image:focus-visible > img{
    border: 1px solid var(--section-border-color);
  }

  .product-column,
  .product-column_top-wrap{
    flex-direction: column;
  }

  .product-column{
    border-radius: var(--section-radius);
  }

  .product-column_image,
  .product-column_image > img,
  .product-column_image > svg{
    border-radius: var(--section-radius) var(--section-radius) 0 0;
  }

  .product-column,
  .product-column_image,
  .product-column_btn-wrap{
    width: 100%;
  }

  .product-column_image,
  .product-column_image-wrap,
  .product-column_media-wrap{
    position: relative;
  }

  .product-column_tag-wrap{
    position: absolute;
    left: 17px;
    top: 14px;
    right: 17px;
  }

  .product-column_btn{
    --button-outline-offset: -2px;
    --button-font-weight: 600;
    --button-font-family: var(--font-headings-family);
    --button-padding-x: 1.9rem;
  }

  .product-column_btn .product-column_btn-txt{
    padding-left: 11px;
  }
  
  .product-column_tag-wrap{
    flex-wrap: wrap;
    gap: 5px;
  }

  .product-column_tag-in,
  .product-column_tag,
  .product-column_tag-dot,
  .product-column_price .product-price_unit-pricing::before{
    border-radius: calc(var(--section-radius) * 99);
  }

  .product-column_tag{
    padding: 6px 9px;
    background-color: var(--badge-bg);
    color: var(--badge-clr);
  }

  .product-column_tag-dot{
    width: 6px;
    height: 6px;
    background-color: currentColor;
  }

  .product-column_tag-in,
  .product-column_tag{
    line-height: 1rem;
  }

  .product-column_tag-in{
    padding: 5px 9px;
    column-gap: 6px;
    background-color: var(--bg-clr);
  }

  .product-column_content{
    flex-grow: 1;
    padding: 20px 17px 17px 17px;
  }

  {% if section.settings.enable_quick_view and section.settings.enable_atc %}
    #{{ section.id }} .product-column_quick-wrap{
      padding-right: 8px;
      background-size: 8px 8px;
      background-repeat: no-repeat;
      background-position: 100% calc(50% - 2px), 100% calc(50% + 4px);
    }

    #{{ section.id }} .product-column_quick-wrap--sep{
      background-image: radial-gradient(circle 4px at top center, transparent 4px, var(--section-primary-border-color) 4px), radial-gradient(circle 4px at bottom center, transparent 4px, var(--section-primary-border-color) 4px);
    }

    #{{ section.id }} .product-column_btn .product-column_btn-txt{
      padding-left: 0;
    }

    #{{ section.id }} .product-column_btn,
    #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:hover) + .product-column_atc-wrap .product-column_btn--atc,
    #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:focus-visible) + .product-column_atc-wrap .product-column_btn--atc,
    #{{ section.id }} .product-column_btn--atc{
      --button-padding-x: 1rem;
    }
    #{{ section.id }} .product-column_btn-txt{
      display: none;
    }
  {% endif %}

  .product-column_vendor{
    margin-bottom: 7px;
  }

  .product-column_title a{
    text-decoration: none;
  }

  .product-column_price .main-price,
  .product-column_price .regular-price{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .product-column_price .main-price{
    font-weight: 500;
  }

  .product-column_price .main-price,
  .product-column .product-column_error>.ico{
    color: var(--section-error-color);
  }

  .product-column_error{
    background: var(--section-error-color);
    margin: 6px 0;
    padding: 6px;
    font-family: var(--font-headings-family);
  }

  .product-column_error,
  .product-column_price .product-price_unit-pricing{
    font-size: 1.2rem;
  }

  .product-column_tag-in,
  .product-column_error{
    color: var(--section-background-color);
  }

  .product-column .product-column_error>.ico{
    flex-shrink: 0;
  }

  .product-column_price .product-price_unit-pricing{
    line-height: 1.8rem;
    text-transform: capitalize;
    color: var(--section-foreground-color);
  }

  .product-column_price .product-price_unit-pricing::before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-right: 2px;
    background: var(--section-foreground-color);
  }

  .product-column_price-wrap{
    margin-top: 8px;
  }

  .product-column_btn-wrap{
    margin-top: 14px;
  }

  .product-column_media-wrap,
  .product-column,
  .product-column_top-wrap{
    height: 100%;
  }

  .main-search_wrapper.internal--spacing{
    padding: 10px 15px;
  }

  @media (min-width: 576px){
    .main-search{
      --desktop-columns-count: 2;
    }
    .pagination_link {
      padding: 1rem 1.6rem;
    }
  }

  @media (min-width: 768px){
    .grid-common_facets-bar_col--filter{
      display: flex;
      align-items: center;
      gap: 4px;
    }

    {% if section.settings.enable_quick_view and section.settings.enable_atc %}
      #{{ section.id }} .product-column_btn--atc{
        --button-padding-x: 1.9rem;
      }
      #{{ section.id }} .product-column_btn-txt{
        display: block;
      }
      #{{ section.id }} .product-column_btn,
      #{{ section.id }} .product-column_btn-txt{
        transition: all 0.3s ease;
      }
      
      #{{ section.id }} .product-column_btn .product-column_btn-txt{
        padding-left: 0;
      }

      #{{ section.id }} .product-column_btn-txt,
      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:hover) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt,
      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:focus-visible) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt{
        max-width: 0;
      }

      #{{ section.id }} .product-column_btn-txt,
      #{{ section.id }} .product-column_btn-wrap{
        overflow: hidden;
      }

      #{{ section.id }} .product-column_btn-txt{
        white-space: nowrap;
      }

      #{{ section.id }} .product-column_btn:hover,
      #{{ section.id }} .product-column_btn:focus-visible{
        --button-padding-x: 1.9rem;
      }

      #{{ section.id }} .product-column_btn:hover .product-column_btn-txt,
      #{{ section.id }} .product-column_btn:focus-visible .product-column_btn-txt,
      #{{ section.id }} .product-column_btn--atc .product-column_btn-txt{
        max-width: 222px;
        padding-left: 11px;
      }

      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:hover) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt,
      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:focus-visible) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt{
        padding-left: 0;
      }
    {% endif %}

    .grid-common_facet-opener{
      gap: 9px;
    }

    .grid-common_facets-bar_col--sort {
      max-width: calc(50% - 10px);
      flex-shrink: 0;
      flex-grow: unset;
    }

    .grid-common_facet-opener.button.button--link{
      --button-padding-x: 1rem;
    }

    .grid-common_facet-opener{
      min-width: 80px;
    }

    .modal-component--quick-view .deferred-media__poster-icn{
      width: 60px;
      height: 60px;
    }

    .main-page{
      text-align: var(--desktop-text-alignment);
    }

    .main-page_wrapper {
      --sec-pt-top: calc(var(--section-padding-top) * 0.65);
      --sec-pt-bottom: calc(var(--section-padding-top) * 0.65);
    }

    .active-facets--desktop{
      display: block;
    }

    .grid-common_facets-bar_col--filter modal-component-toggler{
      flex-shrink: 0;
    }

    .active-facets--mobile{
      display: none;
    }

    .grid-common_sort-count{
      flex-direction: row;
    }

    .grid-common_facets-sort {
      margin-left: 0;
    }
    
    .main-search_wrapper.internal--spacing{
      padding: 10px 30px;
    }

    .grid-common_facets-bar{
      gap: 15px;
    }
  }

  @media (min-width: 992px){
    .main-search{
      --desktop-columns-count: 3;
    }
  }

  @media (min-width: 1200px){
    .main-page_wrapper{
      --sec-pt-top: var(--section-padding-top);
      --sec-pt-bottom: var(--section-padding-bottom);
    }
  }

  @media (min-width: 1456px){
    .main-search{
      --desktop-columns-count: 5;
    }
    .main-page_wrapper{
      --sec-pt-top: var(--section-padding-top);
      --sec-pt-bottom: var(--section-padding-bottom);
    }
  }
  {%- assign query = '380px' -%}
  @media (min-width: {{ query }}) and (max-width: 575px){
    #{{ section.id }}{
      --desktop-columns-count: {{ section.settings.number_of_columns_on_mobile }};
    }
  }
{%- endstyle -%}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icn-search-{{ section.id }}">
    <path d="M18.7042 17.6244C17.5353 16.4365 16.9419 16.0449 15.7709 14.8591C15.678 14.7651 15.5901 14.6675 15.5023 14.5735C18.8229 10.3899 17.2817 5.04336 14.1396 2.68212C10.8037 0.176237 6.23216 0.491216 3.33765 3.48609C0.440966 6.48242 0.217362 11.1388 2.77283 14.4244C5.29926 17.6719 10.3906 18.8495 14.3988 15.5844C14.4605 15.6879 14.6122 15.8334 14.7044 15.9274C15.8711 17.1168 16.463 17.5114 17.637 18.6934C17.9912 19.0503 18.376 19.0943 18.7034 18.8322C19.0955 18.5172 19.102 18.029 18.7042 17.6244ZM9.16659 16.0243C5.48366 15.9964 2.51438 12.9795 2.51511 9.26584C2.51583 5.54483 5.49455 2.53087 9.17313 2.5294C12.8466 2.52793 15.8246 5.52354 15.858 9.25409C15.8914 12.9332 12.8089 16.0522 9.16659 16.0243Z" fill="currentColor" stroke="currentColor" stroke-width="0.2"/>
  </symbol>
  <symbol id="icn-left-pg-{{ section.id }}">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73289 0.397026C4.96257 0.635889 4.95512 1.01572 4.71626 1.24539L1.56605 4.21289L4.71625 7.18039C4.95512 7.41007 4.96257 7.78989 4.73289 8.02876C4.50321 8.26762 4.12339 8.27507 3.88452 8.04539L0.284524 4.64539C0.166877 4.53227 0.100389 4.3761 0.100389 4.21289C0.100389 4.04968 0.166877 3.89351 0.284524 3.78039L3.88452 0.380391C4.12339 0.150715 4.50321 0.158163 4.73289 0.397026Z" fill="currentColor"/>
  </symbol>
  <symbol id="icn-right-pg-{{ section.id }}">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.26711 8.02876C0.0374343 7.78989 0.0448818 7.41007 0.283745 7.18039L3.43395 4.21289L0.283745 1.24539C0.0448814 1.01571 0.0374339 0.635888 0.26711 0.397025C0.496786 0.158162 0.876612 0.150714 1.11548 0.38039L4.71548 3.78039C4.83312 3.89351 4.89961 4.04968 4.89961 4.21289C4.89961 4.3761 4.83312 4.53227 4.71548 4.64539L1.11548 8.04539C0.876612 8.27507 0.496786 8.26762 0.26711 8.02876Z" fill="currentColor"/>
  </symbol>
  <symbol id="icn-empty-folder-{{ section.id }}">
    <path d="M0 110.419C0 85.2246 0 59.9269 0 34.733C0.104027 34.6293 0.208054 34.4219 0.208054 34.3182C1.87248 26.2313 8.01007 21.151 16.3322 21.151C24.0302 21.151 31.7282 21.151 39.4262 21.151C39.8423 21.151 40.2584 21.151 40.7785 21.151C41.9228 17.6259 43.0671 14.1008 44.3154 10.6794C47.0201 3.0072 55.0302 -1.55467 62.9362 0.518911C79.4765 4.9771 96.1208 9.53898 112.557 14.2045C121.399 16.6928 125.872 25.5055 123.168 34.3182C120.151 44.4788 117.03 54.743 114.013 64.9035C111.101 74.442 108.396 84.0841 105.275 93.6226C103.195 99.947 98.4094 103.472 91.7517 104.094C90.2953 104.198 88.8389 104.094 87.2785 104.094C87.2785 105.649 87.2785 106.997 87.2785 108.345C87.1745 115.291 82.3893 121.512 75.6275 123.378C74.8993 123.586 74.1711 123.793 73.443 123.897C53.4698 123.897 33.4966 123.897 13.5235 123.897C13.3154 123.793 13.2114 123.689 13.0034 123.689C6.24161 122.238 2.08054 118.194 0.312081 111.559C0.208054 111.248 0.104027 110.833 0 110.419ZM8.01007 72.4721C8.01007 84.1878 8.01007 96.0072 8.01007 107.723C8.01007 112.596 11.3389 115.914 16.2282 115.914C34.5369 115.914 52.8456 115.914 71.0503 115.914C75.9396 115.914 79.2685 112.492 79.2685 107.723C79.2685 84.2915 79.2685 60.7564 79.2685 37.3249C79.2685 32.452 75.8356 29.1343 71.0503 29.1343C52.7416 29.1343 34.4329 29.1343 16.2282 29.1343C15.604 29.1343 14.8758 29.1343 14.2517 29.238C10.5067 30.0674 8.01007 33.1778 8.01007 37.1176C8.01007 48.8333 8.01007 60.6527 8.01007 72.4721ZM49.2047 21.151C49.9329 21.151 50.349 21.151 50.7651 21.151C57.6309 21.151 64.6007 21.151 71.4664 21.151C72.7148 21.151 73.8591 21.2547 75.1074 21.5657C82.3893 23.3283 87.3826 29.549 87.3826 37.1176C87.3826 56.2982 87.3826 75.4788 87.3826 94.5557C87.3826 95.0741 87.3826 95.5925 87.3826 96.2146C88.2148 96.2146 88.8389 96.2146 89.4631 96.2146C94.2483 96.2146 96.849 94.2447 98.2013 89.7865C100.698 81.5958 103.091 73.5089 105.587 65.3182C108.916 54.1209 112.349 42.8199 115.678 31.6226C117.03 26.957 114.742 22.8099 110.164 21.5657C104.443 19.9069 98.6175 18.3517 92.896 16.7965C82.1812 13.8935 71.6745 10.9905 61.0638 8.19115C57.5268 7.25804 53.6779 9.02058 52.2215 12.3383C51.0772 15.1376 50.245 18.0406 49.2047 21.151Z" fill="currentColor"/>
  </symbol>
  <symbol id="icn-loader-{{ section.id }}">
    <rect y="10" width="15" height="120" rx="6">
      <animate attributeName="height"
        begin="0.5s" dur="1s"
        values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
        repeatCount="indefinite" />
      <animate attributeName="y"
        begin="0.5s" dur="1s"
        values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
        repeatCount="indefinite" />
    </rect>
    <rect x="30" y="10" width="15" height="120" rx="6">
        <animate attributeName="height"
          begin="0.25s" dur="1s"
          values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
          repeatCount="indefinite" />
        <animate attributeName="y"
          begin="0.25s" dur="1s"
          values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
          repeatCount="indefinite" />
    </rect>
    <rect x="60" width="15" height="140" rx="6">
        <animate attributeName="height"
          begin="0s" dur="1s"
          values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
          repeatCount="indefinite" />
        <animate attributeName="y"
          begin="0s" dur="1s"
          values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
          repeatCount="indefinite" />
    </rect>
    <rect x="90" y="10" width="15" height="120" rx="6">
      <animate attributeName="height"
        begin="0.25s" dur="1s"
        values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
        repeatCount="indefinite" />
      <animate attributeName="y"
        begin="0.25s" dur="1s"
        values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
        repeatCount="indefinite" />
    </rect>
    <rect x="120" y="10" width="15" height="120" rx="6">
      <animate attributeName="height"
        begin="0.5s" dur="1s"
        values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
        repeatCount="indefinite" />
      <animate attributeName="y"
        begin="0.5s" dur="1s"
        values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
        repeatCount="indefinite" />
    </rect>
  </symbol>
</svg>
{%- liquid
  if section.settings.show_breadcrumb
    render 'breadcrumb', border_top: section.settings.show_top_bdr, border_bottom: section.settings.show_bottom_bdr, color_scheme: section.settings.breadcrumb_color_scheme, breadcrumb_corner_radius: section.settings.breadcrumb_corner_radius, breadcrumb_container_layout: section.settings.breadcrumb_container_layout, content_alignment: '--justify-left'
  endif
-%}
<div class="global-block main-page main-page-{{ section.id }} {{ main_page_section_parallax_class }} {% if main_page_section_container_layout == 'container-fluid' or main_page_section_container_layout == 'contained-container' %}{{ banner_color_scheme }} {{ main_page_section_corner_radius }}{% endif %}" style="--desktop-text-alignment: {{ section.settings.section_text_alignment }}; --mobile-text-alignment: {{ section.settings.section_mobile_text_alignment }};">
  <div class="main-page_wrapper --padding">
    <div class="{{ main_page_section_container_layout }} {% if main_page_section_container_layout == 'container' %}main-page_wrapper-container{% endif %}">
      <div class="main-page_content {{ main_page_section_height_class }} {% if main_page_section_container_layout == 'container' %}{{ banner_color_scheme }} {{ main_page_section_corner_radius }} internal--spacing{% endif %}">
        <header class="heading-head inner-container --word-break --q-align {{ main_page_content_alignment }}" style="--max-content: {{ main_page_max_content_size }}px">
          {%- if section.settings.section_caption != blank -%}
            <div
              class="main-page_caption h --word-break {{ section.settings.section_caption_size }} {{ section.settings.section_caption_weight }} mty {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
              data-margin="0px 0px -5px 0px"
              data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
              data-options='{"duration":1000,"delay":0,"easing":"ease","fill":"both","iterations":1}'
            >
              {{- section.settings.section_caption -}}
            </div>
          {%- endif -%}
            <h1
              class="main-page_heading {{ section.settings.section_heading_size }} {{ section.settings.section_heading_weight }} mty {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
              data-margin="0px 0px -5px 0px"
              data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
              data-options='{"duration":1000,"delay":250,"easing":"ease","fill":"both","iterations":1}'
            >
              {{- 'search.label' | t -}} {% if results_text %}:{% endif %} {{- results_text -}}
            </h1>
          {%- if section.settings.section_description != blank -%}
            <div
              class="main-page_description --h-anchor-none {{ section.settings.description_text_size }} {{ section.settings.section_description_weight }} mty {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
              data-margin="0px 0px -5px 0px"
              data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
              data-options='{"duration":1000,"delay":350,"easing":"ease","fill":"both","iterations":1}'
            >
              {{- section.settings.section_description -}}
            </div>
          {%- endif -%}
        </header>
        {%- if section.settings.enable_predictive_suggestions -%}
          <predictive-component
            data-query="query,product,collection,page,article"
            class="{{ section_prefix_class }}_search-wrap {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
            data-margin="0px 0px -5px 0px"
            data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
            data-options='{"duration":1000,"delay":550,"easing":"ease","fill":"both","iterations":1}'
          >
        {%- else -%}
          <div 
            class="{{ section_prefix_class }}_search-wrap {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
            data-margin="0px 0px -5px 0px"
            data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
            data-options='{"duration":1000,"delay":550,"easing":"ease","fill":"both","iterations":1}'>
        {%- endif -%}
          <div class="{{ section_prefix_class }}_input-head h text-size--medium --fw-medium --align-left">
            {{- 'search.label' | t -}}
          </div>
          <form action="{{- routes.search_url -}}" method="get" role="search" class="{{ section_prefix_class }}_form">
            <label for="search-bar-input-{{ section.id }}" class="visually-hidden">
              {{- 'search.label' | t -}}
            </label>
            <div class="form_search-wrapper">
              <input
                type="search"
                class="input--xlarge"
                name="q"
                title="{{- 'search.label' | t -}}"
                autocomplete="off"
                id="search-bar-input-{{ section.id }}"
                value="{%- if search.terms != blank -%}{{- search.terms  -}}{%- endif -%}"
                placeholder="{{- 'search.placeholder' | t -}}"
              >
              <button type="submit" class="button button--icn search-bar_label">
                <i class="button_icn-wrapper">
                  {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'search', section_id: section.id -%}
                  <span class="visually-hidden">
                    {{- 'search.label' | t -}}
                  </span>
                </i>
              </button>
            </div>
            {%- if section.settings.enable_predictive_suggestions -%}
              <div data-render-predict-results="" class="hidden"></div>
            {%- endif -%}
          </form>
        {%- if section.settings.enable_predictive_suggestions -%}
          </predictive-component>
        {%- else -%}
          </div>
        {%- endif -%}
        {%- if main_page_section_container_layout == 'container' -%}
          <div class="main-page_bg-wrapper" style="--overlay-bg: {{ section.settings.background }}">
          </div>
        {%- endif -%}
      </div>
      {%- unless main_page_section_container_layout == 'container' -%}
        <div class="main-page_bg-wrapper" style="--overlay-bg: {{ section.settings.background }}">}
        </div>
      {%- endunless -%}
    </div>
  </div>
</div>
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {% if section_container_layout == 'container-fluid' or section_container_layout == 'contained-container' %}{{ section_scheme_class }} {{ section_corner_radius }}{% endif %} grid-common" id="{{ section.id }}" style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --columns-count: {{ section.settings.number_of_columns_on_desktop }}; --mobile-columns-count: {{ section.settings.number_of_columns_on_mobile }};">
  <div class="{{ section_container_layout }}">
    <div class="{{ section_prefix_class }}_wrapper grid-common_wrapper {% if section_container_layout == 'container' %}{{ section_scheme_class }} {{ section_corner_radius }} internal--spacing{% endif %}">
      {%- if search.performed -%}
        <div class="grid-common_area-wrap">
          {%- if section.settings.enable_filters or section.settings.enable_sort -%}
            <div
              class="grid-common_facets-bar --v-align-middle {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
              data-margin="0px 0px -5px 0px"
              data-frames='[{"opacity":"0","transform":"translateY(15px)"},{"opacity":"1","transform":"translateY(0px)"}]'
              data-options='{"duration":1000,"delay":0,"easing":"ease","fill":"both","iterations":1}'
            >
              {%- liquid
                if section.settings.enable_filters
                  for filter in search.filters
                    case filter.type
                      when 'price_range'
                        if filter.min_value.value != null or filter.max_value.value != null
                          assign price_min_filter = filter.min_value.param_name
                          assign price_max_filter = filter.max_value.param_name

                          assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                          assign uses_comma_decimals = false
                          if currencies_using_comma_decimals contains cart.currency.iso_code
                            assign uses_comma_decimals = true
                          endif

                          assign filter_min_value = filter.min_value.value | money_without_currency | replace: ',', ''
                          if uses_comma_decimals
                            assign filter_min_value = filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
                          endif

                          if filter.max_value.value
                            assign filter_max_value = filter.max_value.value | money_without_currency | replace: ',', ''
                            if uses_comma_decimals
                              assign filter_max_value = filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
                            endif
                            else
                              assign filter_max_value = filter.range_max | money_without_currency | replace: ',', ''
                              if uses_comma_decimals
                                assign filter_max_value = filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.'
                              endif
                          endif

                          assign price_min_filter = price_min_filter | append: '=' | append: filter_min_value
                          assign price_max_filter = price_max_filter | append: '=' | append: filter_max_value
                          unless base_url contains '?'
                            assign base_url = base_url | append: '?' | append: price_min_filter | append: '&' | append: price_max_filter
                            else
                              assign base_url = base_url | append: '&' | append: price_min_filter | append: '&' | append: price_max_filter
                          endunless
                        endif
                      when 'boolean', 'list'
                        for value in filter.active_values
                          assign active_filter_param = value.param_name | append: '=' | append: value.value

                          if base_url contains '?'
                            assign base_url = base_url | append: '&' | append: active_filter_param
                            else
                              assign base_url = base_url | append: '?' | append: active_filter_param
                          endif
                        endfor
                    endcase
                  endfor
                endif

                capture filter_url
                  unless base_url contains '?'
                    echo base_url | append: '?'
                    else
                      echo base_url | append: '&'
                  endunless
                endcapture
              -%}
              <facets-filter
                hidden
                data-sections='[
                  {
                    "id": "{{ section.id }}",
                    "selectors": ["[data-render-counts]", "[data-render-params]", "modal-filter-component:not(.modal--active)", "[data-render-actives-mobile]", "[data-render-actives]", "[data-render-grid]"]
                  },
                  {
                    "id": "modal-facets",
                    "selectors": ["[data-render-facets]"]
                  }
                ]'
              >
                <input type="hidden" value="{% unless filter_url contains '?' %}?section_id=modal-facets{% else %}&section_id=modal-facets{% endunless %}" id="modal-section">
                <input type="hidden" value="{% unless filter_url contains '?' %}?sections[]=modal-facets&sections[]={{ section.id }}{% else %}&sections[]=modal-facets&sections[]={{ section.id }}{% endunless %}" id="filters-sections">
                <span data-render-params="">
                  <input type="hidden" value="{{- filter_url -}}{% unless section.settings.enable_sort %}{{- results_url | replace_first: '?', '' -}}{% endunless %}" id="filters-params">
                </span>
                <input type="hidden" value="{{- results_url -}}" id="base-url">
              </facets-filter>
              {%- if section.settings.enable_filters -%}
                <div class="grid-common_facets-wrap grid-common_facets-bar_col grid-common_facets-bar_col--filter">
                  <modal-component-toggler>
                    <button
                      type="button"
                      data-expanded="false"
                      data-modal-ref="modal-facets"
                      aria-haspopup="dialog"
                      aria-controls="modal-facets"
                      class="button button--link grid-common_facet-opener --align-center --justify-center --v-align-middle --word-break"
                    >
                      <i class="button_icn-wrapper">
                        {%- render 'icons-data', width: 11, height: 14, use_icon: true, icon_reference: 'filters' -%}
                      </i>
                      <span class="grid-common_facet-opener--text">
                        {{- 'filters.drawer_label_heading' | t -}}:
                      </span>
                    </button>
                  </modal-component-toggler>
                  <modal-filter-component
                    data-modal="modal-facets"
                    data-container="body"
                    data-render-selector="modal-facets"
                    data-url="{{- filter_url -}}"
                    data-selector="#facets-wrapper"
                  >
                    <div
                      class="modal modal-component --drawer modal-component--facets-drawer scheme--{{ section.settings.section_color_scheme }}"
                      role="dialog"
                      aria-modal="true"
                      aria-labelledby="modal-facets-heading"
                      aria-describedby="modal-facets"
                      tabindex="-1"
                    >
                      <div class="modal-component_wrapper scheme" id="modal-facets">
                        <div class="modal-component_body">
                          <div class="modal-component_head --align-left product-common_size-heading">
                            <modal-component-toggler>
                              <button
                                type="button"
                                data-expanded="true"
                                data-toggle-attribute="false"
                                data-modal-ref="modal-facets"
                                class="modal-component_btn-close button button--icn">
                                <span class="button_icn-wrapper">
                                  {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'cross' -%}
                                  <span class="visually-hidden">{{- 'accessibility.close' | t -}}</span>
                                </span>
                              </button>
                            </modal-component-toggler>
                            <strong id="modal-facets-heading" class="modal-component_heading h6 --fw-bold mty">
                              <i class="modal-component_heading-icn">
                                {%- render 'icons-data', width: 11, height: 14, use_icon: true, icon_reference: 'filters' -%}
                              </i>
                              {{- 'filters.drawer_label_heading' | t -}}:
                            </strong>
                          </div>
                          <div class="modal-component_content" id="facets-wrapper"></div>
                        </div>
                      </div>
                    </div>
                  </modal-filter-component>
                  {%- if section.settings.enable_filters -%}
                    {%- liquid
                      assign active_filters_size = 0
      
                      for filter in search.filters
                        for value in filter.active_values
                          assign active_filters_size = active_filters_size | plus: 1
                        endfor
      
                        if filter.type == 'price_range'
                          if filter.min_value.value != null or filter.max_value.value != null
                            assign active_filters_size = active_filters_size | plus: 1
                          endif
                        endif
                      endfor
                    -%}
                    <div class="parent-node active-facets--desktop" data-render-actives="">
                      <div class="grid-common_active-facets mty {% unless active_filters_size > 0 %}hidden{% endunless %}">
                        {%- for filter in search.filters -%}
                          {%- for value in filter.active_values -%}
                            <facet-remove-button
                              data-name="{{- filter.param_name -}}"
                              data-name="{{- value.value -}}"
                            >
                              <button type="button" class="facet-remove-btn button button--primary --v-align-middle">
                                {{- value.label | escape -}}
                                <i class="button_icn-wrapper">
                                  {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'cross' -%}
                                </i>
                              </button>
                            </facet-remove-button>
                          {%- endfor -%}
                          {% if filter.type == 'price_range' %}
                            {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                              <facet-remove-button
                                data-name="{{- filter.param_name -}}"
                              >
                                <button type="button" class="facet-remove-btn button button--primary --v-align-middle">
                                  {%- liquid
                                    if filter.min_value.value
                                      echo filter.min_value.value | money
                                      else
                                        echo 0 | money
                                    endif
                                    echo ' - '
                                    if filter.max_value.value
                                      echo filter.max_value.value | money
                                      else
                                        echo filter.range_max | money
                                    endif
                                  -%}
                                  <i class="button_icn-wrapper">
                                    {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'cross' -%}
                                  </i>
                                </button>
                              </facet-remove-button>
                            {%- endif -%}
                          {%- endif -%}
                        {%- endfor -%}
                        <facet-remove-button
                          data-name="all"
                        >
                          <button type="button" class="facets-remove-all button button--link">
                            {{- 'filters.clear_all' | t -}}
                          </button>
                        </facet-remove-button>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              {%- else -%}
                <div class="grid-common_facets-wrap grid-common_facets-bar_col grid-common_facets-bar_col--filter">&nbsp;</div>
              {%- endif -%}
              <div class="grid-common_sort-count grid-common_sort-wrap dropdown-component grid-common_facets-bar_col grid-common_facets-bar_col--sort">
                {%- if search.performed -%}
                  <div class="grid-common_text-count mty h6 --fw-bold --word-break" data-render-counts="">
                    {%- liquid
                      if search.results_count != null
                        if search.results_count > 0
                          echo 'search.show_results' | t: count: search.results_count
                          else
                            echo 'search.no_res' | t
                        endif
                        else
                          if search.products_count and search.products_count != search.all_products_count
                            echo 'search.product_count.other' | t: product_count: search.products_count, count: search.all_products_count
                            else
                              echo 'search.product_count.other' | t: count: search.all_products_count
                          endif
                      endif
                    -%}
                  </div>
                {%- endif -%}
                {%- if section.settings.enable_sort -%}
                  <div class="dropdown-component grid-common_facets-sort">
                    <strong id="facets-sort-select-heading" class="visually-hidden" role="heading" aria-level="2">
                      {{- 'filters.sort.label_heading' | t -}}
                    </strong>
                    <div class="dropdown-sort_wrap">
                      <sort-dropdown
                        class="dropdown-sort"
                      >
                        <button
                          type="button"
                          class="dropdown-component_opener grid-common_opener dropdown-sort_opener --align-left --word-break"
                          aria-expanded="false"
                          aria-controls="facets-sort-select"
                          aria-describedby="facets-sort-select-heading"
                        >
                          <span data-current-value="" class="dropdown-sort_title">
                            {%- liquid
                              for option in search.sort_options
                                if option.value == sort_by
                                  echo option.name | escape
                                endif
                              endfor
                            -%}
                          </span>
                          <i class="dropdown-componenet_icn-caret">
                            {%- render 'icons-data', width: 9, height: 5, use_icon: true, icon_reference: 'chevron-down', section_id: section.id -%}
                          </i>
                        </button>
                        <div class="dropdown-component_wrapper dropdown-sort_wrapper">
                          <ul id="facets-sort-select" class="list-unstyled dropdown-sort_items">
                            {%- for option in search.sort_options -%}
                              <li>
                                <button
                                  data-btn-sort=""
                                  type="button"
                                  class="dropdown-component_btn-submit --word-break --align-left facet-sort_btn-submit {% if option.value == sort_by %}active{% endif %}"
                                  data-value="{{- option.value | escape -}}"
                                  data-text="{{- option.name | escape -}}"
                                >
                                  {{- option.name | escape -}}
                                  {%- if option.value == sort_by -%}
                                    <span class="visually-hidden">{{- 'filters.sort.option_selected' | t -}}</span>
                                  {%- endif -%}
                                </button>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                        <input type="hidden" name="sort_by" value="{{- sort_value -}}">
                      </sort-dropdown>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            </div>
            {%- if section.settings.enable_filters -%}
              {%- liquid
                assign active_filters_size = 0

                for filter in search.filters
                  for value in filter.active_values
                    assign active_filters_size = active_filters_size | plus: 1
                  endfor

                  if filter.type == 'price_range'
                    if filter.min_value.value != null or filter.max_value.value != null
                      assign active_filters_size = active_filters_size | plus: 1
                    endif
                  endif
                endfor
              -%}
              <div class="parent-node active-facets--mobile" data-render-actives-mobile="">
                <div class="grid-common_active-facets mty {% unless active_filters_size > 0 %}hidden{% endunless %}">
                  {%- for filter in search.filters -%}
                    {%- for value in filter.active_values -%}
                      <facet-remove-button
                        data-name="{{- filter.param_name -}}"
                        data-name="{{- value.value -}}"
                      >
                        <button type="button" class="facet-remove-btn button button--primary --v-align-middle">
                          {{- value.label | escape -}}
                          <i class="button_icn-wrapper">
                            {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'cross' -%}
                          </i>
                        </button>
                      </facet-remove-button>
                    {%- endfor -%}
                    {% if filter.type == 'price_range' %}
                      {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                        <facet-remove-button
                          data-name="{{- filter.param_name -}}"
                        >
                          <button type="button" class="facet-remove-btn button button--primary --v-align-middle">
                            {%- liquid
                              if filter.min_value.value
                                echo filter.min_value.value | money
                                else
                                  echo 0 | money
                              endif
                              echo ' - '
                              if filter.max_value.value
                                echo filter.max_value.value | money
                                else
                                  echo filter.range_max | money
                              endif
                            -%}
                            <i class="button_icn-wrapper">
                              {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'cross' -%}
                            </i>
                          </button>
                        </facet-remove-button>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                  <facet-remove-button
                    data-name="all"
                  >
                    <button type="button" class="facets-remove-all button button--link">
                      {{- 'filters.clear_all' | t -}}
                    </button>
                  </facet-remove-button>
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
          {%- unless search.results.size == 0 -%}
            <div class="grid-common_cols-wrap grid grid--no-gutters {{ section_prefix_class }}_cols-wrap" data-render-grid="">
              {%- paginate search.results by max_products_to_show -%}
                {%- for product in search.results -%}
                  {%- case product.object_type -%}
                    {%- when 'product' -%}
                      <div class="grid_col" data-render-columns="">
                        {%- liquid
                          if forloop.index == 1
                            render 'product-column', product: product, heading_tag: 'h2', media_size: section.settings.product_media_size, enable_atc: section.settings.enable_atc, show_price: section.settings.show_price, show_vendor: section.settings.show_vendor, show_stock_tag: section.settings.show_stock_tag, show_sale_tag: section.settings.show_sale_tag, heading_size: section.settings.product_heading_size, heading_weight: section.settings.product_heading_weight, show_quick_view: section.settings.enable_quick_view, fetchpriority: 'high', section_id: section.id, show_custom_tag: section.settings.show_custom_tag, columns_division: section.settings.number_of_columns_on_desktop, index: forloop.index
                            else
                              render 'product-column', product: product, heading_tag: 'h2', media_size: section.settings.product_media_size, enable_atc: section.settings.enable_atc, show_price: section.settings.show_price, show_vendor: section.settings.show_vendor, show_stock_tag: section.settings.show_stock_tag, show_sale_tag: section.settings.show_sale_tag, heading_size: section.settings.product_heading_size, heading_weight: section.settings.product_heading_weight, show_quick_view: section.settings.enable_quick_view, loading_attr: 'lazy', section_id: section.id, show_custom_tag: section.settings.show_custom_tag, columns_division: section.settings.number_of_columns_on_desktop, index: forloop.index
                          endif
                        -%}
                      </div>
                    {%- when 'article' -%}
                      <div class="grid_col" data-render-columns="">
                        {%- render 'blog-card',
                          article: product,
                          show_image: true,
                          blog_heading_size: section.settings.product_heading_size,
                          heading_weight: section.settings.product_heading_weight,
                          show_date: section.settings.show_date,
                          show_author: section.settings.show_author,
                          show_excerpt: section.settings.show_excerpt,
                          show_tags: section.settings.show_tags,
                          show_comments_count: section.settings.show_comments_count,
                          prefix_class: section_prefix_class,
                          loading_attr: 'lazy',
                          columns_division: section.settings.number_of_columns_on_desktop,
                          index: forloop.index
                        -%}
                      </div>
                    {%- when 'page' -%}
                      <div class="grid_col" data-render-columns="">
                        {%- render 'page-card', page: product, heading_size: section.settings.product_heading_size, heading_weight: section.settings.product_heading_weight, section_id: section.id, columns_division: section.settings.number_of_columns_on_desktop, index: forloop.index -%}
                      </div>
                  {%- endcase -%}
                {%- endfor -%}
                {%- liquid
                  case section.settings.paging_type
                    when 'click_load'
                      render 'load-more', paginate: paginate, infinite: false, section_id: section.id
                    when 'load_more'
                      render 'load-more', paginate: paginate, infinite: true, section_id: section.id
                    else
                      render 'pagination', paginate: paginate, prefix_class: section_prefix_class, section_id: section.id
                  endcase
                -%}
              {%- endpaginate -%}
            </div>
            {% if enable_description == 'true' and section.settings.show_description == 'bottom' %}
              <div class="grid-common_text {{ section.settings.section_description_size }} {{ section.settings.section_description_weight }}">
                {{- results_text -}}
              </div>
            {%- endif -%}
            {%- else -%}
              <div class="grid-common_empty --align-center" data-render-grid="">
                <i class="grid-common_empty-icn">
                  {%- render 'icons-data', width: 44, height: 44, use_icon: true, icon_reference: 'empty-folder', section_id: section.id -%}
                </i>
                <strong class="grid-common_heading mty {{ section.settings.section_heading_size }} {{ section.settings.section_heading_weight }}">
                  {{- 'collection.empty_heading' | t -}}
                </strong>
                <div class="grid-common_text grid-common_text--empty {{ section.settings.section_description_size }} {{ section.settings.section_description_weight }}">
                  <p>{{- 'filters.use_fewer_filters' | t -}}</p>
                  <facet-remove-button
                    data-name="all"
                  >
                    <button type="button" class="facets-remove-all button button--primary">
                      {{- 'filters.clear_all' | t -}}
                    </button>
                  </facet-remove-button>
                </div>
              </div>
          {%- endunless -%}
        </div>
        {%- else -%}
          <div class="grid-common_empty --align-center">
            <i class="grid-common_empty-icn">
              {%- render 'icons-data', width: 44, height: 44, use_icon: true, icon_reference: 'empty-folder', section_id: section.id -%}
            </i>
            <strong class="grid-common_heading mty {{ section.settings.section_heading_size }} {{ section.settings.section_heading_weight }}">
              {{- 'collection.empty_heading' | t -}}
            </strong>
          </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main_search.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.head.content"
    },
    {
      "type": "text",
      "id": "section_caption",
      "label": "t:caption.label"
    },
    {
      "type": "select",
      "id": "section_caption_size",
      "label": "t:sizes.caption.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "section_caption_weight",
      "label": "t:weight.caption.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        },
        {
          "value": "h5",
          "label": "t:sizes.heading.options.opt_5.label"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-extra-bold"
    },
    {
      "type": "inline_richtext",
      "id": "section_description",
      "label": "t:description_text.label",
      "default": "Experience the Elegance and Style in Every Image"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--large"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-normal"
    },
    {
      "type": "checkbox",
      "id": "enable_predictive_suggestions",
      "label": "t:sections.header.settings.search.predictive.label",
      "default": true
    },
    {
      "type": "select",
      "id": "main_page_section_container_layout",
      "label": "t:settings_schema.container_layout.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:settings_schema.container_layout.settings.container.label"
        },
        {
          "value": "contained-content",
          "label": "t:settings_schema.container_layout.settings.contained_content.label"
        },
        {
          "value": "container-fluid",
          "label": "t:settings_schema.container_layout.settings.container_fluid.label"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "main_page_section_corner_radius",
      "label": "t:round_crnr.label",
      "options": [
        {
          "value": "no_corners_radius",
          "label": "t:round_crnr.options.opt_1.label"
        },
        {
          "value": "top_corners_radius",
          "label": "t:round_crnr.options.opt_2.label"
        },
        {
          "value": "bottom_corners_radius",
          "label": "t:round_crnr.options.opt_3.label"
        },
        {
          "value": "both_corners_radius",
          "label": "t:round_crnr.options.opt_4.label"
        }
      ],
      "default": "bottom_corners_radius"
    },
    {
      "type": "range",
      "id": "max_content_size",
      "label": "t:sections.head.size.label",
      "min": 50,
      "max": 100,
      "step": 5,
      "default": 50,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:sections.main_page.settings.banner_height.label",
      "options": [
        {
          "value": "small",
          "label": "t:height.options.opt_1.label"
        },
        {
          "value": "medium",
          "label": "t:height.options.opt_2.label"
        },
        {
          "value": "window_height",
          "label": "t:height.options.opt_4.label"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:alignments.content.label",
      "options": [
        {
          "value": "top",
          "label": "t:positions.options.top"
        },
        {
          "value": "middle",
          "label": "t:positions.options.middle"
        },
        {
          "value": "bottom",
          "label": "t:positions.options.bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.desktop.label",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "banner_color_scheme",
      "default": "scheme2",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:breadcrumb.content"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "t:breadcrumb.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_top_bdr",
      "label": "t:top_bdr.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_bdr",
      "label": "t:bottom_bdr.label",
      "default": false
    },
    {
      "type": "select",
      "id": "breadcrumb_corner_radius",
      "label": "t:round_crnr.label",
      "options": [
        {
          "value": "no_corners_radius",
          "label": "t:round_crnr.options.opt_1.label"
        },
        {
          "value": "top_corners_radius",
          "label": "t:round_crnr.options.opt_2.label"
        },
        {
          "value": "bottom_corners_radius",
          "label": "t:round_crnr.options.opt_3.label"
        },
        {
          "value": "both_corners_radius",
          "label": "t:round_crnr.options.opt_4.label"
        }
      ],
      "default": "no_corners_radius"
    },
    {
      "type": "select",
      "id": "breadcrumb_container_layout",
      "label": "t:settings_schema.container_layout.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:settings_schema.container_layout.settings.container.label"
        },
        {
          "value": "contained-content",
          "label": "t:settings_schema.container_layout.settings.contained_content.label"
        },
        {
          "value": "container-fluid",
          "label": "t:settings_schema.container_layout.settings.container_fluid.label"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "breadcrumb_color_scheme",
      "default": "scheme2",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:grid.content"
    },
    {
      "type": "range",
      "id": "number_of_columns_on_desktop",
      "label": "t:grid.desktop.columns.label",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "type": "range",
      "id": "number_of_rows_on_desktop",
      "label": "t:grid.desktop.rows.label",
      "min": 1,
      "max": 7,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "number_of_columns_on_mobile",
      "label": "t:grid.mobile.columns.label",
      "info": "t:grid.mobile.info_small",
      "options": [
        {
          "value": "1",
          "label": "t:grid.mobile.columns.options.opt_1.label"
        },
        {
          "value": "2",
          "label": "t:grid.mobile.columns.options.opt_2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:sections.main_search.settings.card_settings.label"
    },
    {
      "type": "select",
      "id": "product_media_size",
      "label": "t:media.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:media.options.opt_1.label"
        },
        {
          "value": "square",
          "label": "t:media.options.opt_2.label"
        },
        {
          "value": "portrait",
          "label": "t:media.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:media.options.opt_4.label"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "product_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "product_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-semi-bold"
    },
    {
      "type": "header",
      "content": "t:product.card.content"
    },
    {
      "type": "checkbox",
      "id": "enable_atc",
      "label": "t:product.atc.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_quick_view",
      "label": "t:product.quick_view.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:product.price.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:product.vendor.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_stock_tag",
      "label": "t:product.stock.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sale_tag",
      "label": "t:product.sale.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_custom_tag",
      "label": "t:product.custom_tag.label",
      "default": true
    },
    {
    "type": "header",
    "content": "t:sections.main_search.settings.blog_card.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.main_blog.settings.blog_card.tags.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:sections.main_blog.settings.blog_card.date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.main_blog.settings.blog_card.author.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "t:sections.main_blog.settings.blog_card.excerpt.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments_count",
      "label": "t:sections.main_blog.settings.blog_card.comments_count.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filters",
      "label": "t:filters.label",
      "info": "t:filters.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sort",
      "label": "t:filters.sort.label",
      "default": true
    },
    {
      "type": "select",
      "id": "paging_type",
      "label": "t:pagination.label",
      "info": "t:pagination.info",
      "options": [
        {
          "value": "pagination",
          "label": "t:pagination.options.opt_1.label"
        },
        {
          "value": "click_load",
          "label": "t:pagination.options.opt_2.label"
        },
        {
          "value": "load_more",
          "label": "t:pagination.options.opt_3.label"
        }
      ],
      "default": "pagination"
    },
    {
      "type": "select",
      "id": "section_container_layout",
      "label": "t:settings_schema.container_layout.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:settings_schema.container_layout.settings.container.label"
        },
        {
          "value": "contained-content",
          "label": "t:settings_schema.container_layout.settings.contained_content.label"
        },
        {
          "value": "container-fluid",
          "label": "t:settings_schema.container_layout.settings.container_fluid.label"
        }
      ],
      "default": "contained-content"
    },
    {
      "type": "select",
      "id": "section_corner_radius",
      "label": "t:round_crnr.label",
      "options": [
        {
          "value": "no_corners_radius",
          "label": "t:round_crnr.options.opt_1.label"
        },
        {
          "value": "top_corners_radius",
          "label": "t:round_crnr.options.opt_2.label"
        },
        {
          "value": "bottom_corners_radius",
          "label": "t:round_crnr.options.opt_3.label"
        },
        {
          "value": "both_corners_radius",
          "label": "t:round_crnr.options.opt_4.label"
        }
      ],
      "default": "no_corners_radius"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 27,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ]
}
{% endschema %}