{%- liquid
  assign section_prefix_class = 'main-reset-password'
  assign section_scheme_class = settings.main_reset_color_scheme | prepend: 'scheme scheme--'

  capture main_heading
    if settings.main_reset_heading != blank
      echo settings.main_reset_heading
      else
        echo 'reset_password.title' | t
    endif
  endcapture
-%}
{%- style -%}
  .main-reset-password{
    --section-padding-top: 0;
    --section-padding-bottom: 0;
  }

  .main-reset-password,
  .main-reset-password_form-align{
    position: relative;
  }

  .main-reset-password_wrapper{
    display: flex;
  }

  .main-reset-password_wrapper{
    justify-content: center;
  }

  .main-reset-password_column{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 50%;
  }

  .main-reset-password_btn-wrapper{
    --mt-top: 20px;
  }

  .main-reset-password_heading-head{
    margin-bottom: 29px;
  }

  .main-reset-password_subTitle{
    color: var(--section-error-color);
  }

  .main-reset-password_subTitle{
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .main-reset-password_wrapper .align-holder--mcenter .align-holder_wrapper{
    width: 100%;
  }

  .main-reset-password_form-align{
    padding-top: 44px;
    padding-bottom: 44px;
    max-width: 595px;
  }

  .main-reset-password_form-btn{
    width: 100%;
  }

  .main-reset-password_form-btn.button--link,
  .main-reset-password_pass-btn.button--link{
    --button-padding-x: 0;
  }

  .main-reset-password_pass-btn .button_icn,
  .main-reset-password_form-btn .button_icn{
    vertical-align: -0.4em;
    margin-right: 8px;
  }

  .main-reset-password_form-btn .button_icn,
  .main-reset-password_pass-btn--back .button_icn,
  .main-reset-password_btn--back .button_icn{
    vertical-align: -0.15em;
  }

  .main-reset-password_results-wrap:empty{
    display: none;
  }

  .main-reset-password_field + .main-reset-password_field{
    margin-top: 27px;
  }

  .main-reset-password_foot-wrapper{
    --mt-top: 47px;
  }

  .main-reset-password .errors-list{
    padding-left: 37px;
    margin-bottom: 30px;
  }

  .form__message, 
  .error-email {
    display: flex;
  }

  .form-group{
    position: relative;
  }

  .form__message,
  .error-email {
    align-items: center;
    gap: 10px;
  }

  .form__message {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .newsletter-form_results-wrap,
  .form__message svg,
  .errors-list_link {
    color: var(--section-error-color);
  }

  .success-message .image,
  .errors-list {
    margin-bottom: 10px;
  }

  .errors-list_link {
    text-decoration: none;
  }

  .error-email {
    position: absolute;
    right: 0;
  }

  .error-email,
  .contact__field-error {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .success-message {
    text-align: center;
    margin-top: 39px;
    font-size: 2rem;
    line-height: 3.3rem;
    color: var(--section-success-color);
  }

  .success-message p {
    margin: 0;
  }

  .error-email_text,
  .success-message_icn,
  .main-reset-password_form-btn {
    display: block;
  }

  .success-message_icn {
    margin-bottom: 14px;
  }

  .form-group textarea,
  .error-email{
    margin-top: 10px;
  }

  .form-wrapper_btn-wrap{
    margin-top: 19px;
  }

  .form-wrapper_button {
    width: 100%;
    --button-padding-y: 1.1rem;
    --button-padding-x: 1.6rem;
    --button-font-size: 1.4rem;
    --button-line-height: 2rem;
    --button-font-family: var(--body-font-family);
  }

  .main-reset-password_form-input-lable{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  @media(min-width: 768px){
    .main-reset-password .container-fluid{
      --cp-spacer-left: 0;
      --cp-spacer-right: 0;
    }

    .main-reset-password_form-align{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (min-width: 992px){
    .main-reset-password_heading-head{
      margin-bottom: 48px;
    }

    .main-reset-password_btn-wrapper{
      --mt-top: 32px;
    }
  }
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}">
  <div class="container-fluid">
    <div class="{{ section_prefix_class }}_wrapper">
      <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--form align-holder align-holder--mcenter">
        <div class="{{ section_prefix_class }}_form-align align-holder_wrapper">
          {%- if settings.main_reset_heading != blank -%}
            <header class="{{ section_prefix_class }}_heading-head --align-center">
              <h1 class="{{ section_prefix_class }}_heading --h-anchor-none {{ settings.main_reset_heading_size }} {{ settings.main_reset_heading_weight }} mty">
                {{- main_heading -}}
              </h1>
              <p class="{{ section_prefix_class }}_description mty">{{- 'reset_password.subtext' | t -}}</p>
            </header>
            {%- else -%}
              <header class="visually-hidden --align-center">
                <h1>
                  {{- main_heading -}}
                </h1>
                <p class="{{ section_prefix_class }}_description mty">{{- 'reset_password.subtext' | t -}}</p>
              </header>
          {%- endif -%}
          {%- form 'reset_customer_password' -%}
            {%- if form.errors -%}
              <strong class="form__message mty" role="alert" tabindex="-1" autofocus>
                {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                {{- 'erorr.common_heading' | t -}}
              </strong>
              <div class="customer-login_errors-wrap">
                <ul class="errors-list list-unstyled">
                  {%- for field in form.errors -%}
                    <li>
                      {%- if field == 'form' -%}
                      *{{- form.errors.messages[field] -}}
                      {%- else -%}
                        <a href="#{{ field }}" class="errors-list_link">
                          *{{- form.errors.translated_fields[field] | capitalize }}
                          {{ form.errors.messages[field] -}}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
            <div class="inputWrap">
              <div class="{{ section_prefix_class }}_field">
                <label for="password" class="{{ section_prefix_class }}_form-input-lable visually-hidden">
                  {{ 'account.pass_label' | t }}
                </label>
                <input
                  type="password"
                  name="customer[password]"
                  id="password"
                  autocomplete="new-password"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="password-error"
                  {% endif %}
                  placeholder="{{ 'account.pass_label' | t }}"
                  class="form-control form-control--secondary"
                >
                {%- if form.errors contains 'password' -%}
                  <div class="error-email_text">
                    <small id="password-error" class="form__message error-email">
                      {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'error' -%}
                      {{ form.errors.translated_fields.password | capitalize }}
                      {{ form.errors.messages.password }}
                    </small>
                  </div>
                {%- endif -%}
              </div>
              <div class="{{ section_prefix_class }}_field">
                <label for="password_confirmation" class="{{ section_prefix_class }}_form-input-lable visually-hidden">
                  {{ 'account.password_confirm' | t }}
                </label>
                <input
                  type="password"
                  name="customer[password_confirmation]"
                  id="password_confirmation"
                  autocomplete="new-password"
                  {% if form.errors contains 'password_confirmation' %}
                    aria-invalid="true"
                    aria-describedby="password_confirmation-error"
                  {% endif %}
                  placeholder="{{ 'account.password_confirm' | t }}"
                  class="form-control form-control--secondary"
                >
                {%- if form.errors contains 'password_confirmation' -%}
                  <small id="password_confirmation-error" class="form__message loginError error-email">
                    {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'error' -%}
                    {{ form.errors.translated_fields.password_confirmation | capitalize }}
                    {{ form.errors.messages.password_confirmation }}
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="{{ section_prefix_class }}_btn-wrapper mty">
              <button type="submit" class="button button--secondary {{ section_prefix_class }}_form-btn button--animate">
                <i class="button_icn">
                  {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'right-arrow' -%}
                </i>
                {{ 'account.reset_heading' | t }}
              </button>
            </div>
            {%- if form.posted_successfully? -%}
              <div class="success-message" role="alert" tabindex="-1" autofocus>
                <i class="success-message_icn">
                  {%- render 'icons-data', width: 54, height: 54, use_icon: true, icon_reference: 'smile' -%}
                </i>
                <p>{{- 'success.thanks_message' | t -}}</p>
                <p>{{- 'success.get_back_message' | t -}}</p>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main_reset_password.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
  ]
}
{% endschema %}