{%- liquid
  assign section_prefix_class = 'newsletter-section'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture image_alt
    if section.settings.image != blank
      echo section.settings.image.alt | escape
      else
        echo 'newsletter.alt_label' | t
  endif
endcapture

  capture section_container_layout
    case section.settings.section_container_layout
      when 'page-width'
        echo 'container'
      when 'contained-content'
        echo 'contained-container'
      when 'container-fluid'
        echo 'container-fluid'
    endcase
  endcapture

  capture section_corner_radius
    case section.settings.section_corner_radius
      when 'top_corners_radius'
        echo 'top_corners_radius'
      when 'bottom_corners_radius'
        echo 'bottom_corners_radius'
      when 'both_corners_radius'
        echo 'both_corners_radius'
      when 'no_corners_radius'
        echo 'no_corner_radius'
    endcase
  endcapture

  assign image_height = 150 | divided_by: section.settings.image.aspect_ratio | round
  capture loading_attr
    if section.index == 1
      echo 'eager'
    else
      echo 'lazy'
    endif
  endcapture
-%}
{%- style -%}
  .newsletter-section_grid {
    gap: 20px;
  }

  .newsletter-section_grid,
  .newsletter-form_input-wrap,
  .newsletter-section_content-col,
  .newsletter-form_input-wrap-email {
    flex-direction: column;
  }

  .newsletter-section_grid,
  .newsletter-section_error-wrapper,
  .newsletter-section_error-wrapper,
  .newsletter-section_content-col {
    align-items: center;
  }

  .newsletter-section_grid,
  .newsletter-section_error-wrapper,
  .newsletter-section_error-wrapper,
  .newsletter-form_input-wrap,
  .newsletter-section_content-col,
  .newsletter-form_input-wrap-email {
    display: flex;
  }

  .newsletter-section_col,
  .newsletter-section .newsletter-form_btn,
  .newsletter-form_input-wrap-name,
  .newsletter-form_input-wrap-email {
    width: 100%;
  }

  .newsletter-section_description {
    margin-top: 13px;
  }

  .newsletter-section {
    --q-align-value: var(--mobile-q-align);
  }

  .newsletter-section-form_group-wrap,
  .newsletter-section_image-wrap {
    position: relative;
  }

  .newsletter-section_btns-wrap {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .newsletter-section_submit-btn {
    --button-padding-y: 1.5rem;
    max-width: 152px;
    --button-height: 52px;
    overflow-y: auto;
  }

  .newsletter-section_error-wrapper {
    line-height: 0;
    gap: 10px;
    justify-content: flex-end;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--section-error-color)
  }

  .newsletter-section .success-message {
    text-align: center;
  }

  .newsletter-section .success-message {
    margin-top: 39px;
    font-size: 2rem;
    line-height: 3.3rem;
    color: var(--section-success-color);
  }

  .newsletter-section .success-message p {
    margin: 0;
  }

  .newsletter-section .success-message .image {
    margin-bottom: 10px;
  }

  .newsletter-section .success-message_icn {
    display: block;
    margin-bottom: 14px;
  }

  .newsletter-section .newsletter-form_btn {
    margin-top: 25px;
  }

  .newsletter-section_wrapper.internal--spacing {
    padding: 40px 30px 35px;
  }

  .newsletter-form_input-wrap {
    gap: 30px;
  }

  .newsletter-section_image-wrap {
    flex-shrink: 0;
  }

  .newsletter-section_content-col {
    gap: 20px;
  }

  .newsletter-form_results-wrap,
  .newsletter-section_error-wrapper {
    margin-top: 10px;
  }

  @media(min-width: 768px) {
    .newsletter-section_form-align {
      padding-left: 40px;
      padding-right: 40px;
    }

    .newsletter-section{
      --q-align-value: var(--desktop-q-align);
    }
  }

  @media(min-width: 992px) {
    .newsletter-form_input-wrap {
      flex-direction: row;
    }

    ..newsletter-section_col,
    .newsletter-form_input-wrap-name,
    .newsletter-form_input-wrap-email {
      width: 50%;
    }

    .newsletter-section_grid {
      flex-direction: row;
    }

    .newsletter-section_content-col {
      flex-direction: row;
    }
  }
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {% if section_container_layout == 'container-fluid' or section_container_layout == 'contained-container' %}{{ section_scheme_class }} {{ section_corner_radius }}{% endif %}" style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --mobile-q-align: {{ section.settings.section_mobile_text_alignment }}; --desktop-q-align: {{ section.settings.section_text_alignment }};">
  <div class="{{ section_container_layout }}">
    <div class="{{ section_prefix_class }}_wrapper {% if section_container_layout == 'container' %}{{ section_scheme_class }} {{ section_corner_radius }} internal--spacing{% endif %}">
      <div class="{{ section_prefix_class }}_grid">
        <div class="{{ section_prefix_class }}_col {{ section_prefix_class }}_content-col">
          {%- if section.settings.image != blank -%}
            <div class="{{ section_prefix_class }}_image-wrap">
              {{- section.settings.image | image_url: width: 150 | image_tag:
                alt: image_alt,
                width: 150,
                height: image_height,
                loading: loading_attr,
                widths: '150, 354, 384, 466, 585, 738, 768, 962, 1200, 1560',
                sizes: '(max-width: 767px) calc(100vw - 30px), (max-width: 1259px) calc((100vw / 2) - 30px), calc((var(--cp-width-px) / 2) - 30px)'
              -}}
            </div>
          {%- endif -%}
          {%- if section.settings.section_heading != blank or section.settings.section_description != blank -%}
            <div class="heading-head --word-break --q-align">
              {%- if section.settings.section_heading != blank -%}
                <h2 class="{{ section_prefix_class }}_heading {{ section.settings.section_heading_weight }} --h-anchor-none {{ section.settings.section_heading_size }} mty">
                  {{- section.settings.section_heading -}}
                </h2>
              {%- endif -%}
              {%- if section.settings.section_description != blank -%}
                <div class="{{ section_prefix_class }}_description --word-break {{ section.settings.section_description_weight }} {{ section.settings.description_text_size }} mty">
                  <p>{{- section.settings.section_description -}}</p>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
        <div class="{{ section_prefix_class }}_col">
          {%- liquid
            capture button_1_text
              if section.settings.button_label_1 != blank
                echo section.settings.button_label_1
                else
                  echo 'footer.button_label' | t
              endif
            endcapture
            assign id = 'email-signup-' | append: section.id
            render 'newsletter-form', section_prefix_class: section_prefix_class, form_id: id, button_label: button_1_text
          -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.email_signup.name",
  "tag": "footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:image.label"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:heading.label",
      "default": "Subscribe to our emails"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-bold"
    },
    {
      "type": "inline_richtext",
      "id": "section_description",
      "label": "t:description_text.label",
      "default": "Be the first to know about new collections and exclusive offers."
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--small"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "--fw-normal"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:settings_schema.buttons.settings.button.label",
      "default": "Subscribe now"
    },
    {
      "type": "select",
      "id": "type",
      "label": "t:settings_schema.buttons.settings.button.type.label",
      "options": [
        {
          "value": "primary",
          "label": "t:settings_schema.buttons.settings.button.type.opt_1.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.buttons.settings.button.type.opt_2.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "select",
      "id": "section_container_layout",
      "label": "t:settings_schema.container_layout.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:settings_schema.container_layout.settings.container.label"
        },
        {
          "value": "contained-content",
          "label": "t:settings_schema.container_layout.settings.contained_content.label"
        },
        {
          "value": "container-fluid",
          "label": "t:settings_schema.container_layout.settings.container_fluid.label"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "section_corner_radius",
      "label": "t:round_crnr.label",
      "options": [
        {
          "value": "no_corners_radius",
          "label": "t:round_crnr.options.opt_1.label"
        },
        {
          "value": "top_corners_radius",
          "label": "t:round_crnr.options.opt_2.label"
        },
        {
          "value": "bottom_corners_radius",
          "label": "t:round_crnr.options.opt_3.label"
        },
        {
          "value": "both_corners_radius",
          "label": "t:round_crnr.options.opt_4.label"
        }
      ],
      "default": "both_corners_radius"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.desktop.label",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme2",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "t:sections.email_signup.name"
    }
  ]
}
{% endschema %}