{%- liquid
  assign section_prefix_class = 'related-products'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture max_header_size
    echo settings.page_width | times: section.settings.max_header_size | divided_by: 100
  endcapture

  capture section_container_layout
    case section.settings.section_container_layout
      when 'page-width'
        echo 'container'
      when 'contained-content'
        echo 'contained-container'
      when 'container-fluid'
        echo 'container-fluid'
    endcase
  endcapture

  capture section_corner_radius
    case section.settings.section_corner_radius
      when 'top_corners_radius'
        echo 'top_corners_radius'
      when 'bottom_corners_radius'
        echo 'bottom_corners_radius'
      when 'both_corners_radius'
        echo 'both_corners_radius'
      when 'no_corners_radius'
        echo 'no_corner_radius'
    endcase
  endcapture
-%}
{% style %}
  .related-products{
    --desktop-columns-count: 1;
    --q-align-value: var(--mobile-q-align);
  }

  .related-products_grid{
    display: grid;
    grid-template-columns: repeat(var(--desktop-columns-count, 4), minmax(0, 1fr));
    gap: 24px;
  }

  .related-products_wrapper.internal--spacing{
    padding: 15px;
  }

  .related-products_cs-scroll .cs-col{
    width: 284px;
    padding-bottom: 10px;
    --grid-gutter: 24px;
  }

  .related-products .heading-head{
    margin-bottom: 24px;
  }

  .related-products_slider .splide__arrows{
    margin-top: 24px;
  }

  .product-column_image,
  .product-column_tag,
  .product-column .tags-list_tag,
  .product-column .product-tag_dot,
  .product-column_vendor{
    display: block;
  }

  .product-column_tag-wrap,
  .product-column,
  .product-column_btn-wrap,
  .product-column_btn,
  .product-column_tag-in,
  .product-column_error,
  .product-column_top-wrap{
    display: flex;
  }

  .product-column_image:focus-visible{
    --focus-outline-offset: 0;
  }

  .product-column_image:focus-visible > img,
  .product-column_image:focus-visible > svg{
    padding: 4px;
  }

  .product-column,
  .product-column_image:focus-visible > img{
    border: 1px solid var(--section-border-color);
  }

  .product-column,
  .product-column_top-wrap{
    flex-direction: column;
  }

  .product-column{
    border-radius: var(--section-radius);
  }

  .product-column_image,
  .product-column_image > img,
  .product-column_image > svg{
    border-radius: var(--section-radius) var(--section-radius) 0 0;
  }
  .product-column,
  .product-column_image,
  .product-column_btn-wrap{
    width: 100%;
  }

  .product-column_image,
  .product-column_image-wrap,
  .product-column_media-wrap,
  .related-products .custom-scroll{
    position: relative;
  }

  .product-column_btn{
    --button-outline-offset: 1px;
  }

  .product-column_tag-wrap{
    position: absolute;
    left: 17px;
    top: 14px;
    right: 17px;
  }

  .product-column_btn{
    --button-outline-offset: -1px;
    --button-font-weight: 600;
    --button-font-family: var(--font-headings-family);
    --button-padding-x: 1.9rem;
  }

  .product-column_btn .product-column_btn-txt{
    padding-left: 11px;
  }
  
  .product-column_tag-wrap{
    flex-wrap: wrap;
    gap: 5px;
  }

  .product-column_tag-in,
  .product-column_tag,
  .product-column_tag-dot,
  .product-column_price .product-price_unit-pricing::before{
    border-radius: calc(var(--section-radius) * 99);
  }

  .product-column_tag{
    padding: 6px 9px;
    background-color: var(--badge-bg);
    color: var(--badge-clr);
  }

  .product-column_tag-dot{
    width: 6px;
    height: 6px;
    background-color: currentColor;
  }

  .product-column_tag-in,
  .product-column_tag{
    line-height: 1rem;
  }

  .product-column_tag-in{
    padding: 5px 9px;
    column-gap: 6px;
    background-color: var(--bg-clr);
    color: var(--section-background-color);
  }

  .product-column_content{
    flex-grow: 1;
    padding: 20px 17px 17px 17px;
  }

  {% if section.settings.enable_quick_view and section.settings.enable_atc %}
    #{{ section.id }} .product-column_quick-wrap{
      padding-right: 8px;
      background-size: 8px 8px;
      background-repeat: no-repeat;
      background-position: 100% calc(50% - 2px), 100% calc(50% + 4px);
    }

    #{{ section.id }} .product-column_quick-wrap--sep{
      background-image: radial-gradient(circle 4px at top center, transparent 4px, var(--section-primary-border-color) 4px), radial-gradient(circle 4px at bottom center, transparent 4px, var(--section-primary-border-color) 4px);
    }

    #{{ section.id }} .product-column_btn .product-column_btn-txt{
      padding-left: 0;
    }

    #{{ section.id }} .product-column_btn,
    #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:hover) + .product-column_atc-wrap .product-column_btn--atc,
    #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:focus-visible) + .product-column_atc-wrap .product-column_btn--atc,
    #{{ section.id }} .product-column_btn--atc{
      --button-padding-x: 1rem;
    }
    #{{ section.id }} .product-column_btn-txt{
      display: none;
    }
  {% endif %}

  .product-column_vendor{
    margin-bottom: 7px;
  }

  .product-column_title a{
    text-decoration: none;
  }

  .product-column_price .main-price,
  .product-column_price .regular-price{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .product-column_price .main-price{
    font-weight: 500;
  }

  .product-column_price .main-price,
  .product-column .product-column_error>.ico{
    color: var(--section-error-color);
  }

  .product-column_error{
    background: var(--section-error-color);
    margin: 6px 0;
    padding: 6px;
    font-family: var(--font-headings-family);
  }

  .product-column_error,
  .product-column_price .product-price_unit-pricing{
    font-size: 1.2rem;
  }

  .product-column_tag-in,
  .product-column_error{
    color: var(--section-background-color);
  }

  .product-column .product-column_error>.ico{
    flex-shrink: 0;
  }

  .product-column_price .product-price_unit-pricing{
    line-height: 1.8rem;
    text-transform: capitalize;
    color: var(--section-foreground-color);
  }

  .product-column_price .product-price_unit-pricing::before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-right: 2px;
    background: var(--section-foreground-color);
  }

  .product-column_price-wrap{
    margin-top: 8px;
  }

  .product-column_btn-wrap{
    margin-top: 14px;
  }

  .product-column_btn-wrap:has(button:focus-visible){
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
  }

  .product-column_media-wrap,
  .product-column,
  .product-column_top-wrap{
    height: 100%;
  }

  @media (min-width: 768px){
    .related-products{
      --q-align-value: var(--desktop-q-align);
      --desktop-columns-count: 2;
    }

    {% if section.settings.enable_quick_view and section.settings.enable_atc %}
      #{{ section.id }} .product-column_btn--atc{
        --button-padding-x: 1.9rem;
      }
      #{{ section.id }} .product-column_btn-txt{
        display: block;
      }
      #{{ section.id }} .product-column_btn,
      #{{ section.id }} .product-column_btn-txt{
        transition: all 0.3s ease;
      }
      
      #{{ section.id }} .product-column_btn .product-column_btn-txt{
        padding-left: 0;
      }

      #{{ section.id }} .product-column_btn-txt,
      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:hover) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt,
      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:focus-visible) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt{
        max-width: 0;
      }

      #{{ section.id }} .product-column_btn-txt,
      #{{ section.id }} .product-column_btn-wrap{
        overflow: hidden;
      }

      #{{ section.id }} .product-column_btn-txt{
        white-space: nowrap;
      }

      #{{ section.id }} .product-column_btn:hover,
      #{{ section.id }} .product-column_btn:focus-visible{
        --button-padding-x: 1.9rem;
      }

      #{{ section.id }} .product-column_btn:hover .product-column_btn-txt,
      #{{ section.id }} .product-column_btn:focus-visible .product-column_btn-txt,
      #{{ section.id }} .product-column_btn--atc .product-column_btn-txt{
        max-width: 222px;
        padding-left: 11px;
      }

      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:hover) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt,
      #{{ section.id }} .product-column_quick-wrap:has(.product-column_btn--quick:focus-visible) + .product-column_atc-wrap .product-column_btn--atc .product-column_btn-txt{
        padding-left: 0;
      }
    {% endif %}

    .related-products_wrapper.internal--spacing{
      padding: 30px;
    }
  }

  @media (min-width: 992px){
    .related-products{
      --desktop-columns-count: 3;
    }
  }

  @media (min-width: 1200px){
    .related-products .--header-padding{
      padding-right: 20%;
    }

    .related-products_slider .splide__arrows{
      top: -48px;
      width: 18%;
      margin-top: 0;
      position: absolute;
      right: 0;
      justify-content: end;
      gap: 11px;
    }
  }
  @media (min-width: 1456px){
    .related-products{
      --desktop-columns-count: 5;
    }
  }

  {%- assign query = '380px' -%}
  @media (min-width: {{ query }}) and (max-width: 767px){
    #{{ section.id }}{
      --desktop-columns-count: {{ section.settings.number_of_columns_on_mobile }};
    }
  }
{% endstyle %}
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icn-cart-{{ section.id }}">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99752 1C9.32076 1 8.64868 1.11532 8.01886 1.34119C7.38904 1.56706 6.81044 1.90034 6.31834 2.3264C5.82606 2.75263 5.42881 3.26454 5.1553 3.83623C4.88981 4.39118 4.74737 4.98924 4.73904 5.59722C2.33404 6.11864 0.653774 8.45373 1.06491 10.9971L1.7594 15.2934C2.13134 17.5943 4.11777 19.2854 6.44853 19.2854H13.5516C15.8823 19.2854 17.8688 17.5943 18.2407 15.2934L18.9352 10.9971C19.3466 8.45193 17.6637 6.11535 15.256 5.59612C15.2475 4.98852 15.1051 4.39085 14.8397 3.83623C14.5662 3.26454 14.169 2.75263 13.6767 2.3264C13.1846 1.90034 12.606 1.56706 11.9762 1.34119C11.3464 1.11532 10.6743 1 9.99752 1ZM13.7512 5.48915C13.7298 5.1467 13.6413 4.8069 13.4866 4.48358C13.3069 4.10801 13.0399 3.7592 12.6949 3.46041C12.3496 3.16147 11.9341 2.91963 11.4698 2.75314C11.0055 2.58664 10.505 2.5 9.99752 2.5C9.49005 2.5 8.9895 2.58664 8.52523 2.75314C8.06098 2.91963 7.64547 3.16147 7.30019 3.46042C6.9551 3.7592 6.68811 4.10801 6.50843 4.48358C6.35375 4.8069 6.26529 5.1467 6.24381 5.48915H13.7512ZM2.54569 10.7578C2.22624 8.78155 3.75217 6.98915 5.75404 6.98915H14.2461C16.2479 6.98915 17.7739 8.78155 17.4544 10.7578L16.7599 15.0541C16.5054 16.6284 15.1463 17.7854 13.5516 17.7854H6.44853C4.8538 17.7854 3.49466 16.6284 3.24018 15.0541L2.54569 10.7578Z" fill="currentColor"/>
    <path d="M8.01886 1.34119L8.12014 1.62358L8.01886 1.34119ZM6.31834 2.3264L6.12198 2.0996L6.31834 2.3264ZM5.1553 3.83623L5.42593 3.9657L5.1553 3.83623ZM4.73904 5.59722L4.8026 5.89041L5.03574 5.83986L5.03901 5.60133L4.73904 5.59722ZM1.06491 10.9971L1.36107 10.9493L1.06491 10.9971ZM1.7594 15.2934L2.05556 15.2456L1.7594 15.2934ZM18.2407 15.2934L17.9446 15.2456V15.2456L18.2407 15.2934ZM18.9352 10.9971L19.2314 11.045V11.045L18.9352 10.9971ZM15.256 5.59612L14.956 5.60031L14.9594 5.83904L15.1927 5.88938L15.256 5.59612ZM14.8397 3.83623L14.5691 3.9657L14.8397 3.83623ZM13.6767 2.3264L13.8731 2.0996L13.6767 2.3264ZM11.9762 1.34119L11.8749 1.62358V1.62358L11.9762 1.34119ZM13.7512 5.48915V5.78915H14.0706L14.0506 5.47037L13.7512 5.48915ZM13.4866 4.48358L13.7572 4.35411L13.7572 4.35411L13.4866 4.48358ZM12.6949 3.46041L12.4985 3.68722L12.4985 3.68722L12.6949 3.46041ZM11.4698 2.75314L11.5711 2.47075V2.47075L11.4698 2.75314ZM8.52523 2.75314L8.42396 2.47075L8.52523 2.75314ZM7.30019 3.46042L7.10382 3.23361L7.30019 3.46042ZM6.50843 4.48358L6.2378 4.35411L6.50843 4.48358ZM6.24381 5.48915L5.9444 5.47037L5.92441 5.78915H6.24381V5.48915ZM2.54569 10.7578L2.84185 10.7099L2.54569 10.7578ZM17.4544 10.7578L17.7506 10.8056V10.8056L17.4544 10.7578ZM16.7599 15.0541L16.4638 15.0062V15.0062L16.7599 15.0541ZM3.24018 15.0541L2.94402 15.1019L3.24018 15.0541ZM8.12014 1.62358C8.71685 1.40958 9.35462 1.3 9.99752 1.3V0.7C9.28691 0.7 8.58052 0.821052 7.91759 1.0588L8.12014 1.62358ZM6.51471 2.55321C6.97744 2.15257 7.52342 1.83758 8.12014 1.62358L7.91759 1.0588C7.25466 1.29655 6.64344 1.64811 6.12198 2.0996L6.51471 2.55321ZM5.42593 3.9657C5.68067 3.43323 6.05186 2.95395 6.51471 2.55321L6.12198 2.0996C5.60025 2.55131 5.17695 3.09584 4.88468 3.70676L5.42593 3.9657ZM5.03901 5.60133C5.04673 5.03782 5.17872 4.48244 5.42593 3.9657L4.88468 3.70676C4.60091 4.29992 4.44801 4.94066 4.43906 5.59311L5.03901 5.60133ZM1.36107 10.9493C0.975991 8.56708 2.54969 6.37886 4.8026 5.89041L4.67547 5.30403C2.11838 5.85843 0.331558 8.34038 0.768756 11.045L1.36107 10.9493ZM2.05556 15.2456L1.36107 10.9493L0.768756 11.045L1.46324 15.3413L2.05556 15.2456ZM6.44853 18.9854C4.26497 18.9854 2.404 17.4011 2.05556 15.2456L1.46324 15.3413C1.85867 17.7875 3.97056 19.5854 6.44853 19.5854V18.9854ZM13.5516 18.9854H6.44853V19.5854H13.5516V18.9854ZM17.9446 15.2456C17.5961 17.4011 15.7351 18.9854 13.5516 18.9854V19.5854C16.0296 19.5854 18.1414 17.7875 18.5369 15.3413L17.9446 15.2456ZM18.639 10.9493L17.9446 15.2456L18.5369 15.3413L19.2314 11.045L18.639 10.9493ZM15.1927 5.88938C17.4482 6.37577 19.0244 8.56539 18.639 10.9493L19.2314 11.045C19.6689 8.33848 17.8792 5.85493 15.3192 5.30286L15.1927 5.88938ZM14.5691 3.9657C14.8162 4.48213 14.9481 5.03715 14.956 5.60031L15.556 5.59193C15.5468 4.93989 15.394 4.29956 15.1104 3.70676L14.5691 3.9657ZM13.4803 2.55321C13.9432 2.95395 14.3144 3.43323 14.5691 3.9657L15.1104 3.70676C14.8181 3.09584 14.3948 2.55131 13.8731 2.0996L13.4803 2.55321ZM11.8749 1.62358C12.4716 1.83758 13.0176 2.15257 13.4803 2.55321L13.8731 2.0996C13.3516 1.64811 12.7404 1.29655 12.0774 1.0588L11.8749 1.62358ZM9.99752 1.3C10.6404 1.3 11.2782 1.40958 11.8749 1.62358L12.0774 1.0588C11.4145 0.821052 10.7081 0.7 9.99752 0.7V1.3ZM14.0506 5.47037C14.0267 5.08862 13.9281 4.71132 13.7572 4.35411L13.216 4.61305C13.3545 4.90248 13.4328 5.20477 13.4518 5.50793L14.0506 5.47037ZM13.7572 4.35411C13.5588 3.93932 13.2658 3.55789 12.8912 3.23361L12.4985 3.68722C12.8141 3.9605 13.0551 4.27669 13.216 4.61305L13.7572 4.35411ZM12.8912 3.23361C12.5166 2.90924 12.0685 2.64912 11.5711 2.47075L11.3685 3.03552C11.7997 3.19015 12.1826 3.41369 12.4985 3.68722L12.8912 3.23361ZM11.5711 2.47075C11.0737 2.29237 10.5388 2.2 9.99752 2.2V2.8C10.4711 2.8 10.9374 2.8809 11.3685 3.03552L11.5711 2.47075ZM9.99752 2.2C9.45619 2.2 8.92133 2.29237 8.42396 2.47075L8.62651 3.03552C9.05766 2.8809 9.52391 2.8 9.99752 2.8V2.2ZM8.42396 2.47075C7.92658 2.64912 7.47846 2.90925 7.10382 3.23361L7.49656 3.68722C7.81247 3.41369 8.19537 3.19015 8.62651 3.03552L8.42396 2.47075ZM7.10382 3.23361C6.72928 3.55789 6.43624 3.93932 6.2378 4.35411L6.77905 4.61305C6.93997 4.27669 7.18091 3.9605 7.49656 3.68722L7.10382 3.23361ZM6.2378 4.35411C6.06691 4.71132 5.96834 5.08862 5.9444 5.47037L6.54322 5.50793C6.56223 5.20477 6.64058 4.90248 6.77905 4.61305L6.2378 4.35411ZM6.24381 5.78915H13.7512V5.18915H6.24381V5.78915ZM5.75404 6.68915C3.56738 6.68915 1.90059 8.64701 2.24953 10.8056L2.84185 10.7099C2.55188 8.9161 3.93696 7.28915 5.75404 7.28915V6.68915ZM14.2461 6.68915H5.75404V7.28915H14.2461V6.68915ZM17.7506 10.8056C18.0995 8.647 16.4327 6.68915 14.2461 6.68915V7.28915C16.0632 7.28915 17.4482 8.9161 17.1583 10.7099L17.7506 10.8056ZM17.0561 15.1019L17.7506 10.8056L17.1583 10.7099L16.4638 15.0062L17.0561 15.1019ZM13.5516 18.0854C15.2935 18.0854 16.7781 16.8216 17.0561 15.1019L16.4638 15.0062C16.2328 16.4352 14.9991 17.4854 13.5516 17.4854V18.0854ZM6.44853 18.0854H13.5516V17.4854H6.44853V18.0854ZM2.94402 15.1019C3.222 16.8216 4.70659 18.0854 6.44853 18.0854V17.4854C5.001 17.4854 3.76732 16.4352 3.53633 15.0062L2.94402 15.1019ZM2.24953 10.8056L2.94402 15.1019L3.53633 15.0062L2.84185 10.7099L2.24953 10.8056Z" fill="currentColor"/>
  </symbol>
  <symbol id="icn-eye-{{ section.id }}">
    <path d="M1.78233 7.45606C1.70732 7.25401 1.70732 7.03175 1.78233 6.82969C2.51282 5.05845 3.75279 3.544 5.34504 2.47832C6.93729 1.41265 8.81011 0.84375 10.7261 0.84375C12.642 0.84375 14.5149 1.41265 16.1071 2.47832C17.6994 3.544 18.9393 5.05845 19.6698 6.82969C19.7448 7.03175 19.7448 7.25401 19.6698 7.45606C18.9393 9.2273 17.6994 10.7418 16.1071 11.8074C14.5149 12.8731 12.642 13.442 10.7261 13.442C8.81011 13.442 6.93729 12.8731 5.34504 11.8074C3.75279 10.7418 2.51282 9.2273 1.78233 7.45606Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10.726 9.8426C12.2171 9.8426 13.4258 8.63383 13.4258 7.14274C13.4258 5.65164 12.2171 4.44287 10.726 4.44287C9.23489 4.44287 8.02612 5.65164 8.02612 7.14274C8.02612 8.63383 9.23489 9.8426 10.726 9.8426Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>  
  </symbol>
  <symbol id="icn-line-{{ section.id }}">
    <line opacity="0.2" x1="1" y1="-4.37114e-08" x2="1" y2="18" stroke="currentColor" stroke-width="2"/>
  </symbol>
</svg>
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {% if section_container_layout == 'container-fluid' or section_container_layout == 'contained-container' %}{{ section_scheme_class }} {{ section_corner_radius }}{% endif %} grid-common" id="{{- section.id -}}" style="--section-padding-top: {{ section.settings.section_top_padding }}px; --section-padding-bottom: {{ section.settings.section_bottom_padding }}px; --mobile-columns-count: {{ section.settings.number_of_columns_on_mobile }}; --mobile-q-align: {{ section.settings.section_mobile_text_alignment }}; --desktop-q-align: {{ section.settings.section_text_alignment }};">
  <div class="{{ section_container_layout }}">
    <div
      class="{{ section_prefix_class }}_wrapper grid-common_wrapper {% if section_container_layout == 'container' %}{{ section_scheme_class }} {{ section_corner_radius }} internal--spacing{% endif %} {% if settings.enable_viewport_anim %}viewport-block{% endif %}"
      data-margin="0px 0px -20px 0px"
      data-frames='[{"opacity":"0"},{"opacity":"1"}]'
      data-options='{"duration":1000,"easing":"ease","delay":0,"fill":"both","iterations":1}'
    >
      {%- if section.settings.section_heading != blank or section.settings.section_caption  != blank or section.settings.section_description != blank -%}
        <header class="heading-head inner-container --word-break --q-align {% if section.settings.thumbnail_layout == 'slider' %}{% if section.settings.show_pagination %}--header-padding{% endif %}{% endif %}" style="--max-content: {{ max_header_size }}px;">
          {%- if section.settings.section_caption != blank -%}
            <div class="{{ section_prefix_class }}_caption --word-break {{ section.settings.section_caption_size }} {{ section.settings.section_caption_weight }} mty">
              {{- section.settings.section_caption -}}
            </div>
          {%- endif -%}
          {%- if section.settings.section_heading != blank -%}
            <h2 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section.settings.section_heading_size }} {{ section.settings.section_heading_weight }} mty">
              {{- section.settings.section_heading -}}
            </h2>
          {%- endif -%}
          {%- if section.settings.section_description != blank -%}
            <div class="{{ section_prefix_class }}_description --h-anchor-none {{ section.settings.description_text_size }} {{ section.settings.section_description_weight }} mty">
              {{- section.settings.section_description -}}
            </div>
          {%- endif -%}
        </header>
      {%- endif -%}
      <product-recommendations class="grid-common_area-wrap" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}&intent=related">
        <div class="product-recommendations product-common_complementary-products">
          {%- if recommendations.performed and recommendations.products_count > 0 -%}
            {%- case section.settings.thumbnail_layout -%}
              {%- when 'slider' -%}
                <splide-slider
                  data-slider-type="default"
                >
                  <div class="splide {{ section_prefix_class }}_slider"
                    data-splide='{
                      "drag": false,
                      "autoplay": {{- section.settings.auto_play -}},
                      "rewind": true,
                      "gap": "24px",
                      "perMove": 1,
                      "perPage": 1,
                      "arrows": {{- section.settings.show_navigation -}},
                      "pagination": {{- section.settings.show_pagination -}},
                      "interval": {{- section.settings.change_slides_every | times: 1000 -}},
                      "mediaQuery": "min",
                      "breakpoints": {
                        "380": {
                          "perPage": {{ section.settings.number_of_columns_on_mobile }}
                        },
                        "768": {
                          "perPage": 2
                        },
                        "992": {
                          "perPage": 3
                        },
                        "1456": {
                          "perPage": 5
                        }
                      },
                      "type": "slide"
                    }'
                  >
                    <div class="splide__track">
                      <div class="splide__list splide-slider--h-scroll" style="--init-divider: 5; --init-mob-divider: {{ section.settings.number_of_columns_on_mobile }};">
                        {%- for recommendation in recommendations.products -%}
                          <div class="splide__slide --slide">
                            {%- liquid
                              render 'product-column', product: recommendation, heading_tag: 'h2', media_size: section.settings.product_media_size, enable_atc: section.settings.enable_atc, show_swatches: section.settings.show_swatches, show_price: section.settings.show_price, show_vendor: section.settings.show_vendor, show_stock_tag: section.settings.show_stock_tag, show_sale_tag: section.settings.show_sale_tag, heading_size: section.settings.product_heading_size, heading_weight: section.settings.product_heading_weight, btns_position: section.settings.btns_position, show_quick_view: section.settings.enable_quick_view, section_id: section.id, show_custom_tag: section.settings.show_custom_tag, loading_attr: 'lazy'
                            -%}
                          </div>
                        {%- endfor -%}
                      </div>
                    </div>
                    {%- if section.settings.show_navigation or section.settings.show_pagination -%}
                      <div class="splide-controls splide__arrows --justify-center">
                        {%- if section.settings.show_navigation -%}
                          <button class="splide__arrow splide__arrow--prev button button--primary button--icn">
                            <span class="visually-hidden">{{- 'accessibility.slider.previous' | t -}}</span>
                            {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'left-arrow' -%}
                          </button>
                        {%- endif -%}
                        <ul
                          class="splide__pagination"
                          role="tablist"
                          aria-label="{{- 'accessibility.slider.pagination_label' | t -}}"
                        ></ul>
                        {%- if section.settings.show_navigation -%}
                          <button class="splide__arrow splide__arrow--next button button--primary button--icn">
                            <span class="visually-hidden">{{- 'accessibility.slider.next' | t -}}</span>
                            {%- render 'icons-data', width: 10, height: 10, use_icon: true, icon_reference: 'right-arrow' -%}
                          </button>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </splide-slider>
              {% when 'thumbnail' %}
                <div class="{{ section_prefix_class }}_grid">
                  {%- for recommendation in recommendations.products -%}
                    <div class="{{ section_prefix_class }}_col">
                      {%- liquid
                        render 'product-column', product: recommendation, heading_tag: 'h2', media_size: section.settings.product_media_size, enable_atc: section.settings.enable_atc, show_swatches: section.settings.show_swatches, show_price: section.settings.show_price, show_vendor: section.settings.show_vendor, show_stock_tag: section.settings.show_stock_tag, show_sale_tag: section.settings.show_sale_tag, heading_size: section.settings.product_heading_size, heading_weight: section.settings.product_heading_weight, btns_position: section.settings.btns_position, show_quick_view: section.settings.enable_quick_view, show_custom_tag: section.settings.show_custom_tag, section_id: section.id, loading_attr: 'lazy'
                      -%}
                    </div>
                  {%- endfor -%}
                </div>
            {%- else -%}
              <div class="custom-scroll custom-scroll--horizontal {{ section_prefix_class }}_cs-scroll">
                {%- for recommendation in recommendations.products -%}
                  <div class="cs-col">
                    {%- liquid
                      render 'product-column', product: recommendation, heading_tag: 'h2', media_size: section.settings.product_media_size, enable_atc: section.settings.enable_atc, show_swatches: section.settings.show_swatches, show_price: section.settings.show_price, show_vendor: section.settings.show_vendor, show_stock_tag: section.settings.show_stock_tag, show_sale_tag: section.settings.show_sale_tag, heading_size: section.settings.product_heading_size, heading_weight: section.settings.product_heading_weight, btns_position: section.settings.btns_position, show_quick_view: section.settings.enable_quick_view, section_id: section.id, show_custom_tag: section.settings.show_custom_tag, loading_attr: 'lazy'
                    -%}
                  </div>
                {%- endfor -%}
              </div>
            {%- endcase -%}
          {%- endif -%}
        </div>
      </product-recommendations>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.recommendations.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.head.content"
    },
    {
      "type": "text",
      "id": "section_caption",
      "label": "t:caption.label",
      "default": "Caption"
    },
    {
      "type": "select",
      "id": "section_caption_size",
      "label": "t:sizes.caption.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "section_caption_weight",
      "label": "t:weight.caption.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-medium"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:heading.label",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "h2",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "h3",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "h4",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "h4"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-extra-bold"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "t:description_text.label"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "text-size--xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-normal"
    },
    {
      "type": "range",
      "id": "max_header_size",
      "label": "t:sections.head.size.label",
      "min": 50,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:product.card.content"
    },
    {
      "type": "select",
      "id": "product_media_size",
      "label": "t:media.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:media.options.opt_1.label"
        },
        {
          "value": "square",
          "label": "t:media.options.opt_2.label"
        },
        {
          "value": "portrait",
          "label": "t:media.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:media.options.opt_4.label"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "product_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "text-size--small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "text-size--medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "text-size--large",
          "label": "t:sizes.text.options.opt_3.label"
        }
      ],
      "default": "text-size--medium"
    },
    {
      "type": "select",
      "id": "product_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "--fw-extra-bold",
          "label": "t:weight.heading.options.opt_6.label"
        },
        {
          "value": "--fw-bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "--fw-semi-bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "--fw-medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "--fw-normal",
          "label": "t:weight.heading.options.opt_3.label"
        },
        {
          "value": "--fw-light",
          "label": "t:weight.heading.options.opt_4.label"
        }
      ],
      "default": "--fw-semi-bold"
    },
    {
      "type": "checkbox",
      "id": "enable_atc",
      "label": "t:product.atc.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_quick_view",
      "label": "t:product.quick_view.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:product.price.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:product.vendor.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_stock_tag",
      "label": "t:product.stock.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sale_tag",
      "label": "t:product.sale.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_custom_tag",
      "label": "t:product.custom_tag.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "select",
      "id": "section_container_layout",
      "label": "t:settings_schema.container_layout.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:settings_schema.container_layout.settings.container.label"
        },
        {
          "value": "contained-content",
          "label": "t:settings_schema.container_layout.settings.contained_content.label"
        },
        {
          "value": "container-fluid",
          "label": "t:settings_schema.container_layout.settings.container_fluid.label"
        }
      ],
      "default": "contained-content"
    },
    {
      "type": "select",
      "id": "section_corner_radius",
      "label": "t:round_crnr.label",
      "options": [
        {
          "value": "no_corners_radius",
          "label": "t:round_crnr.options.opt_1.label"
        },
        {
          "value": "top_corners_radius",
          "label": "t:round_crnr.options.opt_2.label"
        },
        {
          "value": "bottom_corners_radius",
          "label": "t:round_crnr.options.opt_3.label"
        },
        {
          "value": "both_corners_radius",
          "label": "t:round_crnr.options.opt_4.label"
        }
      ],
      "default": "no_corners_radius"
    },
    {
      "type": "select",
      "id": "thumbnail_layout",
      "label": "t:sections.featured_collection.settings.view_as.label",
      "options": [
        {
          "value": "scroll",
          "label": "t:sections.view_layout.options.opt_1.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.view_layout.options.opt_2.label"
        },
        {
          "value": "slider",
          "label": "t:sections.view_layout.options.opt_3.label"
        }
      ],
      "default": "scroll"
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.desktop.label",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "section_mobile_text_alignment",
      "label": "t:alignments.text.mobile.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:grid.content"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 16,
      "step": 1,
      "default": 12,
      "label": "t:sections.featured_collection.settings.products_to_show.label"
    },
    {
      "type": "select",
      "id": "number_of_columns_on_mobile",
      "label": "t:grid.mobile.columns.label",
      "info": "t:grid.mobile.info_small",
      "options": [
        {
          "value": "1",
          "label": "t:grid.mobile.columns.options.opt_1.label"
        },
        {
          "value": "2",
          "label": "t:grid.mobile.columns.options.opt_2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:slideshow.content"
    },
    {
      "type": "checkbox",
      "id": "auto_play",
      "label": "t:slideshow.auto_play.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "t:slideshow.show_arrows.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "t:slideshow.show_nav.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_every",
      "label": "t:slideshow.interval.label",
      "min": 2,
      "max": 9,
      "step": 1,
      "default": 5,
      "unit": "s",
      "info": "t:slideshow.interval.info"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ]
}
{% endschema %}